<template>
        <div class="row justify-content-center">

          <div class="col-12 mt-2-n">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Pencarian Data Kelas</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start wedew -->
                <div class="card-body">
                  <div class="row">
                    
                    <div class="col-md-3">
                      <div class="form-group input-group">
                        <input type="text" class="form-control" placeholder="Pencarian Nama kelas" 
                        v-model="searchClassesModel" @keyup.enter.prevent="searchClasses" />
                        <div class="input-group-append">
                          <button class="btn btn-navbar" @click="searchClasses" type="button">
                            <i class="fa fa-search"></i>
                          </button>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group input-group">
                        <input type="text" class="form-control" placeholder="Pencarian Sub kelas" 
                        v-model="searchClassesSubModel" @keyup.enter.prevent="searchClassesSub" />
                        <div class="input-group-append">
                          <button class="btn btn-navbar" @click="searchClassesSub" type="button">
                            <i class="fa fa-search"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-md-3">
                      <div class="form-group input-group">
                        <input type="text" class="form-control" placeholder="Pencarian Jurusan kelas" 
                        v-model="searchClassesMajorModel" @keyup.enter.prevent="searchClassesMaj" />
                        <div class="input-group-append">
                          <button class="btn btn-navbar" @click="searchClassesMaj" type="button">
                            <i class="fa fa-search"></i>
                          </button>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <span class="float-left mt-1 mr-2">Tampilkan</span>
                        <v-select :options="$static.dataPerPage()"
                        v-model = "dataPage"
                        placeholder = "Jumlah"
                        @input="setSelectedDataPage" class="w150 float-left mr-2"></v-select>
                        <span class="sjdata">Data</span>
                      </div>
                    </div>
                    
                  </div>
                  
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>

          <div class="col-12" v-if="$gate.isAdmin()">
            <div class="card card-secondary">
              <div class="card-header">
                <h3 class="card-title">Master Kelas</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm">
                    <button class="btn btn-success" @click="newModal()" type="button">
                      Add New <i class="fas fa-user-plus fa-fw"></i>
                    </button>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody><tr>
                    <th>Kelas</th>
                    <th>Sub Kelas</th>
                    <th>Jurusan</th>
                    <th>Action</th>
                  </tr>
                  <tr v-for="classe in classes.data" :key="classe.id">
                    <td>{{ classe.class_name }}</td>
                    <td>{{ classe.class_sub_name }}</td>
                    <td>{{ classe.major }}</td>
                    <td>
                        <a @click="updateModal(classe)">
                          <i class="fa fa-edit text-blue"></i>
                        </a> 
                        || 
                        <a @click="deleteClasses(classe.id)">
                          <i class="fa fa-trash text-red"></i>
                        </a>
                    </td>
                  </tr>
                </tbody></table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <pagination :data="classes" @pagination-change-page="loadClasses"></pagination>
              </div>
            </div>
            <!-- /.card -->
          </div>

          <!-- Modal -->
          <div class="modal fade" id="addNewUser" tabindex="-1" role="dialog" aria-labelledby="addNewUserLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 v-show="!editMode" class="modal-title" id="addNewUserLabel">Add New</h5>
                  <h5 v-show="editMode" class="modal-title" id="addNewUserLabel">Update Company's info</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                
                <form @submit.prevent="editMode ? updateClasses() : createClasses()">

                <div class="modal-body">
                  
                  <div class="form-group">
                    <label>Kelas</label>
                    <input v-model="form.class_name" type="text" name="class_name" placeholder="Kelas" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('class_name') }">
                    <has-error :form="form" field="class_name"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Sub Kelas</label>
                    <input v-model="form.class_sub_name" type="text" name="class_sub_name" placeholder="Sub Kelas" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('class_sub_name') }">
                    <has-error :form="form" field="class_sub_name"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Jurusan</label>
                    <input v-model="form.major" type="text" name="major" placeholder="Jurusan" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('major') }">
                    <has-error :form="form" field="major"></has-error>
                  </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button v-show="editMode" type="submit" class="btn btn-success">Update</button>
                  <button v-show="!editMode" type="submit" class="btn btn-primary">Create</button>
                </div>

                </form>

              </div>
            </div>
          </div>

          <div v-if="!$gate.isAdmin()">
            <h3>Halaman tidak di temukan....!!!!!</h3>
            <not-found></not-found>
          </div>
        </div>
</template>

<script>
import moment from 'moment'
import Datepicker from 'vuejs-datepicker';
import 'vue-select/dist/vue-select.css';

    export default {
        data(){
          return {
            editMode : false,
            classes : {},
            searchClassesModel : null,
            searchClassesSubModel : null,
            searchClassesMajorModel : null,
            dataPage : 10,
            getParmas : {},
            form : new Form({
                        id: '',
                        class_name: '',
                        class_sub_name: '',
                        major: ''
                    }),
          }
        },
        components: {
          Datepicker
        },
        methods: {
          // getResults(page = 1){
          //   axios.get('/api/classes?page='+page)
          //   .then(response => {
          //     this.classes = response.data
          //   });
          // },
          updateClasses() {
            this.$Progress.start()
            this.form.put('/api/classes/'+this.form.id)
            .then( ()=> {
              Fire.$emit('AfterCreate')
              $('#addNewUser').modal('hide')
              this.form.reset();
              Swal.fire( 'Updated!', 'School data is updated.', 'success' )
              this.$Progress.finish()
            })
            .catch( ()=> {
              this.$Progress.fail()
            })
          },
          updateModal(classes) {
            this.form.reset();
            this.editMode = true
            $('#addNewUser').modal('show')
            this.form.fill(classes)
          },
          newModal() {
            this.form.reset();
            this.editMode = false
            $('#addNewUser').modal('show')
          },
          deleteClasses(id) {
            Swal.fire({
              title: 'Are you sure?',
              text: "You won't be able to revert this!",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
              if (result.value) {
                // Send request to the server
                this.form.delete('/api/classes/'+id)
                .then( () => {
                    Fire.$emit('AfterCreate')
                    Swal.fire(
                      'Deleted!',
                      'Your file has been deleted.',
                      'success'
                    )
                })
                .catch( () => {
                  Swal.fire( 'Failed!', 'There was something wrong.', 'warning' )
                })
              }
            })
          },
          loadClasses (page = 1) {
            if(this.$gate.isAdmin){
              let params = '';
              var newParams = jQuery.param( this.getParmas );
              console.log('newParams', newParams);
              params = '&'+newParams

              this.$Progress.start()

              axios.get("/api/classes?page="+page+params)
              .then( ( data ) => {
                this.classes = data.data
                this.$Progress.finish()
              })
            }
          },
          createClasses () {
            this.$Progress.start()
            this.form.post('/api/classes')
              .then(({ data }) => { 
                console.log(data) 
                Fire.$emit('AfterCreate')
                $('#addNewUser').modal('hide')
                toast.fire({
                  type: 'success',
                  title: 'Berhasil menginput data sekolah baru'
                })

                this.form.reset();
                
                this.$Progress.finish()
              })
              .catch((error)=>{
                  console.log(error)
                  this.$Progress.finish()
              });
          },
          searchClasses(){
            this.getParmas.cariKelas = this.searchClassesModel
            this.loadClasses()
          },
          setSelectedDataPage(){
            this.getParmas.perPage = this.dataPage
            this.loadClasses()
          },
          searchClassesSub(){
            this.getParmas.cariKelasSub = this.searchClassesSubModel
            this.loadClasses()
          },
          searchClassesMaj(){
            this.getParmas.cariKelasMaj = this.searchClassesMajorModel
            this.loadClasses()
          }
        },
        mounted() {
            console.log('Component mounted.')
            console.log(this.$gate.isAdmin())
        },
        created(){
          this.$parent.search = ''
          this.loadClasses();
          Fire.$on('AfterCreate', () => {
            this.loadClasses()
          })
          // Fire.$on('searching', () => {
          //   let query = this.$parent.search
          //   axios.get('/api/findClasses?q='+query)
          //   .then((data) => {
          //     this.classes = data.data
          //     console.log(this.classes);
          //   })
          //   .catch(() => {
          //     alert("Error when search...!!!!");
          //   })
          // })
          // setInterval( () => this.loadTeachers(), 3000);
        }
    }
</script>

<style type="text/css">
  input[name="year_of_entry"]{
    border: none;
    width: 100%;
  }
</style>
