<template>
        <div class="row justify-content-center">

          <div class="col-12 mt-2-n">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Pencarian Data Sekolah</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start wedew -->
                <div class="card-body">
                  <div class="row">
                    
                    <div class="col-md-6">
                      <div class="form-group input-group">
                        <input type="text" class="form-control" placeholder="Pencarian Nama sekolah" 
                        v-model="searchCompanyModel" @keyup.enter.prevent="searchCompany" />
                        <div class="input-group-append">
                          <button class="btn btn-navbar" @click="searchCompany" type="button">
                            <i class="fa fa-search"></i>
                          </button>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group">
                        <span class="float-left mt-1 mr-2">Tampilkan</span>
                        <v-select :options="$static.dataPerPage()"
                        v-model = "dataPage"
                        placeholder = "Jumlah"
                        @input="setSelectedDataPage" class="w150 float-left mr-2"></v-select>
                        <span class="sjdata">Data</span>
                      </div>
                    </div>
                    
                  </div>
                  
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>

          <div class="col-12" v-if="$gate.isAdmin()">
            <div class="card card-secondary">
              <div class="card-header">
                <h3 class="card-title">Tabel Daftar Sekolah</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm">
                    <button class="btn btn-success" @click="newModal()" type="button">
                      Tambah Baru <i class="fas fa-user-plus fa-fw"></i>
                    </button>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody><tr>
                    <th>Nama Sekolah</th>
                    <th>Website</th>
                    <th>Email</th>
                    <th>No Telephone</th>
                    <th>Provinsi</th>
                    <th>Kota</th>
                    <th>Kecamatan</th>
                    <th>Klasifikasi</th>
                    <th>Modify</th>
                  </tr>
                  <tr v-for="company in companies.data" :key="company.id">
                    <td>{{ company.company_name | upText  }}</td>
                    <td>{{ company.website }}</td>
                    <td>{{ company.email }}</td>
                    <td>{{ company.phone1 }}</td>
                    <td>{{ company.province }}</td>
                    <td>{{ company.city }}</td>
                    <td>{{ company.district }}</td>
                    <td>{{ company.classification | upText }}</td>
                    <td>
                        <a href="#" @click="updateModal(company)">
                          <i class="fa fa-edit text-blue"></i>
                        </a> 
                        || 
                        <a href="#" @click="deleteCompany(company.id)">
                          <i class="fa fa-trash text-red"></i>
                        </a>
                    </td>
                  </tr>
                </tbody></table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <pagination :data="companies" @pagination-change-page="getResults"></pagination>
              </div>
            </div>
            <!-- /.card -->
          </div>

          <!-- Modal -->
          <div class="modal fade" id="addNewUser" tabindex="-1" role="dialog" aria-labelledby="addNewUserLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 v-show="!editMode" class="modal-title" id="addNewUserLabel">Tambah Baru</h5>
                  <h5 v-show="editMode" class="modal-title" id="addNewUserLabel">Update Data Sekolah</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                
                <form @submit.prevent="editMode ? updateCompany() : createCompany()">

                <div class="modal-body">
                  
                  <div class="form-group">
                    <label>Nama Sekolah</label>
                    <input v-model="form.company_name" type="text" name="company_name" placeholder="Nama Sekolah" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('company_name') }">
                    <has-error :form="form" field="company_name"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Website</label>
                    <input v-model="form.website" type="text" name="website" placeholder="Website" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('website') }">
                    <has-error :form="form" field="website"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Email</label>
                    <input v-model="form.email" type="text" name="email" placeholder="Email" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                    <has-error :form="form" field="email"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Jenis Langganan</label>
                    <!-- <input v-model="form.gender" type="text" name="gender" placeholder="Jenis Kelamin" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('gender') }"> -->
                    <select v-model="selOpt" name="selOpt" class="form-control" :options="options">
                      <option v-for="option in options" v-bind:value="option.id">
                        {{ option.text }}
                      </option>
                    </select>
                    <has-error :form="form" field="gender"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Provinsi</label>
                    <v-select :options="provinces"
                    v-model="form.province" 
                    :class="{ 'is-invalid': form.errors.has('province') }"
                    @input="setSelectedProvinces"></v-select>
                    <has-error :form="form" field="province"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Kota / Kabupaten</label>
                    <v-select :options="regencies"
                    v-model="form.city" 
                    :class="{ 'is-invalid': form.errors.has('city') }"
                    @input="setSelectedRegencies"></v-select>
                    <has-error :form="form" field="city"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Kecamatan</label>
                    <v-select :options="districts"
                    v-model="form.district" 
                    :class="{ 'is-invalid': form.errors.has('district') }"
                    @input="setSelectedDistricts"></v-select>
                    <has-error :form="form" field="district"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Alamat</label>
                    <textarea v-model="form.address" class="form-control" name="address" 
                    :class="{ 'is-invalid': form.errors.has('address') }"></textarea>
                    <has-error :form="form" field="address"></has-error>
                  </div>

                  <div class="form-group">
                    <label>No Telephone</label>
                    <input v-model="form.phone1" type="text" name="phone1" placeholder="No Telephone" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('phone1') }">
                    <has-error :form="form" field="phone1"></has-error>
                  </div>

                  <div class="form-group">
                    <label>No Telephone2</label>
                    <input v-model="form.phone2" type="text" name="phone2" placeholder="No Telephone 2" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('phone2') }">
                    <has-error :form="form" field="phone2"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Nama Bank</label>
                    <input v-model="form.bank_name" type="text" name="bank_name" placeholder="Nama Bank" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('bank_name') }">
                    <has-error :form="form" field="bank_name"></has-error>
                  </div>

                  <div class="form-group">
                    <label>No Akun Bank</label>
                    <input v-model="form.bank_account" type="text" name="bank_account" placeholder="No Akun Bank" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('bank_account') }">
                    <has-error :form="form" field="bank_account"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Nama Akun Bank</label>
                    <input v-model="form.bank_account_name" type="text" name="bank_account_name" placeholder="Nama Akun Bank" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('bank_account_name') }">
                    <has-error :form="form" field="bank_account_name"></has-error>
                  </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button v-show="editMode" type="submit" class="btn btn-success">Update</button>
                  <button v-show="!editMode" type="submit" class="btn btn-primary">Create</button>
                </div>

                </form>

              </div>
            </div>
          </div>

          <div v-if="!$gate.isAdmin()">
            <h3>Halaman tidak di temukan....!!!!!</h3>
            <not-found></not-found>
          </div>
        </div>
</template>

<script>
import moment from 'moment'
import Datepicker from 'vuejs-datepicker';
import 'vue-select/dist/vue-select.css';

    export default {
        data(){
          return {
            editMode : false,
            companies : {},
            provinces : [],
            regencies : [],
            districts : [],
            searchCompanyModel : null,
            dataPage : 10,
            getParmas : {},
            form : new Form({
                        id: '',
                        company_name: '',
                        website: '',
                        email: '',
                        phone1: '',
                        phone2: '',
                        province: '',
                        city: '',
                        district: '',
                        address : '',
                        classification : 'basic',
                        bank_name : '',
                        bank_account : '',
                        bank_account_name : '',
                    }),

            options: [
              { id: 'basic', text: 'Basic' },
              { id: 'mid', text: 'Middle' },
              { id: 'full', text: 'Full' }
            ],
            selOpt:'basic'
          }
        },
        components: {
          Datepicker
        },
        methods: {
          updateCompany() {
            this.$Progress.start()
            this.form.put('/api/companies/'+this.form.id)
            .then( ()=> {
              Fire.$emit('AfterCreate')
              $('#addNewUser').modal('hide')
              this.form.reset();
              Swal.fire( 'Updated!', 'School data is updated.', 'success' )
              this.$Progress.finish()
            })
            .catch( ()=> {
              this.$Progress.fail()
            })
          },
          updateModal(user) {
            this.form.reset();
            this.editMode = true
            $('#addNewUser').modal('show')
            this.form.fill(user)
          },
          newModal() {
            this.form.reset();
            this.editMode = false
            $('#addNewUser').modal('show')
          },
          deleteCompany(id) {
            Swal.fire({
              title: 'Are you sure?',
              text: "You won't be able to revert this!",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
              if (result.value) {
                // Send request to the server
                this.form.delete('/api/companies/'+id)
                .then( () => {
                    Fire.$emit('AfterCreate')
                    Swal.fire(
                      'Deleted!',
                      'Your file has been deleted.',
                      'success'
                    )
                })
                .catch( () => {
                  Swal.fire( 'Failed!', 'There was something wrong.', 'warning' )
                })
              }
            })
          },
          loadCompanies (page = 1) {
            if(this.$gate.isAdmin){
              let params = '';
              var newParams = jQuery.param( this.getParmas );
              console.log('newParams', newParams);
              params = '&'+newParams

              this.$Progress.start()

              axios.get("/api/companies?page="+page+params)
              .then( ( data ) => {
                this.companies = data.data
                this.$Progress.finish()
              });
            }
          },
          createCompany () {
            this.$Progress.start()
            this.form.post('/api/companies')
              .then(({ data }) => { 
                console.log(data) 
                Fire.$emit('AfterCreate')
                $('#addNewUser').modal('hide')
                toast.fire({
                  type: 'success',
                  title: 'Berhasil menginput data sekolah baru'
                })

                this.form.reset();
                
                this.$Progress.finish()
              })
              .catch((error)=>{
                  console.log(error)
                  this.$Progress.finish()
              });
          },
          loadProvinces(){
            axios.get('/api/provinces')
            .then((data) => {
              for(let i = 0; i < data.data.length; i++) {
                this.provinces.push(data.data[i].province_name);
              }
              console.log(this.provinces)
            })
            .catch(() => {
              alert('Error when show provinces')
            })
          },
          loadRegencies(province){
            axios.get('/api/regencies?province_name=' + province)
            .then((data) => {
              this.regencies = []
              for(let i = 0; i < data.data.length; i++) {
                this.regencies.push(data.data[i].name);
              }
              console.log(this.regencies)
            })
            .catch(() => {
              alert('Error when show regencies')
            })
          },
          loadDistricts(regency){
            axios.get('/api/districts?regency_name=' + regency)
            .then((data) => {
              this.districts = []
              for(let i = 0; i < data.data.length; i++) {
                this.districts.push(data.data[i].name);
              }
              console.log(this.districts)
            })
            .catch(() => {
              alert('Error when show districts')
            })
          },
          setSelectedProvinces(value) {
            console.log('province', value)
            this.loadRegencies(value)
            this.form.province = value
            this.districts = []
            this.form.city = ''
            this.form.district = ''
          },
          setSelectedRegencies(value) {
            console.log('regency', value)
            this.loadDistricts(value)
            this.form.city = value
            this.form.district = ''
          },
          setSelectedDistricts(value){
            console.log('district', value)
            this.form.district = value
          },
          searchCompany(){
            this.getParmas.cariCompany = this.searchCompanyModel
            this.loadCompanies();
          },
          setSelectedDataPage(){
            this.getParmas.perPage = this.dataPage
            this.loadCompanies();
          }
        },
        watch: {
          // whenever question changes, this function will run
          selOpt: function (newQuestion, oldQuestion) {
            this.form.classification = newQuestion;
          }
        },
        mounted() {
            console.log('Component mounted.')
        },
        created(){
          this.$parent.search = ''
          this.loadCompanies();
          this.loadProvinces();
          Fire.$on('AfterCreate', () => {
            this.loadCompanies()
          })
          // Fire.$on('searching', () => {
          //   let query = this.$parent.search
          //   axios.get('/api/findCompany?q='+query)
          //   .then((data) => {
          //     this.companies = data.data
          //     console.log(this.companies);
          //   })
          //   .catch(() => {
          //     alert("Error when search...!!!!");
          //   })
          // })
          // setInterval( () => this.loadTeachers(), 3000);
        }
    }
</script>

<style type="text/css">
  input[name="year_of_entry"]{
    border: none;
    width: 100%;
  }
</style>
