<template>
        <div class="row justify-content-center">
          <div class="col-12">

            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Cari Data</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start wedew -->
              <form role="form">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <v-select :options="classesSearch"
                        placeholder = "Pilih Kelas"
                        @input="setSelectedClassesSearch"></v-select>
                      </div>
                    </div>

                    <!-- <div class="col-md-6">
                      <div class="form-group input-group">
                        <input type="text" class="form-control" placeholder="Cari berdasarkan NI(G/S), Nama" 
                        v-model="searchStudentModel" />
                        <div class="input-group-append">
                          <button class="btn btn-navbar" @click="searchStudent" type="button">
                            <i class="fa fa-search"></i>
                          </button>
                        </div>
                      </div>
                    </div> -->
                    
                  </div>
                  
                </div>
                <!-- /.card-body -->
              </form>
            </div>

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">History Users Table</h3>

                <!-- <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 250px;">
                    <button class="btn btn-success pull-left mr-2" @click="newModal()" type="button">
                      Add New <i class="fas fa-user-plus fa-fw"></i>
                    </button>

                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search" style="top: 3px;">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                  </div>
                </div> -->
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody><tr>
                    <th>NI(G/S)</th>
                    <th>Nama</th>
                    <th>Kelas</th>
                    <th>Tipe</th>
                    <th>Detil</th>
                  </tr>
                  <tr v-for="user in users.data" :key="user.id">
                    <td v-if="user.type === 'T'">{{ user.nig }}</td>
                    <td v-if="user.type === 'S'">{{ user.nis }}</td>
                    <td>{{ user.first_name | upText }} {{ user.last_name | upText }}</td>
                    <td v-if="user.type === 'T'">{{ user.teacher_class }}</td>
                    <td v-if="user.type === 'S'">{{ user.student_class }}</td>
                    <td v-if="user.type === 'T'">{{ "teacher" | upText }}</td>
                    <td v-if="user.type === 'S'">{{ "student" | upText }}</td>
                    <td>
                      <router-link :to="`#`">
                        <i class="fas fa-eye text-green"></i>
                      </router-link>
                    </td>
                    <!-- <td> -->
                        <!-- <router-link :to="`/users/view/${user.id}`">
                          <i class="fas fa-eye text-green"></i>
                        </router-link> -->
                        <!-- ||
                        <a href="#" @click="updateModal(subject)">
                          <i class="fa fa-edit text-blue"></i>
                        </a>
                        ||
                        <a href="#" @click="deleteSubjects(subject.id)">
                          <i class="fa fa-trash text-red"></i>
                        </a> -->
                    <!-- </td> -->
                  </tr>
                </tbody></table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>

          <!-- Modal -->
          <!-- <div class="modal fade" id="addNewUser" tabindex="-1" role="dialog" aria-labelledby="addNewUserLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 v-show="!editMode" class="modal-title" id="addNewUserLabel">Add New</h5>
                  <h5 v-show="editMode" class="modal-title" id="addNewUserLabel">Update Subject's info</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <form @submit.prevent="editMode ? updateSubjects() : createSubjects()">

                <div class="modal-body">

                  <div class="form-group">
                    <label>Mata Pelajaran</label>
                    <input v-model="form.subject_name" type="text" name="subject_name" placeholder="Mata Pelajaran"
                      class="form-control" :class="{ 'is-invalid': form.errors.has('subject_name') }">
                    <has-error :form="form" field="subject_name"></has-error>
                  </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button v-show="editMode" type="submit" class="btn btn-success">Update</button>
                  <button v-show="!editMode" type="submit" class="btn btn-primary">Create</button>
                </div>

                </form>

              </div>
            </div>
          </div> -->
        </div>
</template>

<script>
// import moment from "moment";
// import Datepicker from "vuejs-datepicker";

export default {
  data() {
    return {
      // editMode: false,
      classesSearch : [],
      users: []
      /*form: new Form({
        id: "",
        subject_name: "",
        active: "",
        insert_by: "",
        update_by: ""
      })*/
    };
  },
  // components: {
    // Datepicker
  // },
  methods: {
    /* updateSubjects() {
      this.$Progress.start();
      this.form
        .put("/api/subjects/" + this.form.id)
        .then(() => {
          Fire.$emit("AfterCreate");
          $("#addNewUser").modal("hide");
          this.form.reset();
          Swal.fire("Updated!", "Subject data sudah updated.", "success");
          this.$Progress.finish();
        })
        .catch(() => {
          this.$Progress.fail();
        });
    }, */
    /* updateModal(year) {
      this.form.reset();
      this.editMode = true;
      $("#addNewUser").modal("show");
      this.form.fill(year);
    }, */
    /* newModal() {
      this.form.reset();
      this.editMode = false;
      $("#addNewUser").modal("show");
    }, */
    /* deleteSubjects(id) {
      Swal.fire({
        title: "Apa anda yakin?",
        text: "Anda tidak dapat mengembalikan data yang sudah di hapus!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "ya, Hapus Saja!"
      }).then(result => {
        if (result.value) {
          // Send request to the server
          this.form
            .delete("/api/subjects/" + id)
            .then(() => {
              Fire.$emit("AfterCreate");
              Swal.fire("Deleted!", "Data anda sudah terhapus.", "success");
            })
            .catch(() => {
              Swal.fire("Failed!", "There was something wrong.", "warning");
            });
        }
      });
    }, */
    loadUsers(param = null) {
      let url = ''
      if(param != null) {
        url = '?cari-kelas='+param
      }
      axios.get("/api/history-users"+url).then((data) => {
        
        this.users = data.data;
        console.log('users', this.users);
      });
    },
    /* createSubjects() {
      this.$Progress.start();
      this.form
        .post("/api/subjects")
        .then(({ data }) => {
          console.log(data);
          Fire.$emit("AfterCreate");
          $("#addNewUser").modal("hide");
          toast.fire({
            type: "success",
            title: "Berhasil menginput data subject baru"
          });

          this.form.reset();

          this.$Progress.finish();
        })
        .catch(error => {
          console.log(error);
          this.$Progress.finish();
        });
    }, */
    // customFormatter(date) {
      // return moment(date).format('MMMM Do YYYY, h:mm:ss a');
      // return moment(date).format("YYYY-MM-DD");
    // }
    loadClasses(){
      axios.get('/api/classes')
      .then((data) => {
        let dataNew = data.data.data;
        for(let i = 0; i < dataNew.length; i++) {
          this.classesSearch.push({label:dataNew[i].class_name + ' ' + dataNew[i].major + ' ' + dataNew[i].class_sub_name, code: dataNew[i].id});
        }
        this.classesSearch.push({label: 'Semua Kelas', code: 0});
        console.log('classesSel', this.classes)
      })
      .catch(() => {
        alert('Error when show classes')
      })
    },
    setSelectedClassesSearch(value){
      this.loadUsers(value.code);
    },
  },
  mounted() {
    console.log("Component mounted.");
    // console.log('userid : '+this.$route.params.userid)
  },
  created() {
    this.loadUsers();
    this.loadClasses();
    Fire.$on("AfterCreate", () => {
      this.loadUsers();
    });
  }
};
</script>

<!-- <style type="text/css"> 
input[name="year_of_entry"] {
  border: none;
  width: 100%;
} 
</style> -->
