<template>
  <div class="row justify-content-center">
    <div class="col-12 mt-2-n">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Nota Pembayaran</h3>
        </div>
        <!-- /.card-header -->
        <div id="printdWew">
          <h2 style="text-align: center; margin: 2px 0;">NOTA PEMBAYARAN</h2>
          <hr />
            <table style="width: 100%;">
                <tr>
                    <th style="width: 10%;">NIS </th>
                    <th style="width: 2%; text-align: center;"> : </th>
                    <td style="width: 48%;">{{ user.nis }}</td>
                    <th style="width: 20%;">Kelas</th>
                    <th style="width: 2%; text-align: center;"> : </th>
                    <td style="width: 18%;">
                      {{ user.class_name }}{{ user.major }} - {{ user.class_sub_name }}
                    </td>
                </tr>
                <tr>
                    <th style="width: 10%;">Nama </th>
                    <th style="width: 2%; text-align: center;"> : </th>
                    <td style="width: 48%;">{{ user.first_name }} {{ user.last_name }}</td>
                    <th style="width: 20%;">Tahun Ajaaran</th>
                    <th style="width: 2%; text-align: center;"> : </th>
                    <td style="width: 18%;">{{ invoiceYear.year_name }}</td>
                </tr>
                <tr>
                    <th style="width: 10%;">Tanggal </th>
                    <th style="width: 2%; text-align: center;"> : </th>
                    <td style="width: 88%;" colspan="4">{{ invoice.created_at | myDateInv2 }}</td>
                </tr>
            </table>

            <table class="table table-condensed table-striped mt-2-p">
              <thead>
                  <tr>
                      <th style="border-top: 1px solid #000; border-bottom: 1px solid #000;" width="1%">No.</th>
                      <th style="text-align: left; border-top: 1px solid #000; border-bottom: 1px solid #000;">Pembayaran</th>
                      <th style="text-align: center; border-top: 1px solid #000; border-bottom: 1px solid #000;">Bulan</th>
                      <th style="text-align: center; border-top: 1px solid #000; border-bottom: 1px solid #000;">Biaya</th>
                      <th style="text-align: right; border-top: 1px solid #000; border-bottom: 1px solid #000;">Subtotal</th>
                  </tr>
              </thead>
              <tbody>
                <tr v-for="(invDet, index) in invoiceDets" :key="invDet.id">
                    <td class="text-left">{{ index+1 }}</td>
                    <td class="text-left">{{ invDet.prod_nm }}</td>
                    <td class="text-center">{{ invoice.from_dt | myDateInv }}</td>
                    <td class="text-right">{{ invDet.sale_prc | amountFormat }}</td>
                    <td class="text-right">{{ invDet.sale_prc | amountFormat }}</td>
                </tr>
              </tbody>
                <tfoot>
                    <tr>
                      <td colspan="5" style=""><hr /></td>
                    </tr>
                    <tr>
                        <td colspan="4" class='text-right' style="text-align: right;">Total :</td>
                        <th colspan="1" class='text-right' style="text-align: right;">{{ totAmt | amountFormat }}</th>
                    </tr>
                </tfoot>
          </table>


          <table class="table mt-2-p" style="width: 100%">
              <thead>
                  <tr>
                      <th style="" width="80%">
                        &nbsp;
                      </th>
                      <th style="text-align: center;" width="20%">
                        Admin
                        <br />
                        <br />
                        <br />
                        Ariandi Nugraha
                      </th>
                  </tr>
              </thead>
          </table>
        </div>
      </div>
      <!-- /.card -->
    </div>

    

    <!-- Modal -->
    
  </div>
</template>

<script>
import moment from 'moment'
import Datepicker from 'vuejs-datepicker';

    export default {
        data(){
          return {
            invoices : [],
            invoiceDets : [],
            // user_ids : [],
            user : {},
            invoice : {},
            invoiceYear : {},
            years : [],
            d : '',
            Printd : '',
            yearSearchModel : '',
            // yearSearchModelCode : 0,
            totAmt : 0,
            params : {},
            cssText: `.mt-2-p{
                        margin-top: 20px;
                      }
                      .text-right{
                        text-align : right
                      }
                      .text-center{
                        text-align : center
                      }

                      button {
                        background-color: #f0f0f0;
                        border: solid 1px #bbb;
                        padding: 10px;
                        font-size: 15px;
                        border-radius: 5px;
                      }

                      pre {
                        color: #c7254e;
                      }`
          }
        },
        components: {
          Datepicker
        },
        methods: {
          loadInvoiceById() {
            axios.get("/api/invoice-by-id/"+this.$route.params.id)
            .then( ({ data }) => {
              this.invoice = data.invoice
              this.invoiceDets = data.invoiceDets
              this.invoiceYear = data.invoiceYear
              console.log('invoiceYear', this.invoiceYear)
              console.log('Invoice', this.invoice)
              console.log('invoiceDets', this.invoiceDets)
              this.loadUserById(this.invoice.user_id)

              let totAmt = 0
              this.invoiceDets.forEach(function (value, index) {
                console.log(value.sale_prc);
                totAmt += parseInt(value.sale_prc)
              }); 
              this.totAmt = totAmt
              console.log('totAmt', this.totAmt)
            });
          },
          loadUserById (id) {
            axios.get("/api/users/"+id)
            .then( ({ data }) => {
              console.log(data)
              this.user = data
              console.log('user', this.user)
            });
          },
          print() {
            let stylesHtml = '';
            for (const node of [...document.querySelectorAll('link[rel="stylesheet"], style')]) {
              stylesHtml += node.outerHTML;
            }

            const prtHtml = $('#printdWew').html();
            console.log('stylesHtml', stylesHtml)
            const WinPrint = window.open();
            WinPrint.document.write("<!DOCTYPE html>"
                                    +"<html>"
                                      +"<head>"
                                      +stylesHtml
                                      +"<style>"
                                      +this.cssText
                                      +"</style>"
                                      +"</head>"
                                      +"<body>"
                                        +prtHtml
                                      +"</body>"
                                    +"</html>");

            WinPrint.document.close();
            WinPrint.focus();
            WinPrint.print();
            WinPrint.close();
            window.onafterprint = function(){
               this.$router.push({ path: '/invoices-print/'+id })
            }
          },
        },
        mounted() {
            console.log('Component mounted.')
        },
        created(){
          this.loadInvoiceById();
          setTimeout(() => {
            this.print()
          }, 1000);
          Fire.$on('AfterCreate', () => {
            // this.loadInvoices()
          })
        }
    }
</script>

<style type="text/css">
  input[name="year_of_entry"]{
    border: none;
    width: 100%;
  }
  .mt-2-n{
    margin-top: -20px;
  },
  .mt-2-p{
    margin-top: 20px;
  },
  .payed{
    background:#38c172
  }
  .notPayed{
    background:#e3342f
  }
  .aTable{
    text-decoration: underline !important;
    cursor: pointer;
    font-weight: bold;
  }
  @media (min-width: 700px){
    .modal-dialog {
        max-width: 700px;
        margin: 1.75rem auto;
    }
  }
</style>
