<template>
  <div class="row justify-content-center">
    <div class="col-md-12 mt-2-n">
      <!-- Horizontal Form -->
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Tambah Bayaran Siswa</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form class="form-horizontal" @submit.prevent="createInvoice()">
          <div class="card-body">
            <div class="form-group row">
              <label for="student_name" class="col-sm-2 control-label">Nama Siswa</label>
              <div class="col-sm-10">
                <!-- <input type="text" class="form-control" v-model="user.full_name" readonly> -->
                {{ user.full_name }}
              </div>
            </div>
            <div class="form-group row">
              <label for="jenisBayaran" class="col-sm-2 control-label">Jenis Bayaran</label>
              <div class="clone1 col-sm-10">
                <div v-for="(forSel, index) in forSelProd">
                  <div class="row" style="margin-bottom: 5px;">
                    <div class="col-sm-5">
                      <v-select :options="prodSelList[index]"
                        :value="prodSel[index]"
                        placeholder="Pilih Jenis Bayaran" :clearable="false"
                        @input="setSelectedProdList($event, index)"></v-select>
                    </div>
                    <div class="col-sm-5">
                      <vue-numeric currency="Rp" separator="," v-model="amt[index]" :class='"form-control amt_"+index' :read-only="true"></vue-numeric>
                    </div>
                    <div class="col-sm-2">
                      <button type="button" class="btn btn-success" @click="addProdClone">Tambah</button>
                      <button type="button" class="btn btn-danger" 
                      @click="deleteProdClone({amt:amt[index], prodName:prodSel[index], prodCode:prodSelCode[index], key:index})">Hapus</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="total_amt" class="col-sm-2 control-label">Total Bayaran Bulanan</label>
              <div class="col-sm-10">
                <vue-numeric currency="Rp" separator="," v-model="totalAmt" :read-only="true"></vue-numeric>
              </div>
            </div>

            <div class="form-group row">
              <label for="year" class="col-sm-2 control-label">Tahun</label>
              <div class="col-sm-10">
                <v-select :options="yearArr"
                        v-model="years"
                        placeholder="Pilih Tahun" :clearable="false"
                        @input="setSelectedYearList"></v-select>
              </div>
            </div>

            <hr />

            <div class="form-group row">
              <label for="month" class="col-sm-2 control-label">Bulan</label>
              <div class="col-sm-10">
                <div v-for="(forSelm, index) in forSelMonth">
                  <div class="row" style="margin-bottom: 5px;">
                    <div class="col-sm-8">
                      <v-select :options="monthSelList"
                      :value="monthSel[index]"
                      placeholder="Pilih Jenis Bayaran" :clearable="false"
                      @input="setSelectedMonthList($event, index)"></v-select>
                    </div>

                    <div class="col-sm-4">
                      <button type="button" class="btn btn-success" @click="addMonthClone">Tambah</button>
                      <button type="button" class="btn btn-danger" 
                      @click="deleteMonthClone({monthSel:monthSel[index],monthCode:monthCode[index],key:index})">Hapus</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <button type="submit" class="btn btn-info">Simpan</button>
            <router-link to='/invoices' class="btn btn-default float-right">Kembali</router-link>
          </div>
          <!-- /.card-footer -->
        </form>
      </div>
      <!-- /.card -->
      <!-- general form elements disabled -->
      
      <!-- /.card -->
    </div>    
  </div>
</template>

<script>
import moment from 'moment'
import Datepicker from 'vuejs-datepicker';

    export default {
        data(){
          return {
            prodSel : [],
            prodSelCode : [],
            prodSelList : [],
            prodSelListTemp : [],
            amt : [],
            // monthSelList : [],
            monthSel : [],
            monthCode : [],
            totalAmt : 0,
            user : '',
            years : '',
            yearArr : [],
            form : new Form({
                        user_id: '',
                        total_amt: '',
                        thn_ajaran: '',
                        from_dt: '',
                        to_dt: '',
                        prod_nm : '',
                        prod_id : '',
                        sale_prc : '',
                        month : '',
                        year : '',
                    }),
            params : {},
            forSelProd : ["satu"],
            forSelMonth : ["satu"],
            monthSelList : [
              {label:'Januari', code:'01'},
              {label:'Februari', code:'02'},
              {label:'Maret', code:'03'},
              {label:'April', code:'04'},
              {label:'Mei', code:'05'},
              {label:'Juni', code:'06'},
              {label:'Juli', code:'07'},
              {label:'Agustus', code:'08'},
              {label:'September', code:'09'},
              {label:'Oktober', code:'10'},
              {label:'November', code:'11'},
              {label:'Desember', code:'12'},
            ],
          }
        },
        components: {
          Datepicker
        },
        methods: {
          addProdClone(){
            this.forSelProd.push("tambah")
            this.loadProducts()
          },
          addMonthClone(){
            this.forSelMonth.push("tambah")
          },
          deleteProdClone(params){
            console.log(params)
            const index = this.forSelProd.indexOf("tambah", 0);
            if (index > -1) {
               this.forSelProd.splice(index, 1);
            }
            const index2 = this.prodSel.indexOf(this.prodSel[params.key], 0);
            if (index2 > -1) {
               this.prodSel.splice(index2, 1);
            }
            const index3 = this.prodSelCode.indexOf(this.prodSelCode[params.key], 0);
            if (index3 > -1) {
               this.prodSelCode.splice(index3, 1);
            }
            const index4 = this.amt.indexOf(this.amt[params.key], 0);
            if (index4 > -1) {
               this.amt.splice(index4, 1);
            }

            if (this.amt != null && this.amt.length > 0) {
              this.totalAmt = 0    
              this.amt.forEach(x => this.totalAmt += parseFloat(x));
            }
          },
          deleteMonthClone(params){
            console.log(params)
            const index = this.forSelMonth.indexOf("tambah", 0);
            if (index > -1) {
               this.forSelMonth.splice(index, 1);
            }
            const index2 = this.monthSel.indexOf(this.monthSel[params.key], 0);
            if (index2 > -1) {
               this.monthSel.splice(index2, 1);
            }
            const index3 = this.monthCode.indexOf(this.monthCode[params.key], 0);
            if (index3 > -1) {
               this.monthCode.splice(index3, 1);
            }
          },
          loadInvoices (param = null) {
            let params = '';
            if(param != null){
              var newParams = jQuery.param( param );
              console.log('newParams', newParams);
              params = '?'+newParams
            }
            axios.get("/api/invoices"+params)
            .then( ({ data }) => {
              console.log(data.data)
              this.invoices = data
            });
          },
          loadProducts(){
            this.prodSelListTemp = [];
            axios.get("/api/products")
            .then( ({ data }) => {
              for(let i = 0; i < data.data.length; i++){
                if(this.prodSelCode.indexOf(data.data[i].id) == -1){  
                  this.prodSelListTemp.push({label:data.data[i].product_name, code:data.data[i].id, amt:data.data[i].sale_price})
                }
              }
              this.prodSelList.push(this.prodSelListTemp);
            });
          },
          loadUser () {
            axios.get("/api/invoices/"+this.$route.params.id)
            .then( ({ data }) => {
              this.user = data
              this.user.full_name = data.first_name+' '+data.last_name
              console.log('user', this.user)
            });
          },
          loadYear () {
            let now = new Date();
            this.yearArr.push(now.getFullYear()+1)
            for(let i = 0; i < 4; i++){
              this.yearArr.push(now.getFullYear()-i)
            }
            console.log(this.yearArr)
            this.years = now.getFullYear()
          },
          createSchedule () {
            this.$Progress.start()
            this.form.post('/api/invoices')
              .then(({ data }) => { 
                console.log(data) 
                Fire.$emit('AfterCreate')
                $('#addNewUser').modal('hide')
                toast.fire({
                  type: 'success',
                  title: 'Berhasil menginput data subject baru'
                })
                // this.classesSearchModel = ''
                this.loadSchedules(this.form.class_id)
                this.form.reset();
                // this.$Progress.finish()
              })
              .catch((error)=>{
                  console.log(error)
                  this.$Progress.finish()
              });
          },
          setSelectedProdList(value, index){
            console.log('setSelectedProdList', index)
            this.prodSel[index] = value.label
            this.prodSelCode[index] = value.code
            this.amt[index] = value.amt
            console.log('prodSel', this.prodSel)
            console.log('amt', this.amt)
            console.log('prodSelCode', this.prodSelCode)
            $('.amt_'+index).val( this.amt[index] )
            if (this.amt != null && this.amt.length > 0) {
              this.totalAmt = 0    
              this.amt.forEach(x => this.totalAmt += parseFloat(x));
            }
          },
          setSelectedMonthList(value, index) {
            console.log('setSelectedMonthList', index)
            this.monthSel[index] = value.label
            this.monthCode[index] = value.code
          },
          setSelectedYearList(value) {
            console.log("years", this.years)
          },
          createInvoice(){
            this.$Progress.start()
            if(this.prodSelCode == null || this.prodSelCode == ""){
              alert("Data Bayaran Tidak Boleh Kosong")
              return false;
            }

            if(this.monthCode == null || this.monthCode == ""){
              alert("Data Bulan Tidak Boleh Kosong")
              return false;
            }

            for(let i = 0; i<this.monthCode.length; i++){
              for (let j = i + 1; j<this.monthCode.length; j++) {
                if(this.monthCode[i] == this.monthCode[j]){
                  alert("Data bulan tidak boleh sama")
                  return false
                }
              }
            }

            this.form.user_id = this.$route.params.id
            this.form.total_amt = this.totalAmt
            this.form.prod_nm = this.prodSel
            this.form.prod_id = this.prodSelCode
            this.form.sale_prc = this.amt
            this.form.month = this.monthCode
            this.form.year = this.years

            this.form.post('/api/invoices')
              .then(({ data }) => { 
                console.log('data sukses', data) 
                Fire.$emit('AfterCreate')
                toast.fire({
                  type: 'success',
                  title: 'Berhasil menginput data bayar bulanan baru'
                })
                
                if(data.code == '00'){
                  // window.location.href = '/#/invoices'
                  this.$router.push({ path: '/invoices' })
                }
                // this.$Progress.finish()
              })
              .catch((error)=>{
                  console.log(error)
                  this.$Progress.finish()
              });
          }
        },
        mounted() {
            console.log('Component mounted.')
            // console.log('userid : '+this.$route.params.userid)
        },
        created(){
          this.loadUser()
          this.loadYear()
          this.loadProducts()
          Fire.$on('AfterCreate', () => {
            
          })
        }
    }
</script>

<style type="text/css">
  .mt-2-n{
    margin-top: -20px;
  }
</style>
