<template>
  <div class="row justify-content-center">
    <div class="col-12 mt-2-n">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Pencarian Bayaran Bulanan Per kelas</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start wedew -->
        <form role="form">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Kelas</label>
                  <v-select :options="classesSearch"
                  v-model="classesSearchModel"
                  placeholder = "Pilih Kelas" :clearable="false"
                  @input="setSelectedClassesSearch"></v-select>
                </div>
              </div>

              <!-- <div class="col-md-4">
                <div class="form-group">
                  <label>Semester</label>
                  <v-select :options="semesters"
                  v-model="semesterSearchModel"
                  placeholder = "Pilih Semester" :clearable="false"
                  @input="setSelectedsemesterSearch"></v-select>
                </div>
              </div> -->

              <div class="col-md-6">
                <div class="form-group">
                  <label>Tahun Ajaran</label>
                  <v-select :options="years"
                  v-model="yearSearchModel"
                  placeholder = "Pilih Tahun Ajaran" :clearable="false"
                  @input="setSelectedyearSearch"></v-select>
                </div>
              </div>
              
            </div>
            
          </div>
          <!-- /.card-body -->
        </form>
      </div>
      <!-- /.card -->
    </div>

    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Tabel Bayaran Bulanan</h3>

          <div class="card-tools">
            <div class="input-group input-group-sm">
              <!-- <button class="btn btn-success pull-left mr-2" @click="newModal()" type="button">
                Tambah Baru <i class="fas fa-user-plus fa-fw"></i>
              </button> -->
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-hover table-bordered">
            <tbody><tr style="background:#007bff;color:#FFF">
              <th>NIS</th>
              <th>Nama</th>
              <th>Kelas</th>
              <th class="text-center">Juli</th>
              <th class="text-center">Agustus</th>
              <th class="text-center">September</th>
              <th class="text-center">Oktober</th>
              <th class="text-center">November</th>
              <th class="text-center">Desember</th>
              <th class="text-center">Januari</th>
              <th class="text-center">Februari</th>
              <th class="text-center">Maret</th>
              <th class="text-center">April</th>
              <th class="text-center">Mei</th>
              <th class="text-center">Juni</th>
              <!-- <th>Modify</th> -->
            </tr>
            <tr v-for="invoice in invoices" :key="invoice.id">
              <td><router-link :to='/invoices-add/+invoice.id'>{{ invoice.nis }}</router-link></td>
              <td><router-link :to='/invoices-add/+invoice.id'>{{ invoice.full_name | upText }}</router-link></td>
              <td><router-link :to='/invoices-add/+invoice.id'>{{ invoice.user_class_name | upText }}</router-link></td>
              <td :class="invoice.jul ? 'payed text-center' : 'notPayed text-center'">
                <a @click="newModal({user_id:invoice.id, inv_id:invoice.jul})" class="aTable">{{ invoice.jul ? 'Lunas' : '' }}</a>
              </td>
              <td :class="invoice.agu ? 'payed text-center' : 'notPayed text-center'">
                <a @click="newModal({user_id:invoice.id, inv_id:invoice.agu})" class="aTable">{{ invoice.agu ? 'Lunas' : '' }}</a>
              </td>
              <td :class="invoice.sep ? 'payed text-center' : 'notPayed text-center'">
                <a @click="newModal({user_id:invoice.id, inv_id:invoice.sep})" class="aTable">{{ invoice.sep ? 'Lunas' : '' }}</a>
              </td>
              <td :class="invoice.okt ? 'payed text-center' : 'notPayed text-center'"> 
                <a @click="newModal({user_id:invoice.id, inv_id:invoice.okt})" class="aTable">{{ invoice.okt ? 'Lunas' : '' }}</a>
              </td>
              <td :class="invoice.nov ? 'payed text-center' : 'notPayed text-center'"> 
                <a @click="newModal({user_id:invoice.id, inv_id:invoice.nov})" class="aTable">{{ invoice.nov ? 'Lunas' : '' }}</a>
              </td>
              <td :class="invoice.des ? 'payed text-center' : 'notPayed text-center'"> 
                <a @click="newModal({user_id:invoice.id, inv_id:invoice.des})" class="aTable">{{ invoice.des ? 'Lunas' : '' }}</a>
              </td>
              <td :class="invoice.jan ? 'payed text-center' : 'notPayed text-center'"> 
                <a @click="newModal({user_id:invoice.id, inv_id:invoice.jan})" class="aTable">{{ invoice.jan ? 'Lunas' : '' }}</a>
              </td>
              <td :class="invoice.feb ? 'payed text-center' : 'notPayed text-center'"> 
                <a @click="newModal({user_id:invoice.id, inv_id:invoice.feb})" class="aTable">{{ invoice.feb ? 'Lunas' : '' }}</a>
              </td>
              <td :class="invoice.mar ? 'payed text-center' : 'notPayed text-center'"> 
                <a @click="newModal({user_id:invoice.id, inv_id:invoice.mar})" class="aTable"> {{ invoice.mar ? 'Lunas' : '' }}</a>
              </td>
              <td :class="invoice.apr ? 'payed text-center' : 'notPayed text-center'"> 
                <a @click="newModal({user_id:invoice.id, inv_id:invoice.apr})" class="aTable">{{ invoice.apr ? 'Lunas' : '' }}</a>
              </td>
              <td :class="invoice.mei ? 'payed text-center' : 'notPayed text-center'"> 
                <a @click="newModal({user_id:invoice.id, inv_id:invoice.mei})" class="aTable">{{ invoice.mei ? 'Lunas' : '' }}</a>
              </td>
              <td :class="invoice.jni ? 'payed text-center' : 'notPayed text-center'"> 
                <a @click="newModal({user_id:invoice.id, inv_id:invoice.jni})" class="aTable">{{ invoice.jni ? 'Lunas' : '' }}</a>
              </td>
            </tr>
          </tbody></table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>

    <!-- Modal -->
    <div class="modal fade" id="invDetView" tabindex="-1" role="dialog" aria-labelledby="invDetViewLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header" style="background:#007bff;color:#FFF">
            <h5 class="modal-title" id="addNewUserLabel">Rincian Pembayaran</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" style="color:#fff">&times;</span>
            </button>
          </div>
          
          <form>

          <div class="modal-body">

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-5">
                      <label>NIS Siswa</label>
                    </div>
                    <div class="col-md-7">
                      <span>: {{user.nis}}</span>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-md-5">
                      <label>Nama Siswa</label>
                    </div>
                    <div class="col-md-7">
                      <span>: {{ user.first_name }} {{ user.last_name }}</span>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-md-5">
                      <label>Tanggal Pembayaran</label>
                    </div>
                    <div class="col-md-7">
                      <span>: {{ invoice.created_at | myDate }}</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-5">
                      <label>Kelas</label>
                    </div>
                    <div class="col-md-7">
                      <span>: Kelas</span>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-md-5">
                      <label>Tahun Ajaran</label>
                    </div>
                    <div class="col-md-7">
                      <span>: 2019 / 2020</span>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-md-5">
                      <label>Cetak</label>
                    </div>
                    <div class="col-md-7">
                      : 
                      <button type="button" class="btn btn-primary btn-sm" @click="printPayNote(invoice.id)">
                        <i class="fas fa-print"></i> Cetak Nota Pembayaran
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
              <table class="table table-bordered table-striped">
                <tr>
                  <th>No.</th>
                  <th>Pembayaran</th>
                  <th>Bulan</th>
                  <th>Biaya</th>
                  <th>Subtotal</th>
                </tr>
                <tr v-for="(invDet, index) in invoiceDets" :key="index">
                  <td>{{ invDet.id+1 }}</td>
                  <td>{{ invDet.prod_nm }}</td>
                  <td>{{ invoice.from_dt | myDateInv }}</td>
                  <td>{{ invDet.sale_prc | amountFormat }}</td>
                  <td>{{ invDet.sale_prc | amountFormat }}</td>
                </tr>
                <tr>
                  <td colspan="4" class="text-right">Total : </td>
                  <td>
                    {{ totAmt | amountFormat }}
                  </td>
                </tr>
              </table>
              </div>

            </div><!-- Row -->

          </div>

          </form>

        </div>
      </div>
    </div>
    
  </div>
</template>

<script>
import moment from 'moment'
import Datepicker from 'vuejs-datepicker';

    export default {
        data(){
          return {
            editMode : false,
            classesSearchModel : '',
            // subjects : [],
            invoices : [],
            invoiceDets : [],
            // user_ids : [],
            user : {},
            invoice : {},
            years : [],
            // classes : [],
            classesSearch : [],
            semesterSearchModel : '',
            semesterSearchModelCode : 0,
            yearSearchModel : '',
            yearSearchModelCode : 0,
            totAmt : 0,
            params : {},
          }
        },
        components: {
          Datepicker
        },
        methods: {
          newModal(value) {
            console.log(value)

            let invId = value.inv_id.split("_");

            this.loadUserById(value.user_id)
            this.loadInvoiceById(invId[1])
            $('#invDetView').modal('show')
          },
          loadInvoices (param = null) {
            let params = '';
            if(param != null){
              var newParams = jQuery.param( param );
              console.log('newParams', newParams);
              params = '?'+newParams
            }
            axios.get("/api/invoices"+params)
            .then( ({ data }) => {
              console.log(data.data)
              this.invoices = data
            });
          },
          loadInvoiceById (id) {
            axios.get("/api/invoice-by-id/"+id)
            .then( ({ data }) => {
              this.invoice = data.invoice
              this.invoiceDets = data.invoiceDets
              console.log('Invoice', this.invoice)
              console.log('invoiceDets', this.invoiceDets)

              let totAmt = 0
              this.invoiceDets.forEach(function (value, index) {
                console.log(value.sale_prc);
                totAmt += parseInt(value.sale_prc)
              }); 
              this.totAmt = totAmt
              console.log('totAmt', this.totAmt)
            });
          },
          loadUserById (id) {
            axios.get("/api/users/"+id)
            .then( ({ data }) => {
              console.log(data)
              this.user = data
              console.log('user', this.user)
            });
          },
          loadYears () {
            axios.get("/api/years")
            .then( ({ data }) => {
              console.log(data.data)
              for(let i = 0; i < data.data.length; i++) {
                this.years.push({label : data.data[i].year_name, code : data.data[i].id});
              }
              // this.form.time_name = 'Pilih Jam Pelajaran'
              console.log('years', this.years)
            });
          },
          loadClassesSearch () {
            axios.get("/api/classes")
            .then( ({ data }) => {
              console.log(data.data)
              for(let i = 0; i < data.data.length; i++) {
                let newClassName = data.data[i].class_name+' '+data.data[i].major+' - '+data.data[i].class_sub_name
                this.classesSearch.push({label : newClassName, code : data.data[i].id});
              }
              // this.form.time_name = 'Pilih Jam Pelajaran'
              console.log('classesSearch', this.classesSearch)
            });
          },
          createSchedule () {
            this.$Progress.start()
            this.form.post('/api/schedules')
              .then(({ data }) => { 
                console.log(data) 
                Fire.$emit('AfterCreate')
                $('#addNewUser').modal('hide')
                toast.fire({
                  type: 'success',
                  title: 'Berhasil menginput data subject baru'
                })
                // this.classesSearchModel = ''
                this.loadSchedules(this.form.class_id)
                this.form.reset();
                // this.$Progress.finish()
              })
              .catch((error)=>{
                  console.log(error)
                  this.$Progress.finish()
              });
          },
          setSelectedClassesSearch(value){
            this.classesSearchModel = value.label
            this.params.class_id = value.code
            this.loadInvoices(this.params)
          },
          setSelectedyearSearch(value){
            this.yearSearchModel = value.label
            this.params.year_id = value.code
            this.loadInvoices(this.params)
          },
          printPayNote(id){
            $('#invDetView').modal('hide')
            this.$router.push({ path: '/invoices-print/'+id })
          }
        },
        mounted() {
            console.log('Component mounted.')
            // console.log('userid : '+this.$route.params.userid)
        },
        created(){
          this.loadInvoices()
          this.loadYears()
          this.loadClassesSearch()
          // this.totAmt = 360000
          Fire.$on('AfterCreate', () => {
            this.loadInvoices()
          })
        }
    }
</script>

<style type="text/css">
  input[name="year_of_entry"]{
    border: none;
    width: 100%;
  }
  .mt-2-n{
    margin-top: -20px;
  }
  .payed{
    background:#38c172
  }
  .notPayed{
    background:#e3342f
  }
  .aTable{
    text-decoration: underline !important;
    cursor: pointer;
    font-weight: bold;
  }
  @media (min-width: 700px){
    .modal-dialog {
        max-width: 700px;
        margin: 1.75rem auto;
    }
  }
</style>
