<template>
  <div class="row justify-content-center">
    
    <div class="col-md-12 mt-2-n">
      <!-- Horizontal Form -->
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Tambah Bayaran Siswa</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="student_name" class="col-sm-2 control-label">Nama Siswa</label>
              <div class="col-sm-10">
                <!-- <input type="text" class="form-control" v-model="user.full_name" readonly> -->
                {{ user.fullname }}
              </div>
            </div>

            <hr />
            
            <div class="form-group row">
              <label for="jenisBayaran" class="col-sm-2 control-label">Jenis Bayaran</label>
              <div class="clone1 col-sm-10">
                <div v-for="(forSel, index) in products">
                  <div class="row" style="margin-bottom: 5px;">
                    <div class="col-sm-5">
                      {{ forSel.product_name }}
                      <!-- <v-select :options="prodSelList"
                        :value="prodSel[index]"
                        placeholder="Pilih Jenis Bayaran" :clearable="false"
                        @input="setSelectedProdList($event, index)"></v-select> -->
                    </div>
                    <div class="col-sm-5">
                      <!-- <vue-numeric currency="Rp" separator="," v-model="amt[index]" :class='"form-control amt_"+index' :read-only="true"></vue-numeric> -->
                      {{ forSel.sale_price | amountFormat }}
                    </div>
                    <div class="col-sm-2">
                      <!-- <button type="button" class="btn btn-success" @click="addProdClone">Tambah</button>
                      <button type="button" class="btn btn-danger" 
                      @click="deleteProdClone({key:index})">Hapus</button> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <hr />

            <div class="form-group row">
              <label for="total_amt" class="col-sm-2 control-label">Total Bayaran Bulanan</label>
              <div class="col-sm-10">
                <vue-numeric currency="Rp" separator="," v-model="totalAmt" :read-only="true"></vue-numeric>
              </div>
            </div>

            <hr />

            <div class="form-group row">
              <label for="year" class="col-sm-2 control-label">Tahun</label>
              <div class="col-sm-10">
                <v-select :options="yearArr"
                        v-model="years"
                        placeholder="Pilih Tahun" :clearable="false"></v-select>
              </div>
            </div>

            <hr />

            <div class="form-group row">
              <label for="bankCd" class="col-sm-2 control-label">Metode Pembayaran</label>
              <div class="col-sm-10">
                <v-select :options="$static.payMethod()"
                        v-model="payMethod.label"
                        placeholder="Pilih Metode Pembayaran"
                        @input="setSelectedPayMethod"></v-select>
              </div>
            </div>

            <hr />

            <div class="form-group row" v-if="payMethod.code === '02'">
              <label for="bankCd" class="col-sm-2 control-label">Bank</label>
              <div class="col-sm-10">
                <v-select :options="bankListOptions"
                        v-model="bankLabel"
                        placeholder="Pilih Bank"
                        @input="setSelectedBank"></v-select>
              </div>
            </div>

            <div class="form-group row" v-if="payMethod.code === '03'">
              <label for="mitraCd" class="col-sm-2 control-label">Convenience Store</label>
              <div class="col-sm-10">
                <v-select :options="$static.cvsList()"
                        v-model="mitraLabel"
                        placeholder="Pilih Mitra"
                        @input="setSelectedCvs"></v-select>
              </div>
            </div>

            <div class="form-group row" v-if="payMethod.code === '05'">
              <label for="mitraCd2" class="col-sm-2 control-label">E-Wallet / Uang Elektronik (OVO)</label>
              <div class="col-sm-10">
                <v-select :options="$static.ewalletList()"
                        v-model="mitraLabel2"
                        placeholder="Pilih Mitra"
                        @input="setSelectedEwallet"></v-select>
              </div>
            </div>

            <hr />

            <div class="form-group row">
              <label for="month" class="col-sm-2 control-label">Bulan</label>
              <div class="col-sm-10">
                <div v-for="(forSelm, index) in forSelMonth">
                  <div class="row" style="margin-bottom: 5px;">
                    <div class="col-sm-8">
                      <v-select :options="monthSelListTemp[index]"
                      v-model="monthSel[index]"
                      placeholder="Pilih Bulan" :clearable="false"
                      @input="setSelectedMonthList($event, index)"></v-select>
                    </div>

                    <div class="col-sm-4">
                      <button type="button" class="btn btn-success" @click="addMonthClone">Tambah</button>
                      <button type="button" class="btn btn-danger" 
                      @click="deleteMonthClone({monthSel:monthSel[index],monthCode:monthCode[index],key:index})">Hapus</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <button type="button" class="btn btn-info" @click="createInvoice()">Simpan</button>
            <!-- <router-link to='/invoices' class="btn btn-default float-right">Kembali</router-link> -->
          </div>
          <!-- /.card-footer -->
        </form>
      </div>
      <!-- /.card -->
      <!-- general form elements disabled -->
      
      <!-- /.card -->
    </div>

    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Tabel Bayaran</h3>
        </div>
        <div class="card-body table-responsive p-0">
          <table class="table table-hover table-bordered">
            <tbody>
              <tr>
                <th>No</th>
                <th class="text-center">Nama Siswa</th>
                <th class="text-right">Total Bayaran</th>
                <th class="text-center">Tanggal Bayaran</th>
                <th class="text-center">Tahun Ajaran</th>
                <!-- <th>From</th> -->
                <!-- <th>To</th> -->
              </tr>
              <tr v-for="invoice in invoices" :key="invoice.id">
                <td>{{ invoice.invoice_no }}</td>
                <td class="text-center">{{ invoice.user_name }}</td>
                <td class="text-right">{{ invoice.total_amt | amountFormat }}</td>
                <td class="text-center">{{ invoice.from_dt | myDateInv }}</td>
                <td class="text-center">{{ invoice.year_name }}</td>
                <!-- <td>{{ payment.from_dt }}</td> -->
                <!-- <td>{{ payment.to_dt }}</td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  data() {
    return {
      invoices : [],
      user : {},
      forSelMonth : ["satu"],
      totalAmt : 0,
      yearArr : [],
      years : [],
      products : [],
      monthSelListTemp : [],
      form : new Form({
                        total_amt: '',
                        thn_ajaran: '',
                        from_dt: '',
                        to_dt: '',
                        prod_nm : [],
                        prod_id : [],
                        sale_prc : [],
                        month : [],
                        year : '',
                        payment_method : '',
                        bank_cd : '',
                        mitra_cd : '',
                    }),
      monthSel : [],
      bankCd : null,
      bankLabel : null,
      mitraCd : null,
      mitraLabel : null,
      mitraCd2 : null,
      mitraLabel2 : null,
      payMethod : {},
      monthSelTmp : [],
      monthCode : [],
    }
  },
  methods: {
    loadInvoices (param = null) {
      axios.get("/api/payments")
      .then( ({ data }) => {
        console.log(data)
        this.invoices = data
      });
    },
    loadUsers (param = null) {
      axios.get("/api/payments/0")
      .then( ({ data }) => {
        console.log(data)
        this.user = data
      });
    },
    loadProducts (param = null) {
      axios.get("/api/products")
      .then( ({ data }) => {
        console.log('products', data.data)
        this.products = data.data

        this.products.forEach((val, key)=>{
          this.totalAmt += parseFloat(val.sale_price)
          this.form.prod_nm.push(val.product_name)
          this.form.prod_id.push(val.id)
          this.form.sale_prc.push(parseFloat(val.sale_price))
        })
      });
    },
    loadYear() {
      let now = new Date();
      this.yearArr.push(now.getFullYear()+1)
      for(let i = 0; i < 4; i++){
        this.yearArr.push(now.getFullYear()-i)
      }
      console.log(this.yearArr)
      this.years = now.getFullYear()
    },
    createInvoice(){
      alert('wait')
    },
    // addProdClone(){
    //   alert('wait')
    // },
    // deleteProdClone(params){
    //   const index = this.products.indexOf(this.products[params.key], 0);
    //   if (index > -1) {
    //      this.products.splice(index, 1);
    //   }
    // },
    // setSelectedYearList(){

    // },
    setSelectedMonthList(value, index) {
      if(value){
        this.monthSel[index] = value.label
        this.monthCode[index] = value.code
        this.monthSelTmp.push(value.label)
        console.log('monthSel', this.monthSel)
      }
    },
    setSelectedPayMethod(value){
      this.payMethod.label = null
      this.payMethod.code = null
      if(value){
        this.payMethod.label = value.label
        this.payMethod.code = value.code

        if(this.payMethod.code == '02'){
          this.mitraCd = null
          this.mitraLabel = null
          this.mitraCd2 = null
          this.mitraLabel2 = null
        }else if(this.payMethod.code == '03'){
          this.bankCd = null
          this.bankLabel = null
          this.mitraCd2 = null
          this.mitraLabel2 = null
        }else if(this.payMethod.code == '05'){
          this.bankCd = null
          this.bankLabel = null
          this.mitraCd = null
          this.mitraLabel = null
        }
      }
    },
    setSelectedBank(value){
      this.bankCd = null
      this.bankLabel = null
      if(value){
        this.bankCd = value.code
        this.bankLabel = value.label
      }
    },
    setSelectedCvs(value){
      this.mitraCd = null
      this.mitraLabel = null
      if(value){
        this.mitraCd = value.code
        this.mitraLabel = value.label
      }
    },
    setSelectedEwallet(value){
      this.mitraCd2 = null
      this.mitraLabel2 = null
      if(value){
        this.mitraCd2 = value.code
        this.mitraLabel2 = value.label
      }
    },
    addMonthClone(){
      let adding = false

      if(this.monthSel.length == 1 ){
        adding = true
      }

      this.monthSel.forEach((val, index) => {
        if(this.monthSel.indexOf(null) == -1){  
          adding = true
        }
      })

      if(adding){
        this.forSelMonth.push("tambah")
        this.monthSel.push(null)
        this.monthSelListTemp.push(this.checkMonthExists());
      }else{
        alert("Bulan tidak boleh kosong")
      }
      console.log('monthSel', this.monthSel)
      
    },
    deleteMonthClone(params){
      console.log(params)
      const index = this.forSelMonth.indexOf("tambah", 0);
      if (index > -1) {
         this.forSelMonth.splice(index, 1);
      }
      const index2 = this.monthSel.indexOf(this.monthSel[params.key], 0);
      if (index2 > -1) {
         this.monthSel.splice(index2, 1);
      }
      const index3 = this.monthCode.indexOf(this.monthCode[params.key], 0);
      if (index3 > -1) {
         this.monthCode.splice(index3, 1);
      }
    },

    checkMonthExists(){
      let tempList = []
      this.$static.monthNameOptions().forEach((val, key) => {
        if(this.monthSel.indexOf(val.label) == -1){  
          tempList.push(val)
        }
      })
      return tempList
    },

    createInvoice(){
      this.$Progress.start()

      if(this.payMethod.code == null){
        alert("Metode Pembayaran Tidak Boleh Kosong")
        this.$Progress.finish()
        return false;
      }

      if(this.payMethod.code == '02'){
        if(this.bankCd == null){
          alert("Bank Tidak Boleh Kosong")
          this.$Progress.finish()
          return false;
        }
      }else if(this.payMethod.code == '03'){
        if(this.mitraCd == null){
          alert("Mitra Tidak Boleh Kosong")
          this.$Progress.finish()
          return false;
        }
      }else if(this.payMethod.code == '05'){
        if(this.mitraCd2 == null){
          alert("Mitra Tidak Boleh Kosong")
          this.$Progress.finish()
          return false;
        }
      }

      if(this.monthCode == null || this.monthCode == ""){
        alert("Data Bulan Tidak Boleh Kosong")
        return false;
      }

      for(let i = 0; i<this.monthCode.length; i++){
        for (let j = i + 1; j<this.monthCode.length; j++) {
          if(this.monthCode[i] == this.monthCode[j]){
            alert("Data bulan tidak boleh sama")
            return false
          }
        }
      }

      this.form.total_amt = this.totalAmt
      this.form.month = this.monthCode
      this.form.year = this.years
      this.form.payment_method = this.payMethod.code
      this.form.bank_cd = this.bankCd
      this.form.mitra_cd = this.mitraCd

      this.form.post('/api/payments')
        .then(({ data }) => { 
          console.log('data sukses', data) 
          Fire.$emit('AfterCreate')
          
          if(data.code == '00'){
            toast.fire({
              type: 'success',
              title: 'Berhasil menginput data bayar bulanan baru'
            })
            this.$router.push({ name: 'payments-success', params: data.responsePG, query: data.responsePG })
          }else{
            alert('Terdapat Error atau pilihan bulan sudah di input');
          }
          this.$Progress.finish()
        })
        .catch((error)=>{
            alert('Membuat Pembayaran Gagal')
            console.log(error)
            this.$Progress.finish()
        });
    },
  },
  mounted() {
    console.log('Component mounted.')
  },
  created(){
    this.loadInvoices()
    this.loadUsers()
    this.loadYear()
    this.loadProducts()

    this.monthSelListTemp.push(this.$static.monthNameOptions());
    console.log('monthSelListTemp0', this.monthSelListTemp[0])
    // alert(this.monthNameOptions)

    Fire.$on('AfterCreate', () => {
      this.loadInvoices()
    })
  }
}
</script>

<style type="text/css">
  .form-group{
    border-bottom: #ccc;
  }
</style>
