<template>
  <div class="row justify-content-center">
    
      <div class="col-md-12 mt-2-n" v-if="fromParams != null">
        <!-- Horizontal Form -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Data Pembayaran</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <table class="table">
                  <tr>
                    <td>Result</td>
                    <td>: {{ fromParams.resultMsg }}</td>
                  </tr>

                  <tr>
                    <td>Bank</td>
                    <td>: {{ $static.bankCdToName(fromParams.bankCd) }}</td>
                  </tr>

                  <tr>
                    <td>Atas Nama</td>
                    <td>: {{ fromParams.billingNm }}</td>
                  </tr>

                  <tr>
                    <td>tXid</td>
                    <td>: {{ fromParams.tXid }}</td>
                  </tr>

                  <tr>
                    <td>Total Bayar</td>
                    <td>: {{ fromParams.amt | amountFormat }}</td>
                  </tr>

                  <tr>
                    <td>No Va</td>
                    <td>: {{ fromParams.vacctNo }}</td>
                  </tr>

                  <tr>
                    <td>Valid Samapai</td>
                    <td>: {{ fromParams.vacctValidDt | myDateInv2 }}, {{ fromParams.vacctValidTm | myDateInv3 }}</td>
                  </tr>
                </table>
              </div>

              <div class="col-md-6">
                <h3>Cara Pembayaran</h3>
                <hr />
                <div v-html="$static.bankCdToPayWay(fromParams.bankCd)"> </div>
              </div>
            
            </div>
          </div>
          
        </div>
        <!-- /.card -->
        <!-- general form elements disabled -->
        
        <!-- /.card -->
      </div>

    <div class="col-12 mt-2-n">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Tabel Bayaran</h3>
        </div>
        <div class="card-body table-responsive p-0">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th>No</th>
                <th class="text-center">Nama Siswa</th>
                <th class="text-right">Total Bayaran</th>
                <th class="text-center">Untuk Tanggal Bayaran</th>
                <th class="text-center">Status Pembayaran</th>
                <th class="text-center">TXID</th>
                <th class="text-center">Vacct No</th>
                <th class="text-center">Metode Pembayaran</th>
                <th class="text-center">Bank</th>
                <th class="text-center">Detail</th>
              </tr>
              <tr v-for="invoice in invoices" :key="invoice.id" :class="[invoice.status == 'pending' ? 'pending':'success']">
                <td v-if="invoice.invoice_no">{{ invoice.invoice_no }}</td>
                <td v-if="invoice.payment_no">{{ invoice.payment_no }}</td>
                <td class="text-center">{{ invoice.user_name }}</td>
                <td class="text-right">{{ invoice.total_amt | amountFormat }}</td>
                <td class="text-center">{{ invoice.from_dt | myDateInv }}</td>
                <!-- <td class="text-center">{{ invoice.year_name }}</td> -->
                <td class="text-center">{{ invoice.status }}</td>
                <td class="text-center">{{ invoice.txid }}</td>
                <td class="text-center">{{ invoice.vacct_no }}</td>
                <td class="text-center">{{ invoice.pay_method }}</td>
                <td class="text-center">{{ $static.bankCdToName(invoice.bank_cd) }}</td>
                <td class="text-center">
                  <button class="btn btn-info btn-sm" type="button" 
                  @click="newModal({user_id:invoice.user_id, inv_id:invoice.id})">Detail</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="modal fade" id="invDetView" tabindex="-1" role="dialog" aria-labelledby="invDetViewLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header" style="background:#007bff;color:#FFF">
            <h5 class="modal-title" id="addNewUserLabel">Rincian Pembayaran</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" style="color:#fff">&times;</span>
            </button>
          </div>
          
          <form>

          <div class="modal-body">

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-5">
                      <label>NIS Siswa</label>
                    </div>
                    <div class="col-md-7">
                      <span>: {{user.nis}}</span>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-md-5">
                      <label>Nama Siswa</label>
                    </div>
                    <div class="col-md-7">
                      <span>: {{ user.first_name }} {{ user.last_name }}</span>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-md-5">
                      <label>Tanggal Pembayaran</label>
                    </div>
                    <div class="col-md-7">
                      <span>: {{ invoice.created_at | myDate }}</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-5">
                      <label>Kelas</label>
                    </div>
                    <div class="col-md-7">
                      <span>: Kelas</span>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-md-5">
                      <label>Tahun Ajaran</label>
                    </div>
                    <div class="col-md-7">
                      <span>: 2019 / 2020</span>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-md-5">
                      <label>Cetak</label>
                    </div>
                    <div class="col-md-7">
                      : 
                      <button type="button" class="btn btn-primary btn-sm" @click="printPayNote(invoice.id)">
                        <i class="fas fa-print"></i> Cetak Nota Pembayaran
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
              <table class="table table-bordered table-striped">
                <tr>
                  <th>No.</th>
                  <th>Pembayaran</th>
                  <th>Bulan</th>
                  <th>Biaya</th>
                  <th>Subtotal</th>
                </tr>
                <tr v-for="(invDet, index) in invoiceDets" :key="index">
                  <td>{{ invDet.id+1 }}</td>
                  <td>{{ invDet.prod_nm }}</td>
                  <td>{{ invoice.from_dt | myDateInv }}</td>
                  <td>{{ invDet.sale_prc | amountFormat }}</td>
                  <td>{{ invDet.sale_prc | amountFormat }}</td>
                </tr>
                <tr>
                  <td colspan="4" class="text-right">Total : </td>
                  <td>
                    {{ totAmt | amountFormat }}
                  </td>
                </tr>
              </table>
              </div>

            </div><!-- Row -->

          </div>

          </form>

        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  data() {
    return {
      invoices : [],
      fromParams : null,
      user : {},
      invoice : {},
      invoiceDets : [],
      totAmt : 0,
    }
  },
  methods: {
    loadUserById (id) {
      axios.get("/api/users/"+id)
      .then( ({ data }) => {
        console.log(data)
        this.user = data
        console.log('user', this.user)
      });
    },
    loadInvoiceById (id) {
      axios.get("/api/invoice-by-id/"+id)
      .then( ({ data }) => {
        this.invoice = data.invoice
        this.invoiceDets = data.invoiceDets
        console.log('Invoice', this.invoice)
        console.log('invoiceDets', this.invoiceDets)

        let totAmt = 0
        this.invoiceDets.forEach(function (value, index) {
          console.log(value.sale_prc);
          totAmt += parseInt(value.sale_prc)
        }); 
        this.totAmt = totAmt
        console.log('totAmt', this.totAmt)
      });
    },
    newModal(value) {
      console.log(value)

      this.loadUserById(value.user_id)
      this.loadInvoiceById(value.inv_id)
      $('#invDetView').modal('show')
    },
    loadInvoices (param = null) {
      axios.get("/api/payments/payment-pg")
      .then( ({ data }) => {
        console.log(data)
        this.invoices = data
      });
    },
  },
  mounted() {
    console.log('Component mounted.')
  },
  created(){
    this.loadInvoices()
    // this.fromParams = this.$route.params
    if(Object.keys(this.$route.query).length > 0){
      this.fromParams = this.$route.query
    }
    console.log(this.fromParams);
    
    Fire.$on('AfterCreate', () => {
      this.loadInvoices()
    })
  }
}
</script>

<style type="text/css">
  .form-group{
    border-bottom: #ccc;
  }
  .pending{
    background: yellow
  }
  .success{
    background: green;
    color: #fff;
  }
</style>
