<template>
        <div class="row justify-content-center">
          <div class="col-12 mt-2-n">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Pencarian Data Siswa</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start wedew -->
              <form role="form">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <v-select :options="classesSearch"
                        placeholder = "Pilih Kelas"
                        v-model = "className"
                        @input="setSelectedClassesSearch"></v-select>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <datepicker v-model="dateSearch" placeholder="Tanggal Absen" class="form-control" 
                        name="dateSearch" @selected="doSomethingInParentComponentFunction" 
                        :format="customFormatter"></datepicker>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <v-select :options="semesterOptions"
                        placeholder = "Pilih Semester"
                        @input="setSelectedSemesterSearch2"></v-select>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <v-select :options="yearOptions"
                        v-model="yearName"
                        placeholder = "Pilih Tahun Ajaran"
                        @input="setSelectedYearSearch2"></v-select>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group input-group">
                        <input type="text" class="form-control" placeholder="Pencarian N.I.S, Nama, atau Email" 
                        v-model="searchStudentModel" />
                        <div class="input-group-append">
                          <button class="btn btn-navbar" @click="searchStudent" type="button">
                            <i class="fa fa-search"></i>
                          </button>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <button class="btn btn-navbar btn-danger btn-block" @click="inputEditPresent" type="button">
                        Input / Edit Semua Absen Siswa
                      </button>
                    </div>
                    
                  </div>
                  
                </div>
                <!-- /.card-body -->
              </form>
            </div>

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Tabel Absensi Siswa</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm">
                    <!-- <button class="btn btn-success" @click="newModal()" type="button">
                      Buat Baru <i class="fas fa-user-plus fa-fw"></i>
                    </button> -->
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody><tr>
                    <th>NIS</th>
                    <th>Nama</th>
                    <th>Kelas</th>
                    <th>Tgl Absensi</th>
                    <th>Semester</th>
                    <th>Tahun Ajaran</th>
                    <th>Keterangan Absensi</th>
                  </tr>
                  <tr v-for="(student, key) in students.data" :key="key">
                    <td>{{ student.nis }}</td>
                    <td>{{ student.first_name | upText }} {{ student.last_name | upText }}</td>
                    <td v-if="student.major">{{ student.class_name }}{{ student.major }} - {{ student.class_sub_name }}</td>
                    <td v-if="!student.major">{{ student.class_name }} - {{ student.class_sub_name }}</td>
                    <td>{{ student.date_in | myDate }}</td>
                    <td>{{ semester }}</td>
                    <td>{{ yearName }}</td>
                    <td>
                      <select v-model="inputPresentsModel[key]" name="inputPresentsModel" class="form-control"
                      @change="changePresent($event, student.id)" value="present">
                        <option v-for="present in presentsDesc" v-bind:key="present.code" :value="present.code">
                          {{ present.label }}
                        </option>
                      </select>
                    </td>
                  </tr>
                </tbody></table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <pagination :data="students" @pagination-change-page="getResults"></pagination>
              </div>
            </div>
            <!-- /.card -->
          </div>

          <div v-if="!$gate.isAdmin()">
            <h3>Halaman tidak di temukan....!!!!!</h3>
            <not-found></not-found>
          </div>
        </div>
</template>

<script>
import moment from 'moment'
import Datepicker from 'vuejs-datepicker';

    export default {
        data(){
          return {
            editMode : false,
            dateNow : new Date(),
            dateSearch : new Date(),
            inputPresentsModel : [],
            studentIds : [],
            semester : '',
            params : {},
            students : {},
            classes : [],
            classesSearch : [],
            yearOptions : [],
            semesterOptions : [{label : 1, code : 1}, {label : 2, code : 2}],
            searchStudentModel : '',
            className : '',
            classId : '',
            subjectName : '',
            yearName : '',
            yearId : '',
            subjectsModels : '',
            teachers : [],
            errors : {},
            form : new Form({
                        student: '',
                        present: '',
                        year: '',
                        semester : '',
                        date_in : '',
                    }),
          }
        },
        components: {
          Datepicker
        },
        methods: {
          getResults(page = 1){
            axios.get('/api/scores?page='+page)
            .then(response => {
              this.users = response.data
            });
          },
          loadStudents (getParmas = null) {
              let params = '';
              if(getParmas != null){
                var newParams = jQuery.param( getParmas );
                console.log('newParams', newParams);
                params = '?'+newParams
              }

              this.students = {}

              axios.get("/api/presents"+params)
              .then( ({ data }) => {
                this.students = data

                let tempData = []
                let tempData2 = []
                this.students.data.forEach(function (value, key) {
                    // console.log('val', value);
                    // console.log('key', key);
                    if(value.desc == null || value.desc == ""){
                      tempData[key] = 'present'
                    }else{
                      tempData[key] = value.desc
                    }
                    tempData2[key] = value.id
                })
                this.inputPresentsModel = tempData
                this.studentIds = tempData2
              })
          },

          loadClasses(){
            axios.get('/api/classes')
            .then((data) => {
              let dataNew = data.data.data;
              for(let i = 0; i < dataNew.length; i++) {
                // this.classes.push({label:dataNew[i].class_name+dataNew[i].major+' - '+dataNew[i].class_sub_name, code: dataNew[i].id});
                this.classesSearch.push({label:dataNew[i].class_name+dataNew[i].major+' - '+dataNew[i].class_sub_name, code: dataNew[i].id});
              }
              this.classesSearch.push({label: 'Semua Kelas', code: 0});
              console.log('classesSel', this.classes)
            })
            .catch(() => {
              alert('Error when show classes')
            })
          },
          loadTearchers() {
            axios.get('/api/users')
            .then((data) => {
              let dataNew = data.data.data;
              for(let i = 0; i < dataNew.length; i++) {
                this.teachers.push({label:dataNew[i].first_name+' - '+dataNew[i].last_name, code: dataNew[i].id});
              }
            })
            .catch(() => {
              alert('Error when show teachers')
            })
          },

          loadYears() {
            axios.get('/api/years')
            .then((data) => {
              let dataNew = data.data.data
              for(let i = 0; i < dataNew.length; i++) {
                this.yearOptions.push({label:dataNew[i].year_name, code: dataNew[i].id});
                if(this.yearName == dataNew[i].year_name){
                  this.yearId = dataNew[i].id
                }
              }
            })
            .catch(() => {
              alert('Error when show teachers')
            })
          },
          
          setSelectedClassesSearch(value){
              this.className = null
              this.classId = null
              this.params.cariKelas = null
            if(value){
              this.className = value.label
              this.classId = value.code
              this.params.cariKelas = value.code
            }
            this.loadStudents(this.params)
          },
          
          setSelectedTeachersSearch(value){
            this.form.teacher_name = null
            this.form.teacher_id = null
            if(value){
              this.teacher_error = ''
              this.form.teacher_name = value.label
              this.form.teacher_id = value.code
            }            
          },
          setSelectedSemesterSearch2(value){
            this.form.semester = null
            this.params.cariSemester = null
            if(value){
              this.form.semester = value.label
              this.params.cariSemester = value.code
            }
            this.loadStudents(this.params)
          },
          setSelectedYearSearch2(value) {
            this.yearId = null
            this.yearName = null
            if(value){
              this.yearId = value.code
              this.yearName = value.label
              this.params.cariTahun = this.yearId
            }
            this.loadStudents(this.params)
          }, 
          searchStudent(){
            this.params.cariNis = this.searchStudentModel
            this.loadStudents(this.params)
            this.searchStudentModel = '';
            this.params.cariNis = '';
          },
          customFormatter(date) {
            // return moment(date).format('MMMM Do YYYY, h:mm:ss a');
            return moment(date).format('YYYY-MM-DD');
          },
          changePresent(event, student_id){

            this.form.student = [student_id]
            this.form.present = [event.target.value]
            this.form.year = this.yearId
            this.form.semester = this.form.semester
            this.form.date_in = this.dateNow

            this.$Progress.start()
            
            this.form.post('/api/presents')
            .then(({ data }) => { 
              console.log(data) 
              Fire.$emit('AfterCreate')
              toast.fire({
                type: 'success',
                title: 'Berhasil menginput data absensi'
              })
              this.form.reset();
              this.$Progress.finish()
            })
            .catch((error)=>{
                console.log(error)
                this.$Progress.finish()
            });
          },
          inputEditPresent(){
            this.form.student = this.studentIds
            this.form.present = this.inputPresentsModel
            this.form.year = this.yearId
            this.form.semester = this.form.semester
            this.form.date_in = this.dateNow

            this.$Progress.start()
            
            this.form.post('/api/presents')
            .then(({ data }) => { 
              console.log(data) 
              Fire.$emit('AfterCreate')
              toast.fire({
                type: 'success',
                title: 'Berhasil menginput data absensi'
              })
              this.form.reset();
              this.$Progress.finish()
            })
            .catch((error)=>{
                console.log(error)
                this.$Progress.finish()
            });
          },
          doSomethingInParentComponentFunction(date){
            this.dateNow = this.customFormatter(date)
            this.params.cariTanggal = this.dateNow
            this.loadStudents(this.params)
          }
        },
        mounted() {
            console.log('Component mounted.')
        },
        created(){
          this.loadClasses();
          this.loadTearchers();
          this.loadYears();

          this.dateNow = this.customFormatter(this.dateNow)
          this.params.cariTanggal = this.dateNow
          console.log('presentsDesc', this.presentsDesc)

          var d = new Date();
          var fullYear = d.getFullYear();
          var fullMonth = d.getMonth();
          var fullYear2 = '';
          var fullYear3 = '';

          if(fullMonth > 6){
            fullYear2 = fullYear + 1
            fullYear3 = fullYear +' / '+ fullYear2
            this.semester = 1
          }else{
            fullYear2 = fullYear - 1
            fullYear3 = fullYear2 +' / '+ fullYear
            this.semester = 2
          }

          this.yearName = fullYear3

          this.loadStudents(this.params);

          Fire.$on('AfterCreate', () => {
            this.loadStudents(this.params)
          })
        }
    }
</script>

<style type="text/css">
  input[name="year_of_entry"]{
    border: none;
    width: 100%;
  }
  .card-title{
    margin-bottom: 0rem;
  }
  .card-header > .card-tools {
    top: 3px;
  }
  input[name="year_of_entry"], input[name="birth_date"]{
    border: none;
    width: 100%;
  }
  .mt-2-n{
    margin-top: -20px;
  }
  .error{
    color: red;
  }
  input[name='dateSearch']{
    width: 100%;
    border: none;
  }

</style>
