<template>
        <div class="row justify-content-center">
          <div class="col-12 mt-2-n">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Pencarian Data Siswa</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start wedew -->
              <form role="form">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <v-select :options="classesSearch"
                        placeholder = "Pilih Kelas"
                        v-model = "className"
                        @input="setSelectedClassesSearch"></v-select>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <v-select :options="$static.monthNameOptions()"
                        v-model="monthNameNumber"
                        placeholder = "Pilih Bulan"
                        @input="doSomethingInParentComponentFunction"></v-select>
                      </div>
                    </div>

                    <!-- <div class="col-md-6">
                      <div class="form-group">
                        <v-select :options="semesterOptions"
                        placeholder = "Pilih Semester"
                        @input="setSelectedSemesterSearch2"></v-select>
                      </div>
                    </div> -->

                    <div class="col-md-6">
                      <div class="form-group">
                        <v-select :options="yearOptions"
                        v-model="yearName"
                        placeholder = "Pilih Tahun Ajaran"
                        @input="setSelectedYearSearch2"></v-select>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group input-group">
                        <input type="text" class="form-control" placeholder="Pencarian N.I.S, Nama, atau Email" 
                        v-model="searchStudentModel" @keyup.enter="searchStudent" />
                        <div class="input-group-append">
                          <button class="btn btn-navbar" @click="searchStudent" type="button">
                            <i class="fa fa-search"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                  
                </div>
                <!-- /.card-body -->
              </form>
            </div>

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Tabel Absensi Siswa</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm">
                    <!-- <button class="btn btn-success" @click="newModal()" type="button">
                      Buat Baru <i class="fas fa-user-plus fa-fw"></i>
                    </button> -->
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody>
                  <tr>
                    <th :colspan="colspan" class="monthName">{{ monthName }}</th>
                  </tr>
                  <tr>
                    <th>NIS</th>
                    <th>Nama</th>
                    <th>Kelas</th>
                    <th v-for="(dl, key) in dateList" :key="key" class="text-center">{{ dl.dateList }}</th>
                  </tr>
                  <tr v-for="(student, key) in dateListBody" :key="key">
                    <td>{{ student.nis }}</td>
                    <td>{{ student.first_name | upText }} {{ student.last_name | upText }}</td>
                    <td v-if="student.major">{{ student.class_name }}{{ student.major }} - {{ student.class_sub_name }}</td>
                    <td v-if="!student.major">{{ student.class_name }} - {{ student.class_sub_name }}</td>
                    <td v-for="(dl2, key2) in student.dateList" :key="key2" 
                      :class="dl2.presentsList">
                      {{ dl2.presentsList | fpresent }}
                    </td>
                  </tr>
                </tbody></table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <!-- <pagination :data="students" @pagination-change-page="getResults"></pagination> -->
              </div>
            </div>
            <!-- /.card -->
          </div>

          <div v-if="!$gate.isAdmin()">
            <h3>Halaman tidak di temukan....!!!!!</h3>
            <not-found></not-found>
          </div>
        </div>
</template>

<script>
import moment from 'moment'
import Datepicker from 'vuejs-datepicker';

    export default {
        data(){
          return {
            dateList : [],
            dateListBody : [],
            monthName : '',
            editMode : false,
            dateNow : new Date(),
            dateSearch : new Date(),
            inputPresentsModel : [],
            studentIds : [],
            semester : '',
            params : {},
            students : {},
            classes : [],
            classesSearch : [],
            yearOptions : [],
            searchStudentModel : '',
            className : '',
            classId : '',
            subjectName : '',
            yearName : '',
            monthNameNumber : '',
            yearNameNumber : '',
            yearId : '',
            subjectsModels : '',
            form : new Form({
                        student: '',
                        present: '',
                        year: '',
                        semester : '',
                        date_in : '',
                    }),
            colspan : 34,
          }
        },
        components: {
          Datepicker
        },
        methods: {
          loadDateList(getParmas = null){
            
            let params = '';
            if(getParmas != null){
              var newParams = jQuery.param( getParmas );
              console.log('newParams', newParams);
              params = '?'+newParams
            }

            axios.get('/api/presents-list'+params)
            .then((response) => {   
              this.dateList = []
              this.dateListBody = []
              this.monthName = ''
              this.colspan = 0 + 3
              if(response.data && Object.keys(response.data.dateList).length > 0){
                this.dateList = response.data.dateList[0].dateList
                this.dateListBody = response.data.dateList
                this.monthName = response.data.dateName
                this.colspan = parseInt(response.data.dayTotal) + 3
              }
              console.log('loadDateList', Object.keys(response.data).length)
            });
          },
          
          loadClasses(){
            axios.get('/api/classes')
            .then((data) => {
              let dataNew = data.data.data;
              for(let i = 0; i < dataNew.length; i++) {
                // this.classes.push({label:dataNew[i].class_name+dataNew[i].major+' - '+dataNew[i].class_sub_name, code: dataNew[i].id});
                this.classesSearch.push({label:dataNew[i].class_name+dataNew[i].major+' - '+dataNew[i].class_sub_name, code: dataNew[i].id});
              }
              this.classesSearch.push({label: 'Semua Kelas', code: 0});
              console.log('classesSel', this.classes)
            })
            .catch(() => {
              alert('Error when show classes')
            })
          },
          loadYears() {
            axios.get('/api/years')
            .then((data) => {
              let dataNew = data.data.data
              for(let i = 0; i < dataNew.length; i++) {
                this.yearOptions.push({label:dataNew[i].year_name, code: dataNew[i].id});
                if(this.yearName == dataNew[i].year_name){
                  this.yearId = dataNew[i].id
                }
              }
            })
            .catch(() => {
              alert('Error when show Years')
            })
          },
          
          setSelectedClassesSearch(value){
              this.className = null
              this.classId = null
              this.params.cariKelas = null
            if(value){
              this.className = value.label
              this.classId = value.code
              this.params.cariKelas = value.code
            }
            this.loadDateList(this.params)
          },
          setSelectedYearSearch2(value) {
            this.yearId = null
            this.yearName = null
            if(value){
              this.yearId = value.code
              this.yearName = value.label
              this.params.cariTahun = this.yearId
            }
            this.loadDateList(this.params)
          }, 
          searchStudent(){
            this.params.cariNis = this.searchStudentModel
            this.loadDateList(this.params)
            this.searchStudentModel = '';
            this.params.cariNis = '';
          },
          customFormatter(date) {
            // return moment(date).format('MMMM Do YYYY, h:mm:ss a');
            return moment(date).format('YYYY-MM-DD');
          },
          
          inputEditPresent(){
            this.form.student = this.studentIds
            this.form.present = this.inputPresentsModel
            this.form.year = this.yearId
            this.form.semester = this.form.semester
            this.form.date_in = this.dateNow

            this.$Progress.start()
            
            this.form.post('/api/presents')
            .then(({ data }) => { 
              console.log(data) 
              Fire.$emit('AfterCreate')
              toast.fire({
                type: 'success',
                title: 'Berhasil menginput data absensi'
              })
              this.form.reset();
              this.$Progress.finish()
            })
            .catch((error)=>{
                console.log(error)
                this.$Progress.finish()
            });
          },
          doSomethingInParentComponentFunction(value){
            // alert(this.yearName.split(" / ")[0])
            let d = new Date();
            let fullYear = this.yearName.split(" / ")[0];
            let fullMonth = ('0' + (d.getMonth()+1)).slice(-2)
            let fullYear2 = fullYear

            if(value){
              if(parseInt(value.code) < 6){
                fullYear2 = parseInt(fullYear) + 1
              }
              this.monthNameNumber = value.label
              this.params.dateReq = fullYear2+'-'+value.code+'-01';
            }else{
              this.monthNameNumber = null
              this.params.dateReq = fullYear2+'-'+fullMonth+'-01';
            }
            this.loadDateList(this.params);
          }


        },
        mounted() {
            console.log('Component mounted.')
        },
        created(){
          this.loadClasses();
          this.loadYears();

          this.dateNow = this.customFormatter(this.dateNow)
          this.params.cariTanggal = this.dateNow
          console.log('presentsDesc', this.presentsDesc)

          var d = new Date();
          var fullYear = d.getFullYear();
          var fullMonth = d.getMonth()+1;
          var fullYear2 = '';
          var fullYear3 = '';

          if(fullMonth > 6){
            fullYear2 = fullYear + 1
            fullYear3 = fullYear +' / '+ fullYear2
          }else{
            fullYear2 = fullYear
            fullYear3 = fullYear2 +' / '+ fullYear + 1
          }

          this.yearName = fullYear3

          this.params.dateReq = this.dateNow;
          this.loadDateList(this.params);
          // this.loadStudents(this.params);

          Fire.$on('AfterCreate', () => {
            this.loadDateList(this.params);
          })
        }
    }
</script>

<style type="text/css">
  input[name="year_of_entry"]{
    border: none;
    width: 100%;
  }
  .card-title{
    margin-bottom: 0rem;
  }
  .card-header > .card-tools {
    top: 3px;
  }
  input[name="year_of_entry"], input[name="birth_date"]{
    border: none;
    width: 100%;
  }
  .mt-2-n{
    margin-top: -20px;
  }
  .error{
    color: red;
  }
  input[name='dateSearch']{
    width: 100%;
    border: none;
  }
  td{
    white-space: nowrap;
  }
  .monthName{
    background: #ccc;
    text-align: center;
  }
  .table th, .table td {
      border-right: 1px solid #dee2e6;
  }

  .present{
    background: #007bff;
    color: #fff;
  }

  .sicks{
    background: #ffc107;
    color: #fff;
  }

  .permission{
    background: #28a745;
    color: #fff;
  }

  .not{
    background: #dc3545 !important;
    color: #fff;
  }

</style>
