<template>
        <div class="row justify-content-center">
          <div class="col-12 mt-2-n">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Pencarian Product</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start wedew -->
                <div class="card-body">
                  <div class="row">
                    
                    <div class="col-md-6">
                      <div class="form-group input-group">
                        <input type="text" class="form-control" placeholder="Pencarian Mata Pelajaran" 
                        v-model="searchProductModel" @keyup.enter.prevent="searchProduct" />
                        <div class="input-group-append">
                          <button class="btn btn-navbar" @click="searchProduct" type="button">
                            <i class="fa fa-search"></i>
                          </button>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <span class="float-left mt-1 mr-2">Tampilkan</span>
                        <v-select :options="$static.dataPerPage()"
                        v-model = "dataPage"
                        placeholder = "Jumlah"
                        @input="setSelectedDataPage" class="w150 float-left mr-2"></v-select>
                        <span class="sjdata">Data</span>
                      </div>
                    </div>
                    
                  </div>
                  
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>

          <div class="col-12" v-if="$gate.isAdmin()">
            <div class="card card-secondary">
              <div class="card-header">
                <h3 class="card-title">Daftar Sekolah Table</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm">
                    <button class="btn btn-success" @click="newModal()" type="button">
                      <i class="fas fa-plus-square"></i>
                    </button>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody><tr>
                    <th>Product No</th>
                    <th>Product Name</th>
                    <th>Company ID</th>
                    <th>Buy Price</th>
                    <th>Sale Price</th>
                    <th>Tax</th>
                    <th>Insert By</th>
                    <th>Update By</th>
                    <th>Active</th>
                    <th>Modify</th>
                  </tr>
                  <tr v-for="product in products.data" :key="product.id">
                    <td>{{ product.product_no   }}</td>
                    <td>{{ product.product_name | upText }}</td>
                    <td>{{ product.company_id }}</td>
                    <td>{{ product.buy_price }}</td>
                    <td>{{ product.sale_price }}</td>
                    <td>{{ product.tax }}</td>
                    <td>{{ product.insert_by }}</td>
                    <td>{{ product.update_by }}</td>
                    <td>{{ product.active   }}</td>
                    <td>
                        <a  @click="updateModal(product)">
                          <i class="fa fa-edit text-blue"></i>
                        </a> 
                        || 
                        <a  @click="deleteProduct(product.id)">
                          <i class="fa fa-trash text-red"></i>
                        </a>
                    </td>
                  </tr>
                </tbody></table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <pagination :data="products" @pagination-change-page="loadProducts"></pagination>
              </div>
            </div>
            <!-- /.card -->
          </div>

          <!-- Modal -->
          <div class="modal fade" id="addNewUser" tabindex="-1" role="dialog" aria-labelledby="addNewUserLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 v-show="!editMode" class="modal-title" id="addNewUserLabel">Tambah Baru</h5>
                  <h5 v-show="editMode" class="modal-title" id="addNewUserLabel">Update Product info</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                
                <form @submit.prevent="editMode ? updateProduct() : createProduct()">

                <div class="modal-body">


                  
                  <div class="form-group">
                    <label>Product No</label>
                    <input v-model="form.product_no" type="text" name="product_no" placeholder="Product No" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('product_no') }">
                    <has-error :form="form" field="product_no"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Product Name</label>
                    <input v-model="form.product_name" type="text" name="product_name" placeholder="Product Name" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('product_name') }">
                    <has-error :form="form" field="product_name"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Company ID</label>
                    <input v-model="form.company_id" type="text" name="company_id" placeholder="Company ID" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('company_id') }">
                    <has-error :form="form" field="company_id"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Buy Price</label>
                    <input v-model="form.buy_price" type="text" name="buy_price" placeholder="buy_price" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('buy_price') }">
                    <has-error :form="form" field="buy_price"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Sale Price</label>
                    <input v-model="form.sale_price" type="text" name="sale_price" placeholder="Sale Price" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('sale_price') }">
                    <has-error :form="form" field="sale_price"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Tax</label>
                    <input v-model="form.tax" type="text" name="tax" placeholder="Sale Price" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('tax') }">
                    <has-error :form="form" field="tax"></has-error>
                  </div>

                  

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button v-show="editMode" type="submit" class="btn btn-success">Update</button>
                  <button v-show="!editMode" type="submit" class="btn btn-primary">Create</button>
                </div>

                </form>

              </div>
            </div>
          </div>

          <div v-if="!$gate.isAdmin()">
            <h3>Halaman tidak di temukan....!!!!!</h3>
            <not-found></not-found>
          </div>
        </div>
</template>

<script>
import moment from 'moment'
import Datepicker from 'vuejs-datepicker';
import 'vue-select/dist/vue-select.css';
 
    export default {
        data(){
          return {
            editMode : false,
            products : {},
            getParmas : {},
            searchProductModel : null,
            form : new Form({
                        id: '',
                        product_no: '',
                        product_name: '',
                        company_id: '',
                        buy_price: '',
                        sale_price: '',
                        tax: '',
                        insert_by: '',
                        update_by: '',
                        active : '1'
                    }),

            options: [
              { id: 'basic', text: 'Basic' },
              { id: 'mid', text: 'Middle' },
              { id: 'full', text: 'Full' }
            ],
            selOpt:'basic',
            dataPage : 10,
          }
        },
        components: {
          Datepicker
        },
        methods: {
          // getResults(page = 1){
          //   axios.get('/api/products?page='+page)
          //   .then(response => {
          //     this.products = response.data
          //   });
          // },
          updateProduct() {
            this.$Progress.start()
            this.form.put('/api/products/'+this.form.id)
            .then( ()=> {
              Fire.$emit('AfterCreate')
              $('#addNewUser').modal('hide')
              this.form.reset();
              Swal.fire( 'Updated!', 'Product data is updated.', 'success' )
              this.$Progress.finish()
            })
            .catch( ()=> {
              this.$Progress.fail()
            })
          },
          updateModal(product) {
            this.form.reset();
            this.editMode = true
            $('#addNewUser').modal('show')
            this.form.fill(product)
          },
          newModal() {
            this.form.reset();
            this.editMode = false
            $('#addNewUser').modal('show')
          },
          deleteProduct(id) {
            Swal.fire({
              title: 'Apakah Anda yakin?',
              text: "Data yang kamu sudah hapus tidak akan kembali lagi!!",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
              if (result.value) {
                // Send request to the server
                this.form.delete('/api/products/'+id)
                .then( () => {
                    Fire.$emit('AfterCreate')
                    Swal.fire(
                      'Deleted!',
                      'Your file has been deleted.',
                      'success'
                    )
                })
                .catch( () => {
                  Swal.fire( 'Failed!', 'There was something wrong.', 'warning' )
                })
              }
            })
          },
          loadProducts (page = 1) {
            if(this.$gate.isAdmin){

              let params = '';
              var newParams = jQuery.param( this.getParmas );
              console.log('newParams', newParams);
              params = '&'+newParams

              this.$Progress.start()

              axios.get("/api/products?page="+page+params)
              .then( (data ) => { 
                this.products = data.data
                this.$Progress.finish() 
              });

            }
          },
          createProduct () {
            this.$Progress.start()
            this.form.post('/api/products')
              .then(({ data }) => { 
                console.log(data) 
                Fire.$emit('AfterCreate')
                $('#addNewUser').modal('hide')
                toast.fire({
                  type: 'success',
                  title: 'Berhasil menginput data product baru'
                })

                this.form.reset();
                
                this.$Progress.finish()
              })
              .catch((error)=>{
                  console.log(error)
                  this.$Progress.finish()
              });
          },
          // loadProvinces(){
          //   axios.get('/api/provinces')
          //   .then((data) => {
          //     for(let i = 0; i < data.data.length; i++) {
          //       this.provinces.push(data.data[i].province_name);
          //     }
          //     console.log(this.provinces)
          //   })
          //   .catch(() => {
          //     alert('Error when show provinces')
          //   })
          // },
          // loadRegencies(province){
          //   axios.get('/api/regencies?province_name=' + province)
          //   .then((data) => {
          //     this.regencies = []
          //     for(let i = 0; i < data.data.length; i++) {
          //       this.regencies.push(data.data[i].name);
          //     }
          //     console.log(this.regencies)
          //   })
          //   .catch(() => {
          //     alert('Error when show regencies')
          //   })
          // },
          // loadDistricts(regency){
          //   axios.get('/api/districts?regency_name=' + regency)
          //   .then((data) => {
          //     this.districts = []
          //     for(let i = 0; i < data.data.length; i++) {
          //       this.districts.push(data.data[i].name);
          //     }
          //     console.log(this.districts)
          //   })
          //   .catch(() => {
          //     alert('Error when show districts')
          //   })
          // },
          // setSelectedProvinces(value) {
          //   console.log('province', value)
          //   this.loadRegencies(value)
          //   this.form.province = value
          //   this.districts = []
          //   this.form.city = ''
          //   this.form.district = ''
          // },
          // setSelectedRegencies(value) {
          //   console.log('regency', value)
          //   this.loadDistricts(value)
          //   this.form.city = value
          //   this.form.district = ''
          // },
          // setSelectedDistricts(value){
          //   console.log('district', value)
          //   this.form.district = value
          // },
          searchProduct(){
            this.getParmas.cariProduct = this.searchProductModel
            this.loadProducts();
          },
          setSelectedDataPage(){
            this.getParmas.perPage = this.dataPage
            this.loadProducts();
          }
        },
        watch: {
          // whenever question changes, this function will run
          selOpt: function (newQuestion, oldQuestion) {
            this.form.classification = newQuestion;
          }
        },
        mounted() {
            console.log('Component mounted.')
        },
        created(){
          this.$parent.search = ''
          this.loadProducts();
          //this.loadProvinces();
          Fire.$on('AfterCreate', () => {
            this.loadProducts()
          })
          Fire.$on('searching', () => {
            let query = this.$parent.search
            axios.get('/api/findCompany?q='+query)
            .then((data) => {
              this.companies = data.data
              console.log(this.companies);
            })
            .catch(() => {
              alert("Error when search...!!!!");
            })
          })
          // setInterval( () => this.loadTeachers(), 3000);
        }
    }
</script>

<style type="text/css">
  input[name="year_of_entry"]{
    border: none;
    width: 100%;
  }
</style>
