<template>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Profile Component</div>

                    <div class="card-body">
                        <div class="col-md-12">
                            <!-- Widget: user widget style 1 -->
                            <div class="card card-widget widget-user">
                              <!-- Add the bg color to the header using any of the bg-* classes -->
                              <div class="widget-user-header text-white" style="background:url('/img/cover-img.jpg') center center;">
                                <h3 class="widget-user-username">{{form.first_name}} {{form.first_name}}</h3>
                                <h5 class="widget-user-desc">{{ form.type }}</h5>
                              </div>
                              <div class="widget-user-image">
                                <img class="img-circle" :src="getProfilePhoto()" alt="User Avatar">
                              </div>
                              <div class="card-footer">
                                <div class="row">
                                  <div class="col-sm-4 border-right">
                                    <div class="description-block">
                                      <h5 class="description-header">3,200</h5>
                                      <span class="description-text">SALES</span>
                                    </div>
                                    <!-- /.description-block -->
                                  </div>
                                  <!-- /.col -->
                                  <div class="col-sm-4 border-right">
                                    <div class="description-block">
                                      <h5 class="description-header">13,000</h5>
                                      <span class="description-text">FOLLOWERS</span>
                                    </div>
                                    <!-- /.description-block -->
                                  </div>
                                  <!-- /.col -->
                                  <div class="col-sm-4">
                                    <div class="description-block">
                                      <h5 class="description-header">35</h5>
                                      <span class="description-text">PRODUCTS</span>
                                    </div>
                                    <!-- /.description-block -->
                                  </div>
                                  <!-- /.col -->
                                </div>
                                <!-- /.row -->
                              </div>
                            </div>
                            <!-- /.widget-user -->
                          </div>


                          <div class="col-md-12">
                            <div class="card">
                              <div class="card-header p-2">
                                <ul class="nav nav-pills">
                                  <li class="nav-item"><a class="nav-link active show" href="#activity" data-toggle="tab">Activity</a></li>
                                  <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Settings</a></li>
                                </ul>
                              </div><!-- /.card-header -->
                              <div class="card-body">
                                <div class="tab-content">
                                  <div class="tab-pane active show" id="activity">
                                    <!-- Post -->
                                    <div class="post">
                                      <div class="text-center">
                                        <h1>This is activity</h1>
                                      </div>
                                    </div>
                                    <!-- /.post -->
                                  </div>
                                  <!-- /.tab-pane -->
                                  
                                  <!-- /.tab-pane -->

                                  <div class="tab-pane" id="settings">
                                    
                                    <form class="form-horizontal" @submit.prevent="updateTeacher()">
                                      <div class="form-group">
                                        <label class="col-sm-2 control-label">Nama Depan</label>
                                        <div class="col-sm-10">
                                          <input v-model="form.first_name" type="text" class="form-control" placeholder="Nama Depan"
                                          :class="{ 'is-invalid': form.errors.has('first_name') }">
                                        <has-error :form="form" field="first_name"></has-error>
                                        </div>
                                      </div>

                                      <div class="form-group">
                                        <label class="col-sm-2 control-label">Nama Belakang</label>
                                        <div class="col-sm-10">
                                          <input v-model="form.last_name" type="text" class="form-control" placeholder="Nama Belakang"
                                          :class="{ 'is-invalid': form.errors.has('last_name') }">
                                          <has-error :form="form" field="last_name"></has-error>
                                        </div>
                                      </div>

                                      <div class="form-group">
                                        <label class="col-sm-2 control-label">N.I.G</label>
                                        <div class="col-sm-10">
                                          <input v-model="form.nig" type="text" class="form-control" placeholder="N.I.G"
                                          :class="{ 'is-invalid': form.errors.has('nig') }">
                                          <has-error :form="form" field="nig"></has-error>
                                        </div>
                                      </div>

                                      <div class="form-group">
                                        <label class="col-sm-2 control-label">Jenis Kelamin</label>
                                        <div class="col-sm-10">
                                          <select v-model="selOpt" name="selOpt" class="form-control" :options="options">
                                            <option v-for="option in options" v-bind:value="option.id">
                                              {{ option.text }}
                                            </option>
                                          </select>
                                          <has-error :form="form" field="gender"></has-error>
                                        </div>
                                        <has-error :form="form" field="gender"></has-error>
                                      </div>

                                      <div class="form-group">
                                        <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                                        <div class="col-sm-10">
                                          <input v-model="form.email" type="email" name="email" placeholder="Email"
                                          class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                                          <has-error :form="form" field="email"></has-error>
                                        </div>
                                      </div>
                                      
                                      <div class="form-group">
                                        <label for="inputName2" class="col-sm-2 control-label">No Handphone</label>
                                        <div class="col-sm-10">
                                          <input v-model="form.phone_number" type="text" name="phone_number" 
                                          placeholder="No Handphone" class="form-control" 
                                          :class="{ 'is-invalid': form.errors.has('phone_number') }">
                                          <has-error :form="form" field="phone_number"></has-error>
                                        </div>
                                      </div>

                                      <div class="form-group">
                                        <label for="inputExperience" class="col-sm-2 control-label">Alamat</label>
                                        <div class="col-sm-10">
                                          <textarea v-model="form.address" class="form-control" name="address"
                                          :class="{ 'is-invalid': form.errors.has('address') }"></textarea>
                                          <has-error :form="form" field="address"></has-error>
                                        </div>
                                      </div>

                                      <div class="form-group">
                                        <label for="" class="col-sm-2 control-label">Profil Foto</label>
                                        <div class="col-sm-10">
                                          <input type="file" name="profile_pic" class="form-input" @change="cprofile_pic">
                                        </div>
                                      </div>

                                      <div class="form-group">
                                        <label for="inputSkills" class="col-sm-2 control-label">Password</label>
                                        <div class="col-sm-10">
                                          <input v-model="form.password" type="password" name="password" placeholder="Password" 
                                          class="form-control" :class="{ 'is-invalid': form.errors.has('password') }">
                                          <has-error :form="form" field="password"></has-error>
                                        </div>
                                      </div>

                                      <div class="form-group">
                                        <label for="inputSkills" class="col-sm-2 control-label">Konfirmasi Password</label>
                                        <div class="col-sm-10">
                                          <input v-model="form.password_confirmation" type="password" name="password" 
                                          placeholder="Konfirmasi Password" 
                                          class="form-control" :class="{ 'is-invalid': form.errors.has('password_confirmation') }">
                                          <has-error :form="form" field="password_confirmation"></has-error>
                                        </div>
                                      </div>
                                      
                                      <!-- <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                          <div class="checkbox">
                                            <label>
                                              <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                                            </label>
                                          </div>
                                        </div>
                                      </div> -->
                                      <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                          <button type="submit" class="btn btn-danger">Submit</button>
                                        </div>
                                      </div>
                                    </form>
                                  </div>
                                  <!-- /.tab-pane -->
                                </div>
                                <!-- /.tab-content -->
                              </div><!-- /.card-body -->
                            </div>
                            <!-- /.nav-tabs-custom -->
                          </div>
                    </div>
                </div>
            </div>
        </div>
</template>

<script>
    export default {
        data(){
          return {
            form : new Form({
                        id: '',
                        first_name: '',
                        last_name: '',
                        nig: '',
                        gender: '',
                        email: '',
                        address: '',
                        phone_number: '',
                        year_of_entry: '',
                        password: '',
                        password_confirmation: '',
                        profile_pic: '',
                        type: '',
                    }),
            options: [
              { id: 'M', text: 'Laki-laki' },
              { id: 'F', text: 'Perempuan' }
            ],
            selOpt:''
          }
        },
        mounted() {
            console.log('Component mounted.')
        },
        created() {
          this.loadTeachers();
          Fire.$on('AfterCreate', () => {
            this.loadTeachers()
          })
        },
        watch: {
          // whenever question changes, this function will run
          selOpt: function (newQuestion, oldQuestion) {
            this.form.gender = newQuestion;
          }
        },
        methods: {
          updateTeacher() {
            this.$Progress.start()
            this.form.put('/api/users/'+this.form.id)
            .then( ()=> {
              this.form.reset();
              $("input[name='profile_pic']").val("");
              Fire.$emit('AfterCreate')
              Swal.fire( 'Updated!', 'Berhasil update profile data.', 'success' )
              this.$Progress.finish()
            })
            .catch( ()=> {
              this.$Progress.fail()
            })
          },
          loadTeachers () {
            axios.get('/api/users/1')
            .then((data)=>{
              console.log(data.data)
              this.selOpt = data.data.gender
              this.form.fill(data.data)
            })
            .catch(()=>{
              alert("Error load data")
            })
          },
          cprofile_pic(e){
            // console.log(e);
            let file = e.target.files[0]
            let reader = new FileReader()
            console.log(file)
            if( file['size'] < 2111775 ){
              reader.onloadend = (file) => {
                console.log('RESULT', reader.result)
                this.form.profile_pic = reader.result
              }
              reader.readAsDataURL(file)
            }else{
              this.form.profile_pic = ''
              Swal.fire( 'Oppsss...', 'File yang anda upload terlalu besar. File maximal 2MB.', 'error' )
            }
            
          },
          getProfilePhoto(){
            if(this.form.profile_pic !== ''){
              let photo = (this.form.profile_pic.length > 100) ? this.form.profile_pic : "/img/profile/"+this.form.profile_pic
              return photo
            }
          },
        },
    }
</script>

<style>
    .widget-user-header{
        height: 250px !important;
    }
</style>
