<template>
        <div class="row justify-content-center">

          <div class="col-12 mt-2-n">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Pencarian Data Siswa</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start wedew -->
                <div class="card-body">
                  <div class="row">
                    
                    <div class="col-md-6">
                      <div class="form-group input-group">
                        <input type="text" class="form-control" placeholder="Pencarian N.I.S, Nama, atau Email" 
                        v-model="searchRoleModel" @keyup.enter.prevent="searchRole" />
                        <div class="input-group-append">
                          <button class="btn btn-navbar" @click="searchRole" type="button">
                            <i class="fa fa-search"></i>
                          </button>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group">
                        <span class="float-left mt-1 mr-2">Tampilkan</span>
                        <v-select :options="$static.dataPerPage()"
                        v-model = "dataPage"
                        placeholder = "Jumlah"
                        @input="setSelectedDataPage" class="w150 float-left mr-2"></v-select>
                        <span class="sjdata">Data</span>
                      </div>
                    </div>
                    
                  </div>
                  
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>

          <div class="col-12">
            <div class="card card-secondary">
              <div class="card-header">
                <h3 class="card-title">Tabel Role</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm">
                    <button class="btn btn-success btn-tambah mt-1-n" @click="newModal()" type="button">
                      Tambah Baru <i class="fas fa-user-plus fa-fw"></i>
                    </button>
                    
                    <!-- <input type="text" name="table_search" class="form-control float-right" placeholder="Search" style="top: 3px;"> -->

                    <!-- <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div> -->
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody><tr>
                    <th>Nama Role</th>
                    <th>Level</th>
                    <th>Deskripsi</th>
                    <th>Tanggal Dibuat</th>
                    <th>Modify</th>
                  </tr>
                  <tr v-for="role in roles.data" :key="role.id">
                    <td>{{ role.role_name | upText }}</td>
                    <td>{{ role.level }}</td>
                    <td>{{ role.description | upText }}</td>
                    <td>{{ role.created_at | myDate }}</td>
                    <td>
                        <a href="#" @click="updateModal(role)">
                          <i class="fa fa-edit text-blue"></i>
                        </a> 
                        || 
                        <a href="#" @click="deleteRole(role.id)">
                          <i class="fa fa-trash text-red"></i>
                        </a>
                    </td>
                  </tr>
                </tbody></table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <pagination :data="roles" @pagination-change-page="loadRoles"></pagination>
              </div>
            </div>
            <!-- /.card -->
          </div>

          <!-- Modal -->
          <div class="modal fade" id="addNewUser" tabindex="-1" role="dialog" aria-labelledby="addNewUserLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 v-show="!editMode" class="modal-title" id="addNewUserLabel">Tambah Baru</h5>
                  <h5 v-show="editMode" class="modal-title" id="addNewUserLabel">Update Role info</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                
                <form @submit.prevent="editMode ? updateRole() : createRoles()">

                <div class="modal-body">
                  
                  <div class="form-group">
                    <label>Nama Role</label>
                    <input v-model="form.role_name" type="text" name="role_name" placeholder="Nama Role" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('role_name') }">
                    <has-error :form="form" field="role_name"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Level</label>
                    <input v-model="form.level" type="text" name="level" placeholder="Level" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('level') }">
                    <has-error :form="form" field="level"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Description</label>
                    <input v-model="form.description" type="text" name="description" placeholder="Description" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('description') }">
                    <has-error :form="form" field="description"></has-error>
                  </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button v-show="editMode" type="submit" class="btn btn-success">Update</button>
                  <button v-show="!editMode" type="submit" class="btn btn-primary">Create</button>
                </div>

                </form>

              </div>
            </div>
          </div>
        </div>
</template>

<script>
import moment from 'moment'
import Datepicker from 'vuejs-datepicker';

    export default {
        data(){
          return {
            editMode : false,
            roles : {},
            searchRoleModel : null,
            getParmas : {},
            dataPage : 10,
            form : new Form({
                        id: '', 
                        role_name: '',
                        level: '',
                        description: '',
                        active: '',
                        insert_by: '',
                        update_by: '',
                    }),
          }
        },
        components: {
          Datepicker
        },
        methods: {
          updateRole() {
            this.$Progress.start()
            this.form.put('/api/roles/'+this.form.id)
            .then( ()=> {
              Fire.$emit('AfterCreate')
              $('#addNewUser').modal('hide')
              this.form.reset();
              Swal.fire( 'Updated!', 'Role data sudah updated.', 'success' )
              this.$Progress.finish()
            })
            .catch( ()=> {
              this.$Progress.fail()
            })
          },
          updateModal(role) {
            this.form.reset();
            this.editMode = true
            $('#addNewUser').modal('show')
            this.form.fill(role)
          },
          newModal() {
            this.form.reset();
            this.editMode = false
            $('#addNewUser').modal('show')
          },
          deleteRole(id) {
            Swal.fire({
              title: 'Apa anda yakin?',
              text: "Anda tidak dapat mengembalikan data yang sudah di hapus!",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'ya, Hapus Saja!'
            }).then((result) => {
              if (result.value) {
                // Send request to the server
                this.form.delete('/api/roles/'+id)
                .then( () => {
                    Fire.$emit('AfterCreate')
                    Swal.fire(
                      'Deleted!',
                      'Data anda sudah terhapus.',
                      'success'
                    )
                })
                .catch( () => {
                  Swal.fire( 'Failed!', 'There was something wrong.', 'warning' )
                })
              }
            })
          },
          loadRoles (page = 1) {
            if(this.$gate.isAdmin){
              let params = '';
              var newParams = jQuery.param( this.getParmas );
              console.log('newParams', newParams);
              params = '&'+newParams

              this.$Progress.start()

              axios.get("/api/roles?page="+page+params)
              .then( ( data ) => {
                console.log(data.data)
                this.roles = data.data
                this.$Progress.finish()
              });
            }
          },
          createRoles () {
            this.$Progress.start()
            this.form.post('/api/roles')
              .then(({ data }) => { 
                console.log(data) 
                Fire.$emit('AfterCreate')
                $('#addNewUser').modal('hide')
                toast.fire({
                  type: 'success',
                  title: 'Berhasil menginput data role baru'
                })

                this.form.reset();
                
                this.$Progress.finish()
              })
              .catch((error)=>{
                  console.log(error)
                  this.$Progress.finish()
              });
          },
          customFormatter(date) {
            // return moment(date).format('MMMM Do YYYY, h:mm:ss a');
            return moment(date).format('YYYY-MM-DD');
          },
          setSelectedDataPage(){
            this.getParmas.perPage = this.dataPage
            this.loadRoles()
          },
          searchRole(){
            this.getParmas.cariNis = this.searchRoleModel
            this.loadRoles()
          }
        },
        mounted() {
            console.log('Component mounted.')
            // console.log('userid : '+this.$route.params.userid)
        },
        created(){
          this.loadRoles()
          Fire.$on('AfterCreate', () => {
            this.loadRoles()
          })
        }
    }
</script>

<style type="text/css">
  input[name="year_of_entry"]{
    border: none;
    width: 100%;
  }
  /*.btn-tambah{
    margin-top:2px;
  }*/
  .w150{
    width: 150px;
  }
  .sjdata{
    position: relative;
    top: 3px;
  }
</style>
