<template>
  <div class="row justify-content-center">
    <div class="col-12 mt-2-n">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Pencarian Jadwal Pelajaran Per Kelas</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start wedew -->
        <form role="form">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Kelas</label>
                  <v-select :options="classesSearch"
                  v-model="classesSearchModel"
                  placeholder = "Pilih Kelas" :clearable="false"
                  @input="setSelectedClassesSearch"></v-select>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Semester</label>
                  <v-select :options="semesters"
                  v-model="semesterSearchModel"
                  placeholder = "Pilih Semester" :clearable="false"
                  @input="setSelectedsemesterSearch"></v-select>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Tahun Ajaran</label>
                  <v-select :options="years"
                  v-model="yearSearchModel"
                  placeholder = "Pilih Tahun Ajaran" :clearable="false"
                  @input="setSelectedyearSearch"></v-select>
                </div>
              </div>
              
            </div>
            
          </div>
          <!-- /.card-body -->
        </form>
      </div>
      <!-- /.card -->
    </div>

    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Tabel Mata Pelajaran</h3>

          <div class="card-tools">
            <div class="input-group input-group-sm">
              <button class="btn btn-success pull-left mr-2" @click="newModal()" type="button">
                Tambah Baru <i class="fas fa-user-plus fa-fw"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-hover">
            <tbody><tr>
              <th>Jam Ke</th>
              <th>Jam Pelajaran</th>
              <th>Hari</th>
              <th>Kelas</th>
              <th>Nama Pelajaran</th>
              <th>Semester</th>
              <th>Guru</th>
              <th>Tahun Ajaran</th>
              <th>Modify</th>
              <!-- <th>Modify</th> -->
            </tr>
            <tr v-for="schedule in schedules" :key="schedule.id">
              <td>{{ schedule.time_name }}</td>
              <td>{{ schedule.from_time }}</td>
              <td>{{ schedule.day_name}}</td>
              <td>{{ schedule.class_name}}</td>
              <td>{{ schedule.subject_name }}</td>
              <td>{{ schedule.semester }}</td>
              <td>{{ schedule.user_name }}</td>
              <td>{{ schedule.year_name }}</td>
              <td>
                <a @click="updateModal(schedule)">
                  <i class="fa fa-edit text-blue"></i>
                </a> 
                || 
                <a @click="deleteSchedule(schedule.id)">
                  <i class="fa fa-trash text-red"></i>
                </a>
              </td>
            </tr>
          </tbody></table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addNewUser" tabindex="-1" role="dialog" aria-labelledby="addNewUserLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 v-show="!editMode" class="modal-title" id="addNewUserLabel">Add New</h5>
            <h5 v-show="editMode" class="modal-title" id="addNewUserLabel">Update Subject's info</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          
          <form @submit.prevent="editMode ? updateSchedule() : createSchedule()">

          <div class="modal-body">

            <div class="form-group">
              <label>Mata Pelajaran</label>
              <v-select :options="subjects"
              v-model="form.subject_name" 
              :class="{ 'is-invalid': form.errors.has('subject_name') }"
              @input="setSelectedSchedule" placeholder="Pilih Mata Pelajaran" :clearable="false"></v-select>
              <has-error :form="form" field="subject_name"></has-error>
            </div>

            <div class="form-group">
              <label>Hari</label>
              <v-select :options="dayNameOptions"
              v-model="form.day_name" 
              :class="{ 'is-invalid': form.errors.has('day_name') }"
              @input="setSelectedDay" placeholder="Pilih Hari" :clearable="false"></v-select>
              <has-error :form="form" field="day_name"></has-error>
            </div>
            
            <div class="form-group">
              <label>Jam Pelajaran</label>
              <v-select :options="times"
              v-model="form.time_name" 
              :class="{ 'is-invalid': form.errors.has('time_name') }"
              @input="setSelectedTime" placeholder="Pilih Jam Pelajaran" :clearable="false"></v-select>
              <has-error :form="form" field="time_name"></has-error>
            </div>

            <div class="form-group">
              <label>Semester</label>
              <v-select :options="semesters"
              v-model="form.semester" 
              :class="{ 'is-invalid': form.errors.has('semester') }"
              @input="setSelectedSemester" placeholder="Pilih Semester" :clearable="false"></v-select>
              <has-error :form="form" field="semester"></has-error>
            </div>

            <div class="form-group">
              <label>Kelas</label>
              <v-select :options="classes"
              v-model="form.class_name" 
              :class="{ 'is-invalid': form.errors.has('class_name') }"
              @input="setSelectedClasses" placeholder="Pilih Kelas" :clearable="false"></v-select>
              <has-error :form="form" field="class_name"></has-error>
            </div>

            <div class="form-group">
              <label>Guru</label>
              <v-select :options="user_ids"
              v-model="form.user_name" 
              :class="{ 'is-invalid': form.errors.has('user_id') }"
              @input="setSelectedUser" placeholder="Pilih Guru Pelajaran" :clearable="false"></v-select>
              <has-error :form="form" field="user_id"></has-error>
            </div>

            <div class="form-group">
              <label>Tipe</label>
              <v-select :options="scheduleType"
              v-model="form.schedule_type" 
              :class="{ 'is-invalid': form.errors.has('schedule_type') }"
              @input="setSelectedType" placeholder="Pilih Tipe Jadwal Pelajaran" :clearable="false"></v-select>
              <has-error :form="form" field="schedule_type"></has-error>
            </div>

            <div class="form-group">
              <label>Tahun Ajaran</label>
              <v-select :options="years"
              v-model="form.year_name" 
              :class="{ 'is-invalid': form.errors.has('year_name') }"
              @input="setSelectedYear" placeholder="Pilih Tahun Ajaran" :clearable="false"></v-select>
              <has-error :form="form" field="year_name"></has-error>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button v-show="editMode" type="submit" class="btn btn-success">Update</button>
            <button v-show="!editMode" type="submit" class="btn btn-primary">Create</button>
          </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import Datepicker from 'vuejs-datepicker';

    export default {
        data(){
          return {
            editMode : false,
            classesSearchModel : '',
            subjects : [],
            schedules : [],
            user_ids : [],
            times : [],
            years : [],
            classes : [],
            classesSearch : [],
            semesterSearchModel : '',
            semesterSearchModelCode : 0,
            yearSearchModel : '',
            yearSearchModelCode : 0,
            form : new Form({
                        id: '', 
                        subject: '',
                        subject_name: '',
                        user_id: '',
                        user_name: '',
                        time: '',
                        time_name : '',
                        day_name: '',
                        schedule_type: '',
                        year_id: '',
                        year_name: '',
                        semester: '',
                        class_id : '',
                        class_name : '',
                    }),
            semesters : [{code:1, label:'1'}, {code:2, label:'2'}],
            params : {},
          }
        },
        components: {
          Datepicker
        },
        methods: {
          updateSchedule() {
            this.$Progress.start()
            this.form.put('/api/schedules/'+this.form.id)
            .then( ()=> {
              Fire.$emit('AfterCreate')
              $('#addNewUser').modal('hide')
              this.loadSchedules(this.form.class_id)
              this.form.reset();
              Swal.fire( 'Updated!', 'Jadwal Pelajaran data sudah updated.', 'success' )
              // this.$Progress.finish()
            })
            .catch( ()=> {
              this.$Progress.fail()
            })
          },
          updateModal(sch) {
            this.form.reset();
            this.editMode = true
            $('#addNewUser').modal('show')
            console.log(sch)
            //return false
            this.form.fill(sch)
          },
          newModal() {
            this.form.reset();
            this.editMode = false
            $('#addNewUser').modal('show')
          },
          deleteSchedule(id) {
            Swal.fire({
              title: 'Apa anda yakin?',
              text: "Anda tidak dapat mengembalikan data yang sudah di hapus!",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'ya, Hapus Saja!'
            }).then((result) => {
              if (result.value) {
                // Send request to the server
                this.form.delete('/api/schedules/'+id)
                .then( () => {
                    this.loadSchedules(this.form.class_id)
                    // Fire.$emit('AfterCreate')
                    // this.classesSearchModel = ''
                    Swal.fire(
                      'Deleted!',
                      'Data anda sudah terhapus.',
                      'success'
                    )
                })
                .catch( () => {
                  Swal.fire( 'Failed!', 'There was something wrong.', 'warning' )
                })
              }
            })
          },
          loadSchedules (class_id = null) {
            let params = '';
            if(class_id != null){
              var newParams = jQuery.param( class_id );
              console.log('newParams', newParams);
              params = '?'+newParams
            }
            axios.get("/api/schedules/1"+params)
            .then( ({ data }) => {
              console.log(data.data)
              this.schedules = data.data
            });
          },
          loadSubjects () {
            axios.get("/api/subjects")
            .then( ({ data }) => {
              // this.subjects = data.data
              for(let i = 0; i < data.data.length; i++) {
                this.subjects.push({label : data.data[i].subject_name, code : data.data[i].id});
              }
              //this.form.subject_name = 'Pilih Mata Pelajaran'
              console.log('subjects', this.subjects)
            });
          },
          loadTeachers () {
            this.user_ids = [];
            axios.get("/api/user-sch-sel?semester="+this.form.semester+"&day_name="+this.form.day_name+"&time="+this.form.time)
            .then( ({ data }) => {
              console.log(data.data)
              for(let i = 0; i < data.data.length; i++) {
                this.user_ids.push({label : data.data[i].first_name+' '+data.data[i].last_name, code : data.data[i].id})
              }
              // this.form.user_name = 'Pilih Guru'
              console.log('user_ids', this.user_ids)
            });
          },
          loadTimes () {
            axios.get("/api/times")
            .then( ({ data }) => {
              console.log(data.data)
              for(let i = 0; i < data.data.length; i++) {
                this.times.push({label : data.data[i].time_name, code : data.data[i].id});
              }
              // this.form.time_name = 'Pilih Jam Pelajaran'
              console.log('times', this.times)
            });
          },
          loadYears () {
            axios.get("/api/years")
            .then( ({ data }) => {
              console.log(data.data)
              for(let i = 0; i < data.data.length; i++) {
                this.years.push({label : data.data[i].year_name, code : data.data[i].id});
              }
              // this.form.time_name = 'Pilih Jam Pelajaran'
              console.log('years', this.years)
            });
          },
          loadClasses () {
            this.classes = [];
            axios.get("/api/classes-sch-sel?semester="+this.form.semester+"&day_name="+this.form.day_name+"&time="+this.form.time)
            .then( ({ data }) => {
              console.log(data.data)
              for(let i = 0; i < data.data.length; i++) {
                let newClassName = data.data[i].class_name+' '+data.data[i].major+' - '+data.data[i].class_sub_name
                this.classes.push({label : newClassName, code : data.data[i].id});
              }
              // this.form.time_name = 'Pilih Jam Pelajaran'
              console.log('classes', this.classes)
            });
          },
          loadClassesSearch () {
            axios.get("/api/classes")
            .then( ({ data }) => {
              console.log(data.data)
              for(let i = 0; i < data.data.length; i++) {
                let newClassName = data.data[i].class_name+' '+data.data[i].major+' - '+data.data[i].class_sub_name
                this.classesSearch.push({label : newClassName, code : data.data[i].id});
              }
              this.classesSearch.push({label : 'Semua Kelas', code : '0'});
              console.log('classesSearch', this.classesSearch)
            });
          },
          createSchedule () {
            this.$Progress.start()
            this.form.post('/api/schedules')
              .then(({ data }) => { 
                console.log(data) 
                Fire.$emit('AfterCreate')
                $('#addNewUser').modal('hide')
                toast.fire({
                  type: 'success',
                  title: 'Berhasil menginput data subject baru'
                })
                // this.classesSearchModel = ''
                this.loadSchedules(this.form.class_id)
                this.form.reset();
                // this.$Progress.finish()
              })
              .catch((error)=>{
                  console.log(error)
                  this.$Progress.finish()
              });
          },
          setSelectedSchedule(value){
            console.log('selectedSch', value)
            this.form.subject = value.code
          },
          setSelectedUser(value){
            console.log('selectedUserIds', value)
            this.form.user_id = value.code
          },
          setSelectedTime(value){
            console.log('selectedTime', value)
            this.form.time = value.code
            this.loadTeachers()
            this.loadClasses()
          },
          setSelectedDay(value){
            console.log('selectedDay', value)
            this.form.day_name = value.code
            this.loadTeachers()
            this.loadClasses()
          },
          setSelectedType(value){
            console.log('setSelectedType', value)
            this.form.schedule_type = value.code
          },
          setSelectedYear(value){
            console.log('setSelectedYear', value)
            this.form.year_id = value.code
          },
          setSelectedSemester(value){
            console.log('setSelectedSemester', value)
            this.form.semester = value.code
            this.loadTeachers()
            this.loadClasses()
          },
          setSelectedClasses(value){
            console.log('setSelectedClasses', value)
            this.form.class_id = value.code
            this.loadTeachers()
          },
          setSelectedClassesSearch(value){
            this.classesSearchModel = value.label
            this.form.class_id = value.code
            this.params.class_id = value.code
            this.loadSchedules(this.params)
          },
          setSelectedsemesterSearch(value){
            this.semesterSearchModel = value.label
            this.semesterSearchModelCode = value.code
            this.params.semester = value.code
            this.loadSchedules(this.params)
          },
          setSelectedyearSearch(value){
            this.yearSearchModel = value.label
            this.yearSearchModelCode = value.code
            this.params.year_id = value.code
            this.loadSchedules(this.params)
          },
        },
        mounted() {
            console.log('Component mounted.')
            // console.log('userid : '+this.$route.params.userid)
        },
        created(){
          console.log('dayNameOptions', this.dayNameOptions)
          console.log('scheduleType', this.scheduleType)
          this.loadSchedules()
          this.loadSubjects()
          this.loadTeachers()
          this.loadTimes()
          this.loadYears()
          this.loadClasses()
          this.loadClassesSearch()
          Fire.$on('AfterCreate', () => {
            this.loadSchedules()
          })
        }
    }
</script>

<style type="text/css">
  input[name="year_of_entry"]{
    border: none;
    width: 100%;
  }
  .mt-2-n{
    margin-top: -20px;
  }
</style>
