<template>
        <div class="row justify-content-center">
          <div class="col-12 mt-2-n">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Pencarian Data Siswa</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start wedew -->
              <form role="form">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <v-select :options="classesSearch"
                        placeholder = "Pilih Kelas"
                        v-model = "className"
                        @input="setSelectedClassesSearch"></v-select>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <v-select :options="subjectsSearch"
                        placeholder = "Pilih Mata Pelajaran"
                        @input="setSelectedSubjectsSearch"></v-select>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <v-select :options="semesterOptions"
                        placeholder = "Pilih Semester"
                        @input="setSelectedSemesterSearch2"></v-select>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <v-select :options="yearOptions"
                        v-model="yearName"
                        placeholder = "Pilih Tahun Ajaran"
                        @input="setSelectedYearSearch2"></v-select>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group input-group">
                        <input type="text" class="form-control" placeholder="Pencarian N.I.S, Nama, atau Email" 
                        v-model="searchStudentModel" />
                        <div class="input-group-append">
                          <button class="btn btn-navbar" @click="searchStudent" type="button">
                            <i class="fa fa-search"></i>
                          </button>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <v-select :options="$static.dataPerPage()"
                        v-model = "perPage"
                        placeholder = "Tampilkan Jumlah Data"
                        @input="setSelectedDataPage"></v-select>
                      </div>
                    </div>
                    
                  </div>
                  
                </div>
                <!-- /.card-body -->
              </form>
            </div>

            <div class="card card-secondary">
              <div class="card-header">
                <h3 class="card-title">Tabel Nilai Siswa</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm">
                    <!-- <button class="btn btn-success" @click="newModal()" type="button">
                      Buat Baru <i class="fas fa-user-plus fa-fw"></i>
                    </button> -->
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody><tr>
                    <th>NIS</th>
                    <th>Nama</th>
                    <th>Kelas</th>
                    <!-- <th>Mata Pelajaran</th> -->
                    <th v-for="(sl, key) in subjectsList" :key="key">{{ sl }}</th>
                    <th>Modify</th>
                  </tr>
                  <tr v-for="( student, key ) in students.data" :key="key">
                    <td>{{ student.nis }}</td>
                    <td>{{ student.first_name | upText }} {{ student.last_name | upText }}</td>
                    <td v-if="student.major">{{ student.class_name }}{{ student.major }} - {{ student.class_sub_name }}</td>
                    <td v-if="!student.major">{{ student.class_name }} - {{ student.class_sub_name }}</td>
                    <!-- <td>{{ student.subject_name }}</td> -->
                    <template v-if="className">
                      <td v-for="(stdn, key2) in student.scoreList" :key="key2" v-if="student.scoreList.length">
                        {{ stdn }}
                      </td>
                    </template>
                    <td>
                        <a @click="updateModal(student)">
                          <i class="fa fa-edit text-blue"></i>
                        </a> 
                    </td>
                  </tr>
                </tbody></table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <pagination :data="students" @pagination-change-page="getResults"></pagination>
              </div>
            </div>
            <!-- /.card -->
          </div>

          <!-- Modal -->
          <div class="modal fade" id="addNewUser" tabindex="-1" role="dialog" aria-labelledby="addNewUserLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 v-show="!editMode" class="modal-title" id="addNewUserLabel">Tambah Baru</h5>
                  <h5 v-show="editMode" class="modal-title" id="addNewUserLabel">Update Info Siswa</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                
                <form @submit.prevent="editMode ? updateStudent() : createStudent()">

                <div class="modal-body">
                  <div class="form-group">
                    <label>N.I.S</label>
                    <input v-model="form.nis" type="text" name="nis" placeholder="N.I.S" readonly 
                      class="form-control">
                  </div>

                  <div class="form-group">
                    <label>Nama Lengkap</label>
                    <input v-model="form.full_name" type="text" name="full_name" placeholder="Nama Lengkap" readonly 
                      class="form-control">
                  </div>

                  <div class="form-group">
                    <label>Kelas</label>
                    <input v-model="form.kelas" type="text" name="kelas" readonly 
                      class="form-control">
                  </div>

                  <div class="form-group">
                    <label>Mata Pelajaran</label>
                    <v-select :options="subjectsSearch2"
                        v-model = "subjectsModels" 
                        placeholder = "Pilih Mata Pelajaran"
                        @input="setSelectedSubjectsSearch2"></v-select>
                    <div class="error">{{ subject_error }}</div>
                  </div>

                  <div class="form-group">
                    <label>Guru Pelajaran</label>
                    <v-select :options="teachers"
                        v-model = "form.teacher_name" 
                        placeholder = "Pilih Guru"
                        @input="setSelectedTeachersSearch"></v-select>
                    <div class="error">{{ teacher_error }}</div>
                  </div>

                  <div class="form-group">
                    <label>Tahun Ajaran</label>
                    <v-select :options="yearOptions"
                        v-model = "form.year_name" 
                        placeholder = "Tahun Ajaran"
                        @input="setSelectedYearSearch"></v-select>
                    <div class="error">{{ year_error }}</div>
                  </div>

                  <div class="form-group">
                    <label>Semester</label>
                    <v-select :options="semesterOptions"
                        v-model = "form.semester" 
                        placeholder = "Semester"
                        @input="setSelectedSemesterSearch"></v-select>
                    <div class="error">{{ semester_error }}</div>
                  </div>

                  <div class="form-group">
                    <label>Nilai</label>
                    <input v-model="form.score" type="text" name="score" placeholder="Nilai" 
                      class="form-control">
                  </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button v-show="editMode" type="submit" class="btn btn-success">Update</button>
                  <button v-show="!editMode" type="submit" class="btn btn-primary">Create</button>
                </div>

                </form>

              </div>
            </div>
          </div>

          <div v-if="!$gate.isAdmin()">
            <h3>Halaman tidak di temukan....!!!!!</h3>
            <not-found></not-found>
          </div>
        </div>
</template>

<script>
import moment from 'moment'
import Datepicker from 'vuejs-datepicker';

    export default {
        data(){
          return {
            editMode : false,
            perPage : null,
            subjectById : {},
            subject_error : "",
            teacher_error : '',
            semester_error : '',
            year_error : '',
            params : {},
            students : {},
            classes : [],
            classesSearch : [],
            subjectsSearch : [],
            subjectsSearch2 : [],
            yearOptions : [],
            semesterOptions : [{label : 1, code : 1}, {label : 2, code : 2}],
            searchStudentModel : '',
            className : null,
            subjectName : '',
            yearName : '',
            yearId : '',
            subjectsModels : '',
            teachers : [],
            errors : {},
            subjectsList : [],
            form : new Form({
                        id: '',
                        user_id: '',
                        first_name: '',
                        last_name: '',
                        full_name: '',
                        nis: '',
                        class_name : '',
                        class_sub_name : '',
                        kelas: '',
                        major : '',
                        score : 0,
                        subject_name : '',
                        subject_id : '',
                        score_id : 0,
                        teacher_id : '',
                        teacher_name : '',
                        year_name : '',
                        year_id : '',
                        semester : ''
                    }),
          }
        },
        components: {
          Datepicker
        },
        methods: {
          getResults(page = 1){
            axios.get('/api/scores?page='+page)
            .then(response => {
              this.students = response.data.users
            });
          },
          updateStudent() {
            this.$Progress.start()
            this.form.put('/api/scores/'+this.form.score_id)
            .then( (data)=> {
              Fire.$emit('AfterCreate')
              $('#addNewUser').modal('hide')
              this.form.reset();
              this.subjectsModels = ''
              Swal.fire( 'Updated!', 'Student data is updated.', 'success' )
              this.$Progress.finish()
            })
            .catch( (e)=> {
              console.log(e.response)
              if(e.response.data.errors.subject_id){
                this.subject_error = 'Mata Pelajaran Tidak Boleh Kosong'
              }
              if(e.response.data.errors.teacher_id){
                this.teacher_error = 'Guru Pelajaran Tidak Boleh Kosong'
              }
              if(e.response.data.errors.year_id){
                this.year_error = 'Tahun Ajaran Tidak Boleh Kosong'
              }
              if(e.response.data.errors.semester){
                this.semester_error = 'Semester Tidak Boleh Kosong'
              }
              this.$Progress.fail()
            })
          },
          updateModal(student) {
            // this.loadSubjectsById(student.subject_id)
            let setParams = {}
            setParams.cariKelas = student.class_name
            setParams.cariJurusan = student.major
            this.loadSubjects(setParams);
            this.form.reset();
            this.editMode = true
            $('#addNewUser').modal('show')
            this.form.user_id = student.id
            this.form.score_id = student.score_id
            this.form.full_name = student.first_name_+' '+student.last_name
            this.form.nis = student.nis
            this.subjectsModels = null
            this.form.subject_id = student.subject_id
            this.form.teacher_name = student.teacher_name
            this.form.teacher_id = student.teacher_id
            this.form.score = student.score
            this.form.semester = student.semester
            if(student.year_id == null || student.year_id == ''){
              var d = new Date();
              var fullYear = d.getFullYear();
              var fullMonth = d.getMonth();
              var fullYear2 = '';
              var fullYear3 = '';

              if(fullMonth > 6){
                fullYear2 = fullYear + 1
                fullYear3 = fullYear +' / '+ fullYear2
              }else{
                fullYear2 = fullYear - 1
                fullYear3 = fullYear2 +' / '+ fullYear
              }

              this.yearOptions.forEach(function(val){
                if(val.label == fullYear3){
                  student.year_id = val.code
                  student.year_name = val.label
                }
              })

              this.form.year_name = fullYear3
              this.form.year_id = student.year_id
            }else{
              this.form.year_id = student.year_id
              this.form.year_name = student.year_name
            }
            
            if(student.major != null){
              this.form.kelas = student.class_name+student.major+' - '+student.class_sub_name
            }else{
              this.form.kelas = student.class_name+' - '+student.class_sub_name
            }
          },
          loadStudents (getParmas = null) {
              let params = '';
              if(getParmas != null){
                var newParams = jQuery.param( getParmas );
                params = '?'+newParams
              }
              axios.get("/api/scores"+params)
              .then( ({ data }) => {
                this.students = data.users
                this.subjectsList = data.subjects
                // this.className = null
                // this.form.class_id = null
                // this.params.cariKelas = null
              })
          },

          loadClasses(){
            axios.get('/api/classes')
            .then((data) => {
              let dataNew = data.data.data;
              for(let i = 0; i < dataNew.length; i++) {
                // this.classes.push({label:dataNew[i].class_name+dataNew[i].major+' - '+dataNew[i].class_sub_name, code: dataNew[i].id});
                this.classesSearch.push({label:dataNew[i].class_name+dataNew[i].major+' - '+dataNew[i].class_sub_name, code: dataNew[i].id});
              }
              this.classesSearch.push({label: 'Semua Kelas', code: 0});
              console.log('classesSel', this.classes)
            })
            .catch(() => {
              alert('Error when show classes')
            })
          },
          loadSubjects(getParams = null) {
            let params = '';
            if(getParams != null){
              var newParams = jQuery.param( getParams );
              params = '?'+newParams
            }
            this.subjectsSearch = [];
            this.subjectsSearch2 = [];
            axios.get('/api/subjects'+params)
            .then((data) => {
              let dataNew = data.data.data;
              for(let i = 0; i < dataNew.length; i++) {
                this.subjectsSearch.push({label:dataNew[i].subject_name, code: dataNew[i].id});
                this.subjectsSearch2.push({label:dataNew[i].subject_name, code: dataNew[i].id});
              }
              this.subjectsSearch.push({label: 'Semua Mata Pelajaran', code: 0});
            })
            .catch(() => {
              alert('Error when show subjects')
            })
          },

          loadSubjectsById(id) {
            axios.get('/api/subjects/'+id)
            .then((data) => {
              this.subjectById = data
            })
            .catch(() => {
              alert('Error when show subjects')
            })
            console.log('subjectById', this.subjectById)
          },

          loadTearchers() {
            axios.get('/api/users')
            .then((data) => {
              let dataNew = data.data.data;
              for(let i = 0; i < dataNew.length; i++) {
                this.teachers.push({label:dataNew[i].first_name+' - '+dataNew[i].last_name, code: dataNew[i].id});
              }
            })
            .catch(() => {
              alert('Error when show teachers')
            })
          },

          loadYears() {
            axios.get('/api/years')
            .then((data) => {
              let dataNew = data.data.data
              for(let i = 0; i < dataNew.length; i++) {
                this.yearOptions.push({label:dataNew[i].year_name, code: dataNew[i].id});
              }
            })
            .catch(() => {
              alert('Error when show teachers')
            })
          },
          
          setSelectedClassesSearch(value){
              this.className = null
              this.form.class_id = null
              this.params.cariKelas = null
            if(value){
              this.className = value.label
              this.form.class_id = value.code
              this.params.cariKelas = value.code
            }
            this.loadStudents(this.params)
          },
          setSelectedSubjectsSearch(value){
            this.subjectName = null
            this.params.cariSubjct = null
            if(value){
              this.subjectName = value.label
              this.params.cariSubjct = value.code
            }
            this.loadStudents(this.params)
          },
          setSelectedSubjectsSearch2(value){
            this.subjectsModels = null
            this.form.subject_id = null
            if(value){
              this.subject_error = ''
              this.subjectsModels = value.label
              this.form.subject_id = value.code
            }
          },
          setSelectedTeachersSearch(value){
            this.form.teacher_name = null
            this.form.teacher_id = null
            if(value){
              this.teacher_error = ''
              this.form.teacher_name = value.label
              this.form.teacher_id = value.code
            }            
          },
          setSelectedSemesterSearch(value){
            this.form.semester = null
            if(value){
              this.semester_error = ''
              this.form.semester = value.code
            }     
          },
          setSelectedSemesterSearch2(value){
            this.form.semester = null
            this.params.cariSemester = null
            if(value){
              this.form.semester = value.label
              this.params.cariSemester = value.code
            }
            this.loadStudents(this.params)
          },
          setSelectedYearSearch(value) {
            this.form.year_id = null
            this.form.year_name = null
            if(value){
              this.year_error = ''
              this.form.year_id = value.code
              this.form.year_name = value.label
            }
          },
          setSelectedYearSearch2(value) {
            this.yearId = null
            this.yearName = null
            this.params.cariThnAjaran = null
            if(value){
              this.yearId = value.code
              this.yearName = value.label
              this.params.cariThnAjaran = value.code
            }
            this.loadStudents(this.params)
          }, 
          searchStudent(){
            this.params.cariNis = this.searchStudentModel
            this.loadStudents(this.params)
            this.searchStudentModel = '';
            this.params.cariNis = '';
          },

          setSelectedDataPage(){
            this.params.perPage = this.perPage
            this.loadStudents(this.params)
          }
        },
        mounted() {
            console.log('Component mounted.')
        },
        created(){
          this.loadStudents();
          this.loadClasses();
          this.loadSubjects();
          this.loadTearchers();
          this.loadYears();

          var d = new Date();
          var fullYear = d.getFullYear();
          var fullMonth = d.getMonth();
          var fullYear2 = '';
          var fullYear3 = '';

          if(fullMonth > 6){
            fullYear2 = fullYear + 1
            fullYear3 = fullYear +' / '+ fullYear2
          }else{
            fullYear2 = fullYear - 1
            fullYear3 = fullYear2 +' / '+ fullYear
          }

          this.yearName = fullYear3

          Fire.$on('AfterCreate', () => {
            this.loadStudents()
          })
        }
    }
</script>

<style type="text/css">
  input[name="year_of_entry"]{
    border: none;
    width: 100%;
  }
  .card-title{
    margin-bottom: 0rem;
  }
  .card-header > .card-tools {
    top: 3px;
  }
  input[name="year_of_entry"], input[name="birth_date"]{
    border: none;
    width: 100%;
  }
  .mt-2-n{
    margin-top: -20px;
  }
  .error{
    color: red;
  }

</style>
