<template>
        <div class="row justify-content-center mt-2-n">
          <div class="col-12" v-if="$gate.isAdmin()">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Pilih Kelas untuk siswa berganti kelas :</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <v-select :options="classesSearchAll"
                        v-model="kelasAsal"
                        placeholder = "Pilih Kelas Asal"
                        @input="setSelectedClassesSearchStart"></v-select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <v-select :options="classesSearch"
                        v-model="kelasTujuan"
                        placeholder = "Pilih Kelas Tujuan"
                        @input="setSelectedClassesSearch"></v-select>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group input-group">
                        <input type="text" class="form-control" placeholder="Pencarian N.I.S, Nama, atau Email" 
                        v-model="searchStudentModel" @keyup.enter="searchStudent" />
                        <div class="input-group-append">
                          <button class="btn btn-navbar" @click="searchStudent" type="button">
                            <i class="fa fa-search"></i>
                          </button>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-2">
                      <div class="text-right float-right">
                        <button class="btn btn-success mr-2" @click="ubahKelas()" type="button">
                          Simpan <i class="fas fa-user-plus fa-fw"></i>
                        </button>
                      </div>
                    </div>
                    
                  </div>
                  
                </div>
                <!-- /.card-body -->
            </div>

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Tabel Siswa</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm mt-1">
                    <span class="mt-1 mr-1">Tampilkan : </span>
                    <v-select :options="$static.dataPerPage()"
                    v-model="dataPerpage"
                    @input="setSelectedDataPage"></v-select>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody><tr>
                    <th><input type="checkbox" v-model="checkedAllSelected" @click="checkedAll"></th>
                    <th>NIS</th>
                    <th>Nama</th>
                    <th>Kelas</th>
                    <th>Email</th>
                    <th>No Handphone</th>
                    <th>Tanggal Masuk</th>
                  </tr>
                  <tr v-for="student in students.data" :key="student.id">
                    <td><input type="checkbox" v-model="userIds" @click="select" :value="student.id"></td>
                    <td>{{ student.nis }}</td>
                    <td>{{ student.first_name | upText }} {{ student.last_name | upText }}</td>
                    <td v-if="!student.class_sub_name">
                      {{ student.class_name }}
                    </td>
                    <td v-if="student.class_sub_name">
                      {{ student.class_name }}{{ student.major }} - {{ student.class_sub_name }}
                    </td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.phone_number }}</td>
                    <td>{{ student.year_of_entry | myDate }}</td>
                  </tr>
                </tbody></table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <pagination :data="students" @pagination-change-page="loadStudents"></pagination>
              </div>
            </div>
            <!-- /.card -->
          </div>

          <div v-if="!$gate.isAdmin()">
            <h3>Halaman tidak di temukan....!!!!!</h3>
            <not-found></not-found>
          </div>
        </div>
</template>

<script>
import moment from 'moment'
import Datepicker from 'vuejs-datepicker';

    export default {
        data(){
          return {
            checkedAllSelected : false,
            userIds: [],
            students : {},
            classes : [],
            classesSearch : [],
            classesSearchAll : [],
            kelasTujuan : '',
            kelasAsal : '',
            searchStudentModel : '',
            getParmas : {},
            dataPerpage : 10,
            form : new Form({
                        userIds: [],
                        kelas: '',
                    }),
            formClasses : new Form({
              class_name_form : 'Pilih Kelas'
            }),
          }
        },
        methods: {
          ubahKelas() {
            console.log(this.form)
            this.form.userIds = this.userIds
            Swal.fire({
              title: 'Apakah Anda Yakin?',
              text: "Kelas siswa akan langsung berubah",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Ya, Pindahkan Kelas!'
            }).then((result) => {
              if (result.value) {
                // Send request to the server
                this.form.put('/api/change-classes')
                .then( (data) => {
                    Fire.$emit('AfterCreate')
                    this.kelasTujuan = '';
                    this.userIds = [];
                    this.checkedAllSelected = false;
                    Swal.fire(
                      'Berhasil!',
                      'Data siswa berhasil do perbaharui.',
                      'success'
                    )
                    console.log('response change-classes',data);
                })
                .catch( () => {
                  Swal.fire( 'Failed!', 'There was something wrong.', 'warning' )
                })
              }
            })
          },
          loadStudents (page = 1) {
            if(this.$gate.isAdmin){
              let params = '';
              var newParams = jQuery.param( this.getParmas );
              console.log('newParams', newParams);
              params = '&'+newParams

              axios.get("/api/students?page="+page+params)
              .then( ( data ) => {
                this.students = data.data
              })
            }
          },
          doSomethingInParentComponentFunction(date){
            // alert(date)
            this.form.year_of_entry = this.customFormatter(date)
          },
          customFormatter(date) {
            // return moment(date).format('MMMM Do YYYY, h:mm:ss a');
            return moment(date).format('YYYY-MM-DD');
          },
          loadClasses(){
            axios.get('/api/classes')
            .then((data) => {
              let dataNew = data.data.data;
              let classNameFull
              for(let i = 0; i < dataNew.length; i++) {
                classNameFull = ''
                classNameFull = dataNew[i].class_name

                if( dataNew[i].major == null ){
                  dataNew[i].major = ''
                }

                classNameFull += dataNew[i].major

                if( dataNew[i].class_sub_name != null ){
                  classNameFull += ' - '+dataNew[i].class_sub_name
                }

                this.classesSearch.push({label:classNameFull, code: dataNew[i].id});
                if(dataNew[i].active != 0 && dataNew[i].active != 2){
                  this.classesSearchAll.push({label:classNameFull, code: dataNew[i].id});
                }
              }

              this.classesSearchAll.push({label: 'Semua Kelas', code: 0});

              console.log('classesSel', this.classes)
            })
            .catch(() => {
              alert('Error when show classes')
            })
          },
          setSelectedClasses(value) {
            console.log('classes', value)
            this.form.kelas = value.label
            this.form.kelas_code = value.code
          },
          setSelectedClassesSearch(value){
              console.log('value', value)
              this.form.kelas = value.code
          },
          setSelectedClassesSearchStart(value){
            this.getParmas.cariKelas = null
            if(value){
              this.getParmas.cariKelas = value.code
            }
              this.loadStudents()
          },
          
          checkedAll(){
            this.userIds = [];
            // alert(this.checkedAllSelected)
            if (!this.checkedAllSelected) {
                for (let i = 0; i < this.students.data.length; i++) {
                    // alert(JSON.stringify(this.students.data[i].id))
                    this.userIds.push(this.students.data[i].id);
                }
                this.form.userIds = this.userIds
            }
            console.log("userIds", this.userIds);
          },
          select(){
            this.checkedAllSelected = false;
          },
          searchStudent(){
            this.getParmas.cariNis = this.searchStudentModel
            this.loadStudents()
          },
          setSelectedDataPage(value){
            this.getParmas.perPage = value
            this.loadStudents()
          },
        },
        mounted() {
            console.log('Component mounted.')
        },
        created(){
          this.$parent.search = ''
          this.loadStudents();
          this.getParmas.perPage = this.dataPerpage
          this.loadClasses();
          Fire.$on('AfterCreate', () => {
            this.loadStudents()
          })
        }
    }
</script>

<style type="text/css">
  input[name="year_of_entry"]{
    border: none;
    width: 100%;
  }
</style>
