<template>
        <div class="row justify-content-center">
          <div class="col-12 mt-2-n">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Pencarian Data Siswa</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start wedew -->
              <form role="form">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <v-select :options="classesSearch"
                        placeholder = "Pilih Kelas"
                        @input="setSelectedClassesSearch"></v-select>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group input-group">
                        <input type="text" class="form-control" placeholder="Pencarian N.I.S, Nama, atau Email" 
                        v-model="searchStudentModel" @keyup.enter.prevent="searchStudent" />
                        <div class="input-group-append">
                          <button class="btn btn-navbar" @click="searchStudent" type="button">
                            <i class="fa fa-search"></i>
                          </button>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-2">
                      <div class="form-group">
                        <v-select :options="$static.dataPerPage()"
                        placeholder = "Pilih Jumlah Data Tabel"
                        @input="setSelectedDataPage"></v-select>
                      </div>
                    </div>
                    
                  </div>
                  
                </div>
                <!-- /.card-body -->
              </form>
            </div>

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Tabel Siswa</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm">
                    <button class="btn btn-info pull-left mr-2" @click="saveToExcel()" type="button">
                      Save Excel <i class="fas fa-file-excel"></i>
                    </button>

                    <button class="btn btn-success" @click="newModal()" type="button">
                      Buat Baru <i class="fas fa-user-plus fa-fw"></i>
                    </button>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody><tr>
                    <th>NIS</th>
                    <th>Nama</th>
                    <th>Kelas</th>
                    <th>Email</th>
                    <th>No Handphone</th>
                    <th>Tanggal Masuk</th>
                    <th>Modify</th>
                  </tr>
                  <tr v-for="student in students.data" :key="student.id">
                    <td>{{ student.nis }}</td>
                    <td>{{ student.first_name | upText }} {{ student.last_name | upText }}</td>
                    <td v-if="student.major">{{ student.class_name }}{{ student.major }} - {{ student.class_sub_name }}</td>
                    <td v-if="!student.major">{{ student.class_name }} - {{ student.class_sub_name }}</td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.phone_number }}</td>
                    <td>{{ student.year_of_entry | myDate }}</td>
                    <td>
                        <router-link :to="`/student/view/${student.id}`">
                          <i class="fas fa-eye text-green"></i>
                        </router-link> 
                        ||
                        <a @click="updateModal(student)">
                          <i class="fa fa-edit text-blue"></i>
                        </a> 
                        || 
                        <a @click="deleteStudent(student.id)">
                          <i class="fa fa-trash text-red"></i>
                        </a>
                    </td>
                  </tr>
                </tbody></table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <pagination :data="students" @pagination-change-page="loadStudents"></pagination>
              </div>
            </div>
            <!-- /.card -->
          </div>

          <!-- Modal -->
          <div class="modal fade" id="addNewUser" tabindex="-1" role="dialog" aria-labelledby="addNewUserLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 v-show="!editMode" class="modal-title" id="addNewUserLabel">Add New</h5>
                  <h5 v-show="editMode" class="modal-title" id="addNewUserLabel">Update Student's info</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                
                <form @submit.prevent="editMode ? updateStudent() : createStudent()">

                <div class="modal-body">
                  
                  <div class="form-group">
                    <label>Nama Depan</label>
                    <input v-model="form.first_name" type="text" name="first_name" placeholder="Nama Depan" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('first_name') }">
                    <has-error :form="form" field="first_name"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Nama Belakang</label>
                    <input v-model="form.last_name" type="text" name="last_name" placeholder="Last name" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('last_name') }">
                    <has-error :form="form" field="last_name"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Kelas</label>
                    <v-select :options="classes"
                    placeholder = "Pilih Kelas"
                    @input="setSelectedClasses" 
                    v-model="form.kelas"></v-select>

                  </div>

                  <div class="form-group">
                    <label>N.I.S</label>
                    <input v-model="form.nis" type="text" name="nis" placeholder="N.I.S" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('nis') }">
                    <has-error :form="form" field="nis"></has-error>
                  </div>

                  <div class="form-group">
                    <label>N.I.S.N</label>
                    <input v-model="form.nisn" type="text" name="nisn" placeholder="N.I.S.N" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('nisn') }">
                    <has-error :form="form" field="nisn"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Agama</label>
                    <v-select :options="$static.religionList()" v-model="religion"
                    placeholder = "Pilih Agama"
                    @input="religionSelect"></v-select>
                    <has-error :form="form" field="religion"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Tempat Lahir</label>
                    <input v-model="form.born_at" type="text" name="born_at" placeholder="Tempat Lahir" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('born_at') }">
                    <has-error :form="form" field="born_at"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Tanggal Lahir</label>
                    <datepicker v-model="form.birth_date" placeholder="Tanggal Lahir" class="form-control" 
                    :class="{ 'is-invalid': form.errors.has('birth_date') }" name="birth_date" 
                    @selected="doSomethingInParentComponentFunction2" :format="customFormatter2"></datepicker>
                    <has-error :form="form" field="birth_date"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Jenis Kelamin</label>
                    <v-select :options="$static.genderList()" v-model="selOpt"
                    placeholder = "Pilih Jenis Kelamin"
                    @input="setSelectedGender"></v-select>
                    <has-error :form="form" field="gender"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Email</label>
                    <input v-model="form.email" type="text" name="email" placeholder="Email" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                    <has-error :form="form" field="email"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Alamat</label>
                    <textarea v-model="form.address" class="form-control" name="address" 
                    :class="{ 'is-invalid': form.errors.has('address') }"></textarea>
                    <has-error :form="form" field="address"></has-error>
                  </div>

                  <div class="form-group">
                    <label>No Handphone</label>
                    <input v-model="form.phone_number" type="text" name="phone_number" placeholder="No Handphone" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('phone_number') }">
                    <has-error :form="form" field="phone_number"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Tahun Masuk</label>
                    <!-- <input v-model="form.year_of_entry" type="text" name="year_of_entry" placeholder="Tahun Masuk" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('year_of_entry') }"> -->
                    <datepicker v-model="form.year_of_entry" placeholder="Tahun Masuk" class="form-control" 
                    :class="{ 'is-invalid': form.errors.has('year_of_entry') }" name="year_of_entry" 
                     @selected="doSomethingInParentComponentFunction" :format="customFormatter"></datepicker>
                    <has-error :form="form" field="year_of_entry"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Password</label>
                    <input v-model="form.password" type="password" name="password" placeholder="Password" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('password') }">
                    <has-error :form="form" field="password"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Konfirmasi Passord</label>
                    <input v-model="form.password_confirmation" type="password" 
                      name="password_confirmation" placeholder="Konfirmasi Passord" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('password_confirmation') }">
                    <has-error :form="form" field="password_confirmation"></has-error>
                  </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button v-show="editMode" type="submit" class="btn btn-success">Update</button>
                  <button v-show="!editMode" type="submit" class="btn btn-primary">Create</button>
                </div>

                </form>

              </div>
            </div>
          </div>

          <div v-if="!$gate.isAdmin()">
            <h3>Halaman tidak di temukan....!!!!!</h3>
            <not-found></not-found>
          </div>
        </div>
</template>

<script>
import moment from 'moment'
import Datepicker from 'vuejs-datepicker';

    export default {
        data(){
          return {
            editMode : false,
            students : {},
            classes : [],
            classesSearch : [],
            searchStudentModel : '',
            getParmas : {},
            religion : null,
            form : new Form({
                        id: '',
                        first_name: '',
                        last_name: '',
                        nis: '',
                        gender: null,
                        email: '',
                        address: '',
                        phone_number: '',
                        year_of_entry: '',
                        password: '',
                        password_confirmation: '',
                        userid : this.$route.params.userid,
                        type : 'S',
                        kelas : '',
                        kelas_code : 0,
                        class_name : '',
                        class_sub_name : '',
                        major : '',
                        nisn: '',
                        birth_date : '', 
                        born_at : '', 
                        religion : '',
                    }),
            formClasses : new Form({
              class_name_form : 'Pilih Kelas'
            }),
            selOpt:null
          }
        },
        components: {
          Datepicker
        },
        methods: {
          updateStudent() {
            this.$Progress.start()

            if(this.form.birth_date != null){
              this.form.birth_date = this.customFormatter2(this.form.birth_date)
            }
            this.form.put('/api/users/'+this.form.id)
            .then( ()=> {
              Fire.$emit('AfterCreate')
              $('#addNewUser').modal('hide')
              this.form.reset();
              Swal.fire( 'Updated!', 'Student data is updated.', 'success' )
              this.$Progress.finish()
            })
            .catch( ()=> {
              this.$Progress.fail()
            })
          },
          updateModal(student) {
            this.form.reset()
            this.editMode = true
            $('#addNewUser').modal('show')
            this.form.fill(student)
            this.form.type = 'S'
            if( this.form.gender == 'M' ){
              this.selOpt = 'Laki - Laki'
            }else if( this.form.gender == 'F' ){
              this.selOpt = 'Perempuan'
            }
            this.religion = this.form.religion
            if(this.form.class_name != null){
              this.form.kelas = this.form.class_name+this.form.major+' - '+this.form.class_sub_name
            }
            this.form.userid = this.$route.params.userid
          },
          newModal() {
            this.form.reset();
            this.form.year_of_entry = new Date()
            this.form.year_of_entry = this.customFormatter(this.form.year_of_entry)
            this.editMode = false
            $('#addNewUser').modal('show')
          },
          deleteStudent(id) {
            Swal.fire({
              title: 'Are you sure?',
              text: "You won't be able to revert this!",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
              if (result.value) {
                // Send request to the server
                this.form.delete('/api/users/'+id)
                .then( () => {
                    Fire.$emit('AfterCreate')
                    Swal.fire(
                      'Deleted!',
                      'Your file has been deleted.',
                      'success'
                    )
                })
                .catch( () => {
                  Swal.fire( 'Failed!', 'There was something wrong.', 'warning' )
                })
              }
            })
          },
          loadStudents (page = 1) {
            if(this.$gate.isAdmin){
              let params = '';
              var newParams = jQuery.param( this.getParmas );
              console.log('newParams', newParams);
              params = '&'+newParams

              this.$Progress.start()
              axios.get("/api/students?page="+page+params)
              .then( (data) => {
                console.log('data', data)
                this.$Progress.finish()
                this.students = data.data
              })
            }
          },
          createStudent () {
            this.$Progress.start()
            if(this.form.birth_date != null){
              this.form.birth_date = this.customFormatter2(this.form.birth_date)
            }
            this.form.year_of_entry = this.customFormatter(this.form.year_of_entry)
            this.form.post('/api/users')
              .then(({ data }) => { 
                console.log(data) 
                Fire.$emit('AfterCreate')
                $('#addNewUser').modal('hide')
                toast.fire({
                  type: 'success',
                  title: 'Berhasil menginput data murid baru'
                })
                this.form.reset();
                this.$Progress.finish()
              })
              .catch((error)=>{
                  console.log(error)
                  this.$Progress.finish()
              });
          },
          doSomethingInParentComponentFunction(date){
            // alert(date)
            this.form.year_of_entry = this.customFormatter(date)
          },
          doSomethingInParentComponentFunction2(date){
            this.form.birth_date = this.customFormatter2(date)
          },
          customFormatter(date) {
            // return moment(date).format('MMMM Do YYYY, h:mm:ss a');
            return moment(date).format('YYYY-MM-DD');
          },
          customFormatter2(date) {
            return moment(date).format('YYYY-MM-DD');
          },
          loadClasses(){
            axios.get('/api/classes')
            .then((data) => {
              let dataNew = data.data.data;
              for(let i = 0; i < dataNew.length; i++) {
                this.classes.push({label:dataNew[i].class_name+dataNew[i].major+' - '+dataNew[i].class_sub_name, code: dataNew[i].id});
                this.classesSearch.push({label:dataNew[i].class_name+dataNew[i].major+' - '+dataNew[i].class_sub_name, code: dataNew[i].id});
              }
              this.classesSearch.push({label: 'Semua Kelas', code: 0});
              console.log('classesSel', this.classes)
            })
            .catch(() => {
              alert('Error when show classes')
            })
          },
          setSelectedClasses(value) {
            console.log('classes', value)
            this.form.kelas = value.label
            this.form.kelas_code = value.code
          },
          setSelectedClassesSearch(value){
            if(value != null){
              this.getParmas.cariKelas = value.code
              this.loadStudents(1)
            }else{
              this.getParmas.cariKelas = null
              this.loadStudents(1)
            }
            
          },
          searchStudent(){
            this.getParmas.cariNis = this.searchStudentModel
            this.loadStudents(1)
          },
          religionSelect(value){
            this.form.religion = null
            this.religion = null
            if(value){
              this.form.religion = value.code
              this.religion = value.label
            }
          },
          setSelectedGender(value){
            if(value){
              this.form.gender = value.code
              this.selOpt = value.label
            }
          },
          setSelectedDataPage(value){
            this.getParmas.perPage = value
            this.loadStudents(1)
          },
          saveToExcel(){
            let params = ''
            let newParams = jQuery.param( this.getParmas );
            params = '?'+newParams
            window.open('/students-excel-view'+params, '_blank');
          }
        },
        watch: {
          // whenever question changes, this function will run
          // selOpt: function (newQuestion, oldQuestion) {
          //   this.form.gender = newQuestion;
          // }
        },
        mounted() {
            console.log('Component mounted.')
            console.log('userid : '+this.$route.params.userid)
        },
        created(){
          this.$parent.search = ''
          this.form.year_of_entry = new Date()
          this.form.year_of_entry = this.customFormatter(this.form.year_of_entry)
          this.form.birth_date = new Date()
          this.form.birth_date = this.customFormatter(this.form.birth_date)
          this.loadStudents();
          this.loadClasses();
          // this.loadYears();
          Fire.$on('AfterCreate', () => {
            this.loadStudents()
          })
          Fire.$on('searching', () => {
            let query = this.$parent.search
            axios.get('/api/findUsers?q='+query)
            .then((data) => {
              this.users = data.data
              // alert(JSON.stringify(data))
              console.log(this.users);
            })
            .catch(() => {
              alert("Error when search...!!!!");
            })
          })
          // setInterval( () => this.loadStudents(), 3000);
        }
    }
</script>

<style type="text/css">
  input[name="year_of_entry"]{
    border: none;
    width: 100%;
  }
  .card-title{
    margin-bottom: 0rem;
  }
  .card-header > .card-tools {
    top: 3px;
  }
  input[name="year_of_entry"], input[name="birth_date"]{
    border: none;
    width: 100%;
  }
</style>
