<template>
        <div class="row justify-content-center">
          <div class="col-12" v-if="$gate.isAdmin()">
            <div class="row">
              <div class="col-md-8 mt-2-n">
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">Data</h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <form class="form-horizontal" @submit.prevent="updateTeacher()">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="col-sm-12 control-label">Nama Depan</label>
                            <div class="col-sm-12">
                              <input v-model="form.first_name" type="text" class="form-control" placeholder="Nama Depan"
                              :class="{ 'is-invalid': form.errors.has('first_name') }">
                            <has-error :form="form" field="first_name"></has-error>
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="col-sm-12 control-label">N.I.S</label>
                            <div class="col-sm-12">
                              <input v-model="form.nis" type="text" class="form-control" placeholder="N.I.S"
                              :class="{ 'is-invalid': form.errors.has('nis') }">
                              <has-error :form="form" field="nis"></has-error>
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="col-sm-12 control-label">N.I.S.N</label>
                            <div class="col-sm-12">
                              <input v-model="form.nisn" type="text" class="form-control" placeholder="N.I.S.N"
                              :class="{ 'is-invalid': form.errors.has('nisn') }">
                              <has-error :form="form" field="nisn"></has-error>
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="col-sm-12 control-label">Kelas</label>
                            <div class="col-sm-12">
                              <input v-model="form.nama_kelas" type="text" class="form-control" placeholder="Kelas"
                              readonly>
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="col-sm-12 control-label">Agama</label>
                            <div class="col-sm-12">
                              <v-select :options="$static.religionList()" v-model="religion"
                              placeholder = "Pilih Agama"
                              @input="religionSelect"></v-select>
                              <has-error :form="form" field="religion"></has-error>
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="col-sm-12 control-label">Alamat</label>
                            <div class="col-sm-12">
                              <textarea v-model="form.address" class="form-control" name="address" 
                              :class="{ 'is-invalid': form.errors.has('address') }"></textarea>
                              <has-error :form="form" field="address"></has-error>
                            </div>
                          </div>

                          <div v-if="$gate.isAdmin() || $route.params.userid == form.id">
                            <div class="form-group">
                              <label for="inputSkills" class="col-sm-12 control-label">Password</label>
                              <div class="col-sm-12">
                                <input v-model="form.password" type="password" name="password" placeholder="Password" 
                                class="form-control" :class="{ 'is-invalid': form.errors.has('password') }">
                                <has-error :form="form" field="password"></has-error>
                              </div>
                            </div>

                            <div class="form-group">
                              <label for="inputSkills" class="col-sm-12 control-label">Konfirmasi Password</label>
                              <div class="col-sm-12">
                                <input v-model="form.password_confirmation" type="password" name="password" 
                                placeholder="Konfirmasi Password" 
                                class="form-control" :class="{ 'is-invalid': form.errors.has('password_confirmation') }">
                                <has-error :form="form" field="password_confirmation"></has-error>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-6">
                          
                          <div class="form-group">
                            <label class="col-sm-12 control-label">Nama Belakang</label>
                            <div class="col-sm-12">
                              <input v-model="form.last_name" type="text" class="form-control" placeholder="Nama Belakang"
                              :class="{ 'is-invalid': form.errors.has('last_name') }">
                              <has-error :form="form" field="last_name"></has-error>
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="col-sm-12 control-label">Jenis Kelamin</label>
                            <div class="col-sm-12">
                              <v-select :options="$static.genderList()" v-model="selOpt"
                              placeholder = "Pilih Jenis Kelamin"
                              @input="setSelectedGender"></v-select>
                              <has-error :form="form" field="gender"></has-error>
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="inputEmail" class="col-sm-12 control-label">Email</label>
                            <div class="col-sm-12">
                              <input v-model="form.email" type="email" name="email" placeholder="Email"
                              class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                              <has-error :form="form" field="email"></has-error>
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="inputName2" class="col-sm-12 control-label">No Handphone</label>
                            <div class="col-sm-12">
                              <input v-model="form.phone_number" type="text" name="phone_number" 
                              placeholder="No Handphone" class="form-control" 
                              :class="{ 'is-invalid': form.errors.has('phone_number') }">
                              <has-error :form="form" field="phone_number"></has-error>
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="inputName2" class="col-sm-12 control-label">Tempat Lahir</label>
                            <div class="col-sm-12">
                              <input v-model="form.born_at" type="text" name="born_at" 
                              placeholder="Tempat Lahir" class="form-control" 
                              :class="{ 'is-invalid': form.errors.has('born_at') }">
                              <has-error :form="form" field="born_at"></has-error>
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="col-sm-12">Tanggal Lahir</label>
                            <div class="col-sm-12">
                              <datepicker v-model="form.birth_date" placeholder="Tanggal Lahir" class="form-control" 
                              :class="{ 'is-invalid': form.errors.has('birth_date') }" name="birth_date" 
                               @selected="doSomethingInParentComponentFunction2" :format="customFormatter2"></datepicker>
                              <has-error :form="form" field="birth_date"></has-error>
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="col-sm-12">Tahun Masuk</label>
                            <div class="col-sm-12">
                              <datepicker v-model="form.year_of_entry" placeholder="Tahun Masuk" class="form-control" 
                              :class="{ 'is-invalid': form.errors.has('year_of_entry') }" name="year_of_entry" 
                               @selected="doSomethingInParentComponentFunction" :format="customFormatter"></datepicker>
                              <has-error :form="form" field="year_of_entry"></has-error>
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="" class="col-sm-12 control-label">Profil Foto</label>
                            <div class="col-sm-6">
                              <input type="file" name="profile_pic" class="form-input" @change="cprofile_pic">
                            </div>
                            <div class="col-md-6" v-if="showPhoto">
                              <img class="rounded" :src="getProfilePhoto()" alt="User Avatar" style="max-width: 100%;">
                            </div>
                          </div>

                        </div>
                          <!-- <has-error :form="form" field="gender"></has-error>
                        </div> -->
                      </div>

                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <!-- /.card-body -->
                  <!-- <div class="card-footer">
                    <pagination :data="users" @pagination-change-page="getResults"></pagination>
                  </div> -->
                </div>
              </div>

              <div class="col-md-4 mt-2-n">
                <div class="card card-secondary">
                  <div class="card-header">
                    <h3 class="card-title">Data Wali Siswa</h3>

                    <div class="card-tools">
                      <div class="input-group input-group-sm">
                        <router-link class="btn btn-danger" to="/student" style="margin-top: 1.5px;">
                          <i class="fas fa-backward"></i> Back
                        </router-link>
                      </div>
                    </div>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <form class="form-horizontal" @submit.prevent="updateUserParent()">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="control-label">Nama Ayah</label>
                            <div class="">
                              <input v-model="formUserParent.parent_father" type="text" class="form-control" placeholder="Nama Ayah" />
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label">Nama Ibu</label>
                            <div class="">
                              <input v-model="formUserParent.parent_mother" type="text" class="form-control" placeholder="Nama Ibu">
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label">No Telephone</label>
                            <div class="">
                              <input v-model="formUserParent.phone_number" type="text" 
                              class="form-control" placeholder="No Telephone">
                            </div>
                          </div>
                        </div>
                          <!-- <has-error :form="form" field="gender"></has-error>
                        </div> -->
                      </div>

                      <div class="form-group">
                        <!-- <div class="col-sm-offset-2 col-sm-10"> -->
                          <button type="submit" class="btn btn-success">Submit</button>
                        <!-- </div> -->
                      </div>
                    </form>
                  </div>
                  <!-- /.card-body -->
                  <!-- <div class="card-footer">
                    <pagination :data="users" @pagination-change-page="getResults"></pagination>
                  </div> -->
                </div>
              </div>
            </div>
            <!-- /.card -->

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Role</h3>

                <div class="card-tools">
                  <button class="btn btn-success pull-left mr-2" @click="newModal()" type="button">
                    Tambah Baru
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-hover">
                  <tbody><tr>
                    <th>Role Id</th>
                    <th>Role Name</th>
                    <th>Modify</th>
                  </tr>
                  <tr v-for="userrole in userRoles.data" :key="userrole.id">
                    <td>{{ userrole.role_id }}</td>
                    <td>{{ userrole.role_name | upText }}</td>
                    <td>
                        <a href="#" @click="updateRoleModal(userrole)">
                          <i class="fa fa-edit text-blue"></i>
                        </a> 
                        || 
                        <a href="#" @click="deleteUserRole(userrole.id)">
                          <i class="fa fa-trash text-red"></i>
                        </a>
                    </td>
                  </tr>
                </tbody></table>
              </div>

            </div>


            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Histori Siswa</h3>

                <div class="card-tools">
                  &nbsp;
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-hover">
                  <tbody><tr>
                    <th>Nama</th>
                    <th>Kelas</th>
                    <th>Tanggal</th>
                    <th>Di Input Oleh</th>
                  </tr>
                  <tr v-for="userHistory in userHistories.data" :key="userHistory.id">
                    <td>{{ userHistory.first_name | upText }} {{ userHistory.last_name | upText }}</td>
                    <td v-if="userHistory.major">
                      {{ userHistory.class_name }}{{ userHistory.major }}
                      <span v-if="userHistory.class_sub_name"> - {{ userHistory.class_sub_name }}</span>
                    </td>
                    <td v-if="!userHistory.major">
                      {{ userHistory.class_name }}
                      <span v-if="userHistory.class_sub_name"> - {{ userHistory.class_sub_name }}</span>
                    </td>
                    <td>{{ userHistory.created_at | myDate }}</td>
                    <td>{{ userHistory.full_name }}</td>
                  </tr>
                </tbody></table>
              </div>

            </div>

            <!-- Modal -->
            <div class="modal fade" id="addNewUserRole" tabindex="-1" role="dialog" aria-labelledby="addNewUserLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 v-show="!editMode" class="modal-title" id="addNewUserLabel">Add New</h5>
                    <h5 v-show="editMode" class="modal-title" id="addNewUserLabel">Update User's Role</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  
                  <form @submit.prevent="editMode ? updateUserRole() : createUserRole()">

                  <div class="modal-body">

                    <div class="form-group">
                      <label>Role Level</label>
                      <v-select :options="rolesSel" v-model="selectedRole"
                      :class="{ 'is-invalid': formUserRole.errors.has('role_id') }"
                      @input="setSelectedRoles">
                      </v-select>
                      <has-error :form="formUserRole" field="level"></has-error>
                    </div>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button v-show="editMode" type="submit" class="btn btn-success">Update</button>
                    <button v-show="!editMode" type="submit" class="btn btn-primary">Create</button>
                  </div>

                  </form>

                </div>
              </div>
            </div>

          </div>

          <div v-if="!$gate.isAdmin()">
            <h3>Halaman tidak di temukan....!!!!!</h3>
            <not-found></not-found>
          </div>
        </div>
</template>

<script>
import moment from 'moment'
import Datepicker from 'vuejs-datepicker';
import Vuetable from 'vuetable-2'

    export default {
        data(){
          return {
            editMode : false,
            users : {},
            showPhoto : false,
            userRoles : {},
            userHistories : {},
            masterRoles : [],
            rolesSel : [],
            religion : null,
            form : new Form({
                        id: '',
                        first_name: '',
                        last_name: '',
                        nig: '',
                        nis: '',
                        gender: null,
                        email: '',
                        address: '',
                        phone_number: '',
                        year_of_entry: '',
                        password: '',
                        password_confirmation: '',
                        profile_pic: '',
                        type : '',
                        nisn: '',
                        birth_date : '', 
                        born_at : '', 
                        religion : '', 
                        nama_kelas : '',
                    }),
            formUserParent : new Form({
                        id: '',
                        parent_mother : '',
                        parent_father : '',
                        phone_number: '',
                    }),

            formUserRole : new Form({
                        id: '', 
                        role_id: '',
                        user_id: '',
                    }),

            selOpt:'',
            selectedRole: '',
          }
        },
        components: {
          Datepicker,
          Vuetable
        },
        methods: {
          updateRoleModal(role) {
            console.log('role update : ', role)
            this.formUserRole.reset();
            this.editMode = true
            $('#addNewUserRole').modal('show')
            this.selectedRole = role.role_name
            // this.formUserRole.role_id = role.role_id
            // this.formUserRole.user_id = this.$route.params.userid
            this.formUserRole.fill(role)
            this.rolesSel = []
            this.companiesSel = []
            this.loadMasterRoles()
          },
          updateUserRole(){
            this.$Progress.start()
            this.formUserRole.put('/api/user-roles/'+this.formUserRole.id)
            .then( ()=> {
              Fire.$emit('AfterCreate')
              $('#addNewUserRole').modal('hide')
              this.formUserRole.reset();
              Swal.fire( 'Updated!', 'User Role data sudah updated.', 'success' )
              this.$Progress.finish()
            })
            .catch( ()=> {
              alert('Update user role error')
              this.$Progress.fail()
            })
          },
          updateTeacher() {
            this.$Progress.start()
            if(this.form.year_of_entry != null){
              this.form.year_of_entry = this.customFormatter(this.form.year_of_entry)
            }
            
            if(this.form.birth_date != null){
              this.form.birth_date = this.customFormatter2(this.form.birth_date)
            }
            this.form.put('/api/users/'+this.form.id)
            .then( ()=> {
              Fire.$emit('AfterCreate')
              Swal.fire( 'Updated!', 'User data is updated.', 'success' )
              this.$Progress.finish()
            })
            .catch( ()=> {
              this.$Progress.fail()
            })
          },
          deleteUserRole(id) {
            Swal.fire({
              title: 'Are you sure?',
              text: "You won't be able to revert this!",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
              if (result.value) {
                // Send request to the server
                this.formUserRole.delete('/api/user-roles/'+id)
                .then( () => {
                    Fire.$emit('AfterCreate')
                    Swal.fire(
                      'Deleted!',
                      'Your file has been deleted.',
                      'success'
                    )
                })
                .catch( () => {
                  Swal.fire( 'Failed!', 'There was something wrong.', 'warning' )
                })
              }
            })
          },
          loadTeachers () {
              axios.get('/api/users/'+this.$route.params.userid)
              .then((data)=>{
                this.form.fill(data.data)
                this.form.nama_kelas = data.data.class_name+' - '+data.data.class_sub_name
                if( this.form.gender == 'M' ){
                  this.selOpt = 'Laki - Laki'
                }else if( this.form.gender == 'F' ){
                  this.selOpt = 'Perempuan'
                }
                this.religion = this.form.religion
                this.getProfilePhoto()
              })
              .catch(()=>{
                alert("Error load data")
              })
          },
          loadRole () {
            if(this.$gate.isAdmin){
              axios.get('/api/role-by-user/'+this.$route.params.userid)
              .then((data)=>{
                console.log('userRole : ', data.data)
                this.userRoles = data;
              })
              .catch(()=>{
                alert("Error load data")
              })
            }
          },
          loadUserHistory () {
            axios.get('/api/student-logs/'+this.$route.params.userid)
            .then((data)=>{
              console.log('userHistory : ', data.data)
              this.userHistories = data;
            })
            .catch(()=>{
              alert("Error load data")
            })
          },
          doSomethingInParentComponentFunction(date){
            this.form.year_of_entry = this.customFormatter(date)
          },
          doSomethingInParentComponentFunction2(date){
            this.form.birth_date = this.customFormatter2(date)
          },
          customFormatter(date) {
            return moment(date).format('YYYY-MM-DD');
          },
          customFormatter2(date) {
            return moment(date).format('YYYY-MM-DD');
          },
          cprofile_pic(e){
            // console.log(e);
            let file = e.target.files[0]
            let reader = new FileReader()
            console.log(file)
            if( file['size'] < 2111775 ){
              reader.onloadend = (file) => {
                console.log('RESULT', reader.result)
                this.form.profile_pic = reader.result
              }
              reader.readAsDataURL(file)
              this.getProfilePhoto()
            }else{
              this.form.profile_pic = ''
              Swal.fire( 'Oppsss...', 'File yang anda upload terlalu besar. File maximal 2MB.', 'error' )
            }
            
          },
          getProfilePhoto(){
            if(this.form.profile_pic != '' && this.form.profile_pic != undefined){
              this.showPhoto = true
              let photo = (this.form.profile_pic.length > 100) ? this.form.profile_pic : "/img/profile/"+this.form.profile_pic
              return photo
            }
          },
          newModal() {
            this.formUserRole.reset();
            this.editMode = false
            this.selectedRole = ''
            this.rolesSel = []
            this.companiesSel = []
            this.loadMasterRoles()
            $('#addNewUserRole').modal('show')
          },
          loadMasterRoles () {
            axios.get("/api/roles?user_id=" + this.$route.params.userid)
              .then( ({ data }) => {
                console.log('roles', data.data)
                this.masterRoles = data.data
                for(let i = 0; i < this.masterRoles.length ; i++){
                  this.rolesSel.push({label: this.masterRoles[i].role_name, code: this.masterRoles[i].id});
                }
                console.log('rolesSel', this.rolesSel)
              });
          },
          setSelectedRoles(value) {
            console.log('role_id', value.code)
            this.formUserRole.role_id = value.code
            this.selectedRole = value.label
          },
          
          createUserRole() {
            this.$Progress.start()
            this.formUserRole.user_id = this.$route.params.userid
            this.formUserRole.post('/api/user-roles')
            .then(({ data }) => { 
              console.log(data) 
              Fire.$emit('AfterCreate')
              $('#addNewUserRole').modal('hide')
              toast.fire({
                type: 'success',
                title: 'Berhasil menginput data role baru'
              })

              this.formUserRole.reset();
              
              this.$Progress.finish()
            })
            .catch((error)=>{
                console.log(error)
                alert('Insert User Role Error')
                this.$Progress.finish()
            });
          },
          showUserParent() {
            axios.get('/api/user-parent/'+this.$route.params.userid)
            .then((data)=>{
              console.log('userParent', data.data)
              this.formUserParent.fill(data.data)
            })
            .catch(()=>{
              alert("Error load data")
            })
          },
          updateUserParent() {
            this.$Progress.start()
            this.formUserParent.put('/api/user-parent-update/'+this.form.id)
            .then( ()=> {
              Fire.$emit('AfterCreate')
              Swal.fire( 'Updated!', 'User Parent data sudah updated.', 'success' )
              this.$Progress.finish()
            })
            .catch( ()=> {
              alert('Update user parent error')
              this.$Progress.fail()
            })
          },
          religionSelect(value){
            this.form.religion = null
            this.religion = null
            if(value){
              this.form.religion = value.code
              this.religion = value.label
            }
          },
          setSelectedGender(value){
            this.form.gender = null
            this.selOpt = null
            if(value){
              this.form.gender = value.code
              this.selOpt = value.label
            }
          },
        },
        watch: {
          // whenever question changes, this function will run
        },
        mounted() {
            console.log('Component mounted.')
            // console.log('userid : '+this.$route.params.userid)
        },
        created(){
          this.$parent.search = ''
          this.form.year_of_entry = new Date()
          this.form.year_of_entry = this.customFormatter(this.form.year_of_entry)
          this.form.birth_date = new Date()
          this.form.birth_date = this.customFormatter(this.form.birth_date)
          this.loadTeachers()
          this.loadRole()
          this.showUserParent()
          this.loadUserHistory()
          Fire.$on('AfterCreate', () => {
            this.loadTeachers()
            this.loadRole()
            this.showUserParent()
          })
          // setInterval( () => this.loadTeachers(), 3000);
        }
    }
</script>

<style type="text/css">
  input[name="year_of_entry"], input[name="birth_date"]{
    border: none;
    width: 100%;
  }
</style>
