<template>
        <div class="row justify-content-center">

          <div class="col-12 mt-2-n">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Pencarian Mata Pelajaran</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start wedew -->
                <div class="card-body">
                  <div class="row">
                    
                    <div class="col-md-3">
                      <div class="form-group input-group">
                        <input type="text" class="form-control" placeholder="Pencarian Mata Pelajaran" 
                        v-model="searchSubjectModel" @keyup.enter.prevent="searchSubject" />
                        <div class="input-group-append">
                          <button class="btn btn-navbar" @click="searchSubject" type="button">
                            <i class="fa fa-search"></i>
                          </button>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <v-select :options="classes" name="classesSearch"
                        placeholder = "Pilih Kelas" v-model="classesSel" 
                        @input="classesSelSearch"></v-select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <v-select :options="major"
                        placeholder = "Pilih Jurusan" v-model="majorSel"
                        @input="majorSelSearch"></v-select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <span class="float-left mt-1 mr-2">Tampilkan</span>
                        <v-select :options="$static.dataPerPage()"
                        v-model = "dataPage"
                        placeholder = "Jumlah"
                        @input="setSelectedDataPage" class="w150 float-left mr-2"></v-select>
                        <span class="sjdata">Data</span>
                      </div>
                    </div>
                    
                  </div>
                  
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>

          <div class="col-12" v-if="$gate.isAdmin()">
            <div class="card card-secondary">
              <div class="card-header">
                <h3 class="card-title">Tabel Mata Pelajaran</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm">
                    <button class="btn btn-success pull-left" @click="newModal()" type="button">
                      Tambah Baru <i class="fas fa-user-plus fa-fw"></i>
                    </button>
                    
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody><tr>
                    <th>Mata Pelajaran</th>
                    <th>Kelas</th>
                    <th>Jurusan</th>
                    <th>Tanggal Dibuat</th>
                    <th>Modify</th>
                  </tr>
                  <tr v-for="subject in subjects.data" :key="subject.id">
                    <td>{{ subject.subject_name | upText }}</td>
                    <td>{{ subject.class_name | upText }}</td>
                    <td>{{ subject.major | upText }}</td>
                    <td>{{ subject.created_at | myDate }}</td>
                    <td>
                        <a @click="updateModal(subject)" class="a-modify">
                          <i class="fa fa-edit text-blue"></i>
                        </a> 
                        || 
                        <a @click="deleteSubjects(subject.id)" class="a-modify">
                          <i class="fa fa-trash text-red"></i>
                        </a>
                    </td>
                  </tr>
                </tbody></table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <pagination :data="subjects" @pagination-change-page="loadSubjects"></pagination>
              </div>
            </div>
            <!-- /.card -->
          </div>

          <!-- Modal -->
          <div class="modal fade" id="addNewUser" tabindex="-1" role="dialog" aria-labelledby="addNewUserLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 v-show="!editMode" class="modal-title" id="addNewUserLabel">Add New</h5>
                  <h5 v-show="editMode" class="modal-title" id="addNewUserLabel">Update Subject's info</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                
                <form @submit.prevent="editMode ? updateSubjects() : createSubjects()">

                <div class="modal-body">
                  
                  <div class="form-group">
                    <label>Mata Pelajaran</label>
                    <input v-model="form.subject_name" type="text" name="subject_name" placeholder="Mata Pelajaran" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('subject_name') }">
                    <has-error :form="form" field="subject_name"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Kelas</label>
                    <v-select :options="classes"
                        v-model = "form.class_name"
                        placeholder = "Pilih Kelas"></v-select>
                    <has-error :form="form" field="classes"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Jurusan</label>
                    <v-select :options="major"
                        v-model = "form.major"
                        placeholder = "Pilih jurusan"></v-select>
                    <has-error :form="form" field="major"></has-error>
                  </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button v-show="editMode" type="submit" class="btn btn-success">Update</button>
                  <button v-show="!editMode" type="submit" class="btn btn-primary">Create</button>
                </div>

                </form>

              </div>
            </div>
          </div>
        </div>
</template>

<script>
import moment from 'moment'
import Datepicker from 'vuejs-datepicker';

    export default {
        data(){
          return {
            editMode : false,
            subjects : {},
            searchSubjectModel : null,
            getParmas : {},
            classes : [],
            major : [],
            dataPage : 10,
            classesSel : null,
            majorSel : null,
            form : new Form({
                        id: '', 
                        subject_name: '',
                        active: '',
                        insert_by: '',
                        update_by: '',
                        class_name: null,
                        major: null,
                    }),
          }
        },
        components: {
          Datepicker
        },
        methods: {
          updateSubjects() {
            this.$Progress.start()
            this.form.put('/api/subjects/'+this.form.id)
            .then( ()=> {
              Fire.$emit('AfterCreate')
              $('#addNewUser').modal('hide')
              this.form.reset();
              Swal.fire( 'Updated!', 'Subject data sudah updated.', 'success' )
              this.$Progress.finish()
            })
            .catch( ()=> {
              this.$Progress.fail()
            })
          },
          updateModal(year) {
            this.form.reset();
            this.editMode = true
            $('#addNewUser').modal('show')
            this.form.fill(year)
          },
          newModal() {
            this.form.reset();
            this.editMode = false
            $('#addNewUser').modal('show')
          },
          deleteSubjects(id) {
            Swal.fire({
              title: 'Apa anda yakin?',
              text: "Anda tidak dapat mengembalikan data yang sudah di hapus!",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'ya, Hapus Saja!'
            }).then((result) => {
              if (result.value) {
                // Send request to the server
                this.form.delete('/api/subjects/'+id)
                .then( () => {
                    Fire.$emit('AfterCreate')
                    Swal.fire(
                      'Deleted!',
                      'Data anda sudah terhapus.',
                      'success'
                    )
                })
                .catch( () => {
                  Swal.fire( 'Failed!', 'There was something wrong.', 'warning' )
                })
              }
            })
          },
          loadSubjects (page = 1) {
            if(this.$gate.isAdmin){

              let params = '';
              var newParams = jQuery.param( this.getParmas );
              console.log('newParams', newParams);
              params = '&'+newParams

              this.$Progress.start()

              axios.get("/api/subjects?page="+page+params)
              .then( ( data ) => {
                console.log(data.data)
                this.subjects = data.data
                this.$Progress.finish()
              });

            }
          },
          createSubjects () {
            this.$Progress.start()
            this.form.post('/api/subjects')
              .then(({ data }) => { 
                console.log(data) 
                Fire.$emit('AfterCreate')
                $('#addNewUser').modal('hide')
                toast.fire({
                  type: 'success',
                  title: 'Berhasil menginput data subject baru'
                })

                this.form.reset();
                
                this.$Progress.finish()
              })
              .catch((error)=>{
                  console.log(error)
                  this.$Progress.finish()
              });
          },
          loadClasses () {
            axios.get("/api/classes")
              .then( ({ data }) => {
                // this.classes = data.data
                data.data.forEach((item, index) => {
                  if( this.classes.indexOf(item.class_name) == -1 ){
                    this.classes.push(item.class_name)
                  }

                  if( this.major.indexOf(item.major) == -1 ){
                    this.major.push(item.major)
                  }
                })
              });
          },
          customFormatter(date) {
            // return moment(date).format('MMMM Do YYYY, h:mm:ss a');
            return moment(date).format('YYYY-MM-DD');
          },
          searchSubject(){
            this.getParmas.cariMataPelajaran = this.searchSubjectModel
            this.loadSubjects()
          },
          setSelectedDataPage(){
            this.getParmas.perPage = this.dataPage
            this.loadSubjects()
          },
          classesSelSearch(){
            this.getParmas.cariKelas = this.classesSel
            this.loadSubjects()
          },
          majorSelSearch(){
            this.getParmas.cariJurusan = this.majorSel
            this.loadSubjects()
          }
        },
        mounted() {
            console.log('Component mounted.')
            // console.log('userid : '+this.$route.params.userid)
        },
        created(){
          this.loadSubjects()
          this.loadClasses()
          Fire.$on('AfterCreate', () => {
            this.loadSubjects()
          })
        }
    }
</script>

<style type="text/css">
  input[name="year_of_entry"]{
    border: none;
    width: 100%;
  }
  input[name="classesSearch"]{
    border: none;
    width: 100%;
  }
  .a-modify{
    cursor: pointer;
  }
</style>
