<template>
        <div class="row justify-content-center">

          <div class="col-12 mt-2-n">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Pencarian Wali Kelas</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start wedew -->
              <form role="form">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <v-select :options="classesSearch"
                        placeholder = "Pilih Kelas"
                        @input="setSelectedClassesSearch"></v-select>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group input-group">
                        <input type="text" class="form-control" placeholder="Pencarian N.I.G, Nama, atau Email" 
                        v-model="searchStudentModel" @keyup.enter="searchStudent" />
                        <div class="input-group-append">
                          <button class="btn btn-navbar" @click="searchStudent" type="button">
                            <i class="fa fa-search"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                  
                </div>
                <!-- /.card-body -->
              </form>
            </div>
            <!-- /.card -->
          </div>

          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Tabel Wali Kelas</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm">
                    <button class="btn btn-info pull-left mr-2" @click="saveToExcel()" type="button">
                      Save Excel <i class="fas fa-file-excel"></i>
                    </button>

                    <button class="btn btn-success pull-left" @click="newModal()" type="button">
                      Add New <i class="fas fa-user-plus fa-fw"></i>
                    </button>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody><tr>
                    <th>N.I.G</th>
                    <th>Guru</th>
                    <th>Kelas</th>
                    <th>Tahun AJaran</th>
                    <!-- <th>Status</th> -->
                    <th>Modify</th>
                  </tr>
                  <tr v-for="teacherClass in teacherClasses.data" :key="teacherClass.id">
                    <td>{{ teacherClass.nig }}</td>
                    <td>{{ teacherClass.first_name | upText }} {{ teacherClass.last_name | upText }}</td>
                    <td>{{ teacherClass.class_name }}{{ teacherClass.major }} - {{ teacherClass.class_sub_name }}</td>
                    <td>{{ teacherClass.year_name }}</td>
                    <td>
                        <a @click="updateModal(teacherClass)">
                          <i class="fa fa-edit text-blue"></i>
                        </a> 
                        || 
                        <a @click="deleteTeacherClass(teacherClass.id)">
                          <i class="fa fa-trash text-red"></i>
                        </a>
                    </td>
                  </tr>
                </tbody></table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <pagination :data="teacherClasses" @pagination-change-page="loadTeacherClass"></pagination>
              </div>
            </div>
            <!-- /.card -->
          </div>

          <!-- Modal -->
          <div class="modal fade" id="addNewUser" tabindex="-1" role="dialog" aria-labelledby="addNewUserLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 v-show="!editMode" class="modal-title" id="addNewUserLabel">Add New</h5>
                  <h5 v-show="editMode" class="modal-title" id="addNewUserLabel">Update Teacher Class's info</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                
                <form @submit.prevent="editMode ? updateTeacherClass() : createTeacherClass()">

                <div class="modal-body">

                  <div class="form-group">
                    <label>Guru</label>
                    <v-select :options="usersSel" v-model="selectedUsers"
                    :class="{ 'is-invalid': form.errors.has('user_id') }"
                    @input="setSelectedUsers">
                    </v-select>
                    <has-error :form="form" field="user_id"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Kelas</label>
                    <v-select :options="classesSel" v-model="selectedClasses"
                    :class="{ 'is-invalid': form.errors.has('class_id') }"
                    @input="setSelectedClasses">
                    </v-select>
                    <has-error :form="form" field="class_id"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Tahun</label>
                    <v-select :options="yearsSel" v-model="selectedYears"
                    :class="{ 'is-invalid': form.errors.has('year_id') }"
                    @input="setSelectedYears">
                    </v-select>
                    <has-error :form="form" field="year_id"></has-error>
                  </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button v-show="editMode" type="submit" class="btn btn-success">Update</button>
                  <button v-show="!editMode" type="submit" class="btn btn-primary">Create</button>
                </div>

                </form>

              </div>
            </div>
          </div>
        </div>
</template>

<script>
import moment from 'moment'
import Datepicker from 'vuejs-datepicker';
import 'vue-select/dist/vue-select.css';

    export default {
        data(){
          return {
            editMode : false,
            getParmas : {},
            teacherClasses : {},
            users : [],
            classes : [],
            years : [],
            usersSel : [],
            classesSel : [],
            classesSearch : [],
            yearsSel : [],
            searchStudentModel : '',
            form : new Form({
                        id: '', 
                        user_id: '',
                        class_id: '',
                        year_id: '',
                        active: '',
                        insert_by: '',
                        update_by: '',
                    }),
            selectedUsers: '',
            selectedClasses: '',
            selectedYears: '',
          }
        },
        components: {
          Datepicker
        },
        methods: {
          updateTeacherClass() {
            this.$Progress.start()
            this.form.put('/api/teacher-class/'+this.form.id)
            .then( ()=> {
              Fire.$emit('AfterCreate')
              $('#addNewUser').modal('hide')
              this.form.reset();
              Swal.fire( 'Updated!', 'Teacher Class data sudah updated.', 'success' )
              this.$Progress.finish()
            })
            .catch( ()=> {
              this.$Progress.fail()
            })
          },
          updateModal(teacherClass) {
            this.form.reset();
            this.editMode = true
            $('#addNewUser').modal('show')
            this.form.fill(teacherClass)
            this.selectedUsers = teacherClass.first_name+' '+teacherClass.last_name;
            this.selectedClasses = teacherClass.class_name+teacherClass.major+' - '+teacherClass.class_sub_name;
            this.selectedYears = teacherClass.year_name;
          },
          newModal() {
            this.form.reset();
            this.selectedUsers = '';
            this.selectedClasses = '';
            this.selectedYears = '';
            this.editMode = false
            $('#addNewUser').modal('show')
          },
          deleteTeacherClass(id) {
            Swal.fire({
              title: 'Apa anda yakin?',
              text: "Anda tidak dapat mengembalikan data yang sudah di hapus!",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'ya, Hapus Saja!'
            }).then((result) => {
              if (result.value) {
                // Send request to the server
                this.form.delete('/api/teacher-class/'+id)
                .then( () => {
                    Fire.$emit('AfterCreate')
                    Swal.fire(
                      'Deleted!',
                      'Data anda sudah terhapus.',
                      'success'
                    )
                })
                .catch( () => {
                  Swal.fire( 'Failed!', 'There was something wrong.', 'warning' )
                })
              }
            })
          },
          loadTeacherClass (page = 1) {
            if (this.$gate.isAdmin) {
              let params = ''

              var newParams = jQuery.param( this.getParmas );
              console.log('newParams', newParams);
              params = '&'+newParams

              this.$Progress.start()
              axios.get("/api/teacher-class?page="+page+params)
              .then( ( data ) => {
                this.teacherClasses = data.data
                this.$Progress.finish()
              });
            }
          },
          createTeacherClass () {
            this.$Progress.start()
            this.form.post('/api/teacher-class')
              .then(({ data }) => { 
                console.log(data) 
                Fire.$emit('AfterCreate')
                $('#addNewUser').modal('hide')
                toast.fire({
                  type: 'success',
                  title: 'Berhasil menginput data Teacher Class baru'
                })

                this.form.reset();
                
                this.$Progress.finish()
              })
              .catch((error)=>{
                  console.log(error)
                  this.$Progress.finish()
              });
          },
          customFormatter(date) {
            // return moment(date).format('MMMM Do YYYY, h:mm:ss a');
            return moment(date).format('YYYY-MM-DD');
          },
          loadUsers () {
            axios.get("/api/users")
              .then( ({ data }) => {
                console.log('users', data.data)
                this.users = data.data
                for(let i = 0; i < this.users.length ; i++){
                  this.usersSel.push({label: this.users[i].first_name+' '+this.users[i].last_name , code: this.users[i].id});
                }
                console.log('selUsers', this.usersSel)
              });
          },
          loadClasses () {
            axios.get("/api/classes")
              .then( ({ data }) => {
                console.log('classes', data.data)
                this.classes = data.data
                for(let i = 0; i < this.classes.length ; i++){
                  this.classesSel.push({label: this.classes[i].class_name+this.classes[i].major+' - '+this.classes[i].class_sub_name , code: this.classes[i].id});
                  this.classesSearch.push({label: this.classes[i].class_name+this.classes[i].major+' - '+this.classes[i].class_sub_name , code: this.classes[i].id});
                }
                this.classesSearch.push({label: 'Semua Kelas', code: 0});
                console.log('selClasses', this.classesSel)
              });
          },
          loadYears () {
            axios.get("/api/years")
              .then( ({ data }) => {
                console.log('years', data.data)
                this.years = data.data
                for(let i = 0; i < this.years.length ; i++){
                  this.yearsSel.push({label: this.years[i].year_name , code: this.years[i].id});
                }
                console.log('selYears', this.yearsSel)
              });
          },
          setSelectedUsers(value) {
            console.log('user_id', value.code)
            this.form.user_id = value.code
            this.selected = value.label
          },
          setSelectedClasses(value) {
            console.log('class_id', value.code)
            this.form.class_id = value.code
            this.selected = value.label
          },
          setSelectedYears(value) {
            console.log('year_id', value.code)
            this.form.year_id = value.code
            this.selected = value.label
          },
          setSelectedClassesSearch(value) {
            this.getParmas.cariKelas = ''
            if(value){
              this.getParmas.cariKelas = value.code
              this.loadTeacherClass()
            }else{
              this.loadTeacherClass()
            }
          },
          searchStudent(){
            this.getParmas.cariGuru = this.searchStudentModel
            this.loadTeacherClass()
            // this.searchStudentModel = ''
          },
          saveToExcel(){
            let params = ''
            let newParams = jQuery.param( this.getParmas );
            params = '?'+newParams
            window.open('/teacherclasses-excel-view'+params, '_blank');
          }
        },
        mounted() {
            console.log('Component mounted.')
            // console.log('userid : '+this.$route.params.userid)
        },
        created(){
          this.loadTeacherClass()
          this.loadUsers()
          this.loadClasses()
          this.loadYears()
          Fire.$on('AfterCreate', () => {
            this.loadTeacherClass()
          })
        }
    }
</script>

<style type="text/css">
  input[name="year_of_entry"]{
    border: none;
    width: 100%;
  }
  .mt-2-n{
    margin-top: -20px;
  }
</style>
