<template>
        <div class="row justify-content-center">
          <div class="col-12 mt-2-n">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Pencarian Jam Pelajaran</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start wedew -->
                <div class="card-body">
                  <div class="row">
                    
                    <div class="col-md-6">
                      <div class="form-group input-group">
                        <input type="text" class="form-control" placeholder="Pencarian Jam Pelajaran" 
                        v-model="searchTimesModel" @keyup.enter.prevent="searchTimes" />
                        <div class="input-group-append">
                          <button class="btn btn-navbar" @click="searchTimes" type="button">
                            <i class="fa fa-search"></i>
                          </button>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <span class="float-left mt-1 mr-2">Tampilkan</span>
                        <v-select :options="$static.dataPerPage()"
                        v-model = "dataPage"
                        placeholder = "Jumlah"
                        @input="setSelectedDataPage" class="w150 float-left mr-2"></v-select>
                        <span class="sjdata">Data</span>
                      </div>
                    </div>
                    
                  </div>
                  
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>

          <div class="col-12">
            <div class="card card-secondary">
              <div class="card-header">
                <h3 class="card-title">Tabel Jam Pelajaran</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm">
                    <button class="btn btn-success pull-left mr-2" @click="newModal()" type="button">
                      Tambah Baru <i class="fas fa-user-plus fa-fw"></i>
                    </button>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody><tr>
                    <th>Jam Pelajaran Ke</th>
                    <th>Dari Jam</th>
                    <th>Sampai Jam</th>
                    <th>Watu</th>
                    <th>Modify</th>
                  </tr>
                  <tr v-for="time in times.data" :key="time.id">
                    <td>{{ time.time_name }}</td>
                    <td>{{ time.from_time }}</td>
                    <td>{{ time.to_time }}</td>
                    <td>{{ time.time_interval }}</td>
                    <td>
                        <a @click="updateModal(time)">
                          <i class="fa fa-edit text-blue"></i>
                        </a> 
                        || 
                        <a @click="deleteTime(time.id)">
                          <i class="fa fa-trash text-red"></i>
                        </a>
                    </td>
                  </tr>
                </tbody></table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <pagination :data="times" @pagination-change-page="loadTimes"></pagination>
              </div>
            </div>
            <!-- /.card -->
          </div>

          <!-- Modal -->
          <div class="modal fade" id="addNewUser" tabindex="-1" role="dialog" aria-labelledby="addNewUserLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 v-show="!editMode" class="modal-title" id="addNewUserLabel">Tambah Baru</h5>
                  <h5 v-show="editMode" class="modal-title" id="addNewUserLabel">Update Jam Pelajaran info</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                
                <form @submit.prevent="editMode ? updateTime() : createTime()">

                <div class="modal-body">
                  
                  <div class="form-group">
                    <label>Jam Pelajaran Ke</label>
                    <input v-model="form.time_name" type="text" name="time_name" placeholder="Jam Pelajaran Ke" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('time_name') }">
                    <has-error :form="form" field="time_name"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Dari Jam</label>
                    <datetime format="H:i:s" class="form-control" v-model="form.from_time"
                    name="from_time"
                    :class="{ 'is-invalid': form.errors.has('from_time') }"></datetime>
                    <has-error :form="form" field="from_time"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Sampai Jam</label>
                    <datetime format="H:i:s" class="form-control" v-model="form.to_time"
                    name="to_time"
                    :class="{ 'is-invalid': form.errors.has('to_time') }"></datetime>
                    <has-error :form="form" field="to_time"></has-error>
                  </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button v-show="editMode" type="submit" class="btn btn-success">Update</button>
                  <button v-show="!editMode" type="submit" class="btn btn-primary">Create</button>
                </div>

                </form>

              </div>
            </div>
          </div>
        </div>
</template>

<script>
import moment from 'moment'
import Datepicker from 'vuejs-datepicker';
import datetime from 'vuejs-datetimepicker';

    export default {
        data(){
          return {
            editMode : false,
            searchTimesModel : null,
            getParmas : {},
            times : [],
            dataPage : 10,
            form : new Form({
                        id: '', 
                        time_name: '',
                        from_time: '',
                        to_time: '',
                        time_interval: '',
                    }),
          }
        },
        components: {
          Datepicker,
          datetime
        },
        methods: {
          updateTime() {
            this.$Progress.start()
            this.form.put('/api/times/'+this.form.id)
            .then( ()=> {
              Fire.$emit('AfterCreate')
              $('#addNewUser').modal('hide')
              this.form.reset();
              Swal.fire( 'Updated!', 'Data jam pelajaran sudah updated.', 'success' )
              this.$Progress.finish()
            })
            .catch( ()=> {
              this.$Progress.fail()
            })
          },
          updateModal(role) {
            this.form.reset();
            this.editMode = true
            $('#addNewUser').modal('show')
            this.form.fill(role)
          },
          newModal() {
            this.form.reset();
            this.editMode = false
            $('#addNewUser').modal('show')
          },
          deleteTime(id) {
            Swal.fire({
              title: 'Apa anda yakin?',
              text: "Anda tidak dapat mengembalikan data yang sudah di hapus!",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'ya, Hapus Saja!'
            }).then((result) => {
              if (result.value) {
                // Send request to the server
                this.form.delete('/api/times/'+id)
                .then( () => {
                    Fire.$emit('AfterCreate')
                    Swal.fire(
                      'Deleted!',
                      'Data anda sudah terhapus.',
                      'success'
                    )
                })
                .catch( () => {
                  Swal.fire( 'Failed!', 'There was something wrong.', 'warning' )
                })
              }
            })
          },
          loadTimes (page = 1) {
            if(this.$gate.isAdmin){

              let params = '';
              var newParams = jQuery.param( this.getParmas );
              console.log('newParams', newParams);
              params = '&'+newParams

              this.$Progress.start();

              axios.get("/api/times?page="+page+params)
              .then( (data) => {
                console.log(data.data)
                this.times = data.data
                this.$Progress.finish();
              });

            }
          },
          createTime () {
            this.$Progress.start()
            this.form.post('/api/times')
              .then(({ data }) => { 
                console.log(data) 
                Fire.$emit('AfterCreate')
                $('#addNewUser').modal('hide')
                toast.fire({
                  type: 'success',
                  title: 'Berhasil menginput data jam pelajaran baru'
                })

                this.form.reset();
                
                this.$Progress.finish()
              })
              .catch((error)=>{
                  console.log(error)
                  this.$Progress.finish()
              });
          },
          searchTimes(){
            this.getParmas.cariJam = this.searchTimesModel;
            this.loadTimes();
          },
          setSelectedDataPage(){
            this.getParmas.perPage = this.dataPage
            this.loadTimes();
          }
        },
        mounted() {
            console.log('Component mounted.')
            // console.log('userid : '+this.$route.params.userid)
        },
        created(){
          this.loadTimes()
          Fire.$on('AfterCreate', () => {
            this.loadTimes()
          })
        }
    }
</script>

<style type="text/css">
  input[name="from_time"]{
    border: none;
    top: -5px;
    position: relative;
    height: 27px;
  }

  input[name="to_time"]{
    border: none;
    top: -5px;
    position: relative;
    height: 27px;
  }
</style>
