<template>
        <div class="row justify-content-center">

          <div class="col-12 mt-2-n">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Pencarian Data Siswa</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start wedew -->
              <!-- <form role="form"> -->
                <div class="card-body">
                  <div class="row">
                    
                    <div class="col-md-6">
                      <div class="form-group input-group">
                        <input type="text" class="form-control" placeholder="Pencarian N.I.S, Nama, atau Email" 
                        v-model="searchStudentModel" @keyup.enter="searchStudent" />
                        <div class="input-group-append">
                          <button class="btn btn-navbar" @click="searchStudent" type="button">
                            <i class="fa fa-search"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                  
                </div>
                <!-- /.card-body -->
              <!-- </form> -->
            </div>
            <!-- /.card -->
          </div>

          <div class="col-12" v-if="$gate.isAdmin()">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Tabel User</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm">
                    <button class="btn btn-info pull-left mr-2" @click="viewPdf()" type="button">
                      Save Excel <i class="fas fa-file-excel"></i>
                    </button>

                    <button class="btn btn-success" @click="newModal()" type="button">
                      Tambah Baru <i class="fas fa-user-plus fa-fw"></i>
                    </button>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody><tr>
                    <th>NIG</th>
                    <th>Nama</th>
                    <th>Email</th>
                    <th>No Handphone</th>
                    <th>Tanggal Masuk</th>
                    <th>Modify</th>
                  </tr>
                  <tr v-for="user in users.data" :key="user.id">
                    <td>{{ user.nig }}</td>
                    <td>{{ user.first_name | upText }} {{ user.last_name | upText }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone_number }}</td>
                    <td>{{ user.year_of_entry | myDate }}</td>
                    <td>
                        <router-link :to="`/users/view/${user.id}`" data-toggle="tooltip" title="Detail User">
                          <i class="fas fa-eye text-green"></i>
                        </router-link>
                        ||
                        <a @click="updateModal(user)" data-toggle="tooltip" title="Update Data" style="cursor: pointer">
                          <i class="fa fa-edit text-blue"></i>
                        </a>
                        ||
                        <a @click="deleteTeacher(user.id)" data-toggle="tooltip" title="Delete Data" style="cursor: pointer">
                          <i class="fa fa-trash text-red"></i>
                        </a>
                        <!-- || 
                        <a @click.prevent="viewPdf" data-toggle="tooltip" title="Lihat Sebagai Excel" style="cursor: pointer">
                          <i class="fas fa-file-pdf text-aqua"></i>
                        </a> -->
                    </td>
                  </tr>
                </tbody></table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <pagination :data="users" @pagination-change-page="loadTeachers"></pagination>
              </div>
            </div>
            <!-- /.card -->
          </div>

          <!-- Modal -->
          <div class="modal fade" id="addNewUser" tabindex="-1" role="dialog" aria-labelledby="addNewUserLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 v-show="!editMode" class="modal-title" id="addNewUserLabel">Tambah Baru</h5>
                  <h5 v-show="editMode" class="modal-title" id="addNewUserLabel">Update info guru</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <form>

                <div class="modal-body">

                  <div class="form-group">
                    <label>Nama Depan</label>
                    <input v-model="form.first_name" type="text" name="first_name" placeholder="Nama Depan"
                      class="form-control" :class="{ 'is-invalid': form.errors.has('first_name') }">
                    <has-error :form="form" field="first_name"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Nama Belakang</label>
                    <input v-model="form.last_name" type="text" name="last_name" placeholder="Last name"
                      class="form-control" :class="{ 'is-invalid': form.errors.has('last_name') }">
                    <has-error :form="form" field="last_name"></has-error>
                  </div>

                  <div class="form-group">
                    <label>N.I.G</label>
                    <input v-model="form.nig" type="text" name="nig" placeholder="N.I.G"
                      class="form-control" :class="{ 'is-invalid': form.errors.has('nig') }">
                    <has-error :form="form" field="nig"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Jenis Kelamin</label>
                    <!-- <input v-model="form.gender" type="text" name="gender" placeholder="Jenis Kelamin"
                      class="form-control" :class="{ 'is-invalid': form.errors.has('gender') }"> -->
                    <select v-model="selOpt" name="selOpt" class="form-control" :options="options">
                      <option v-for="option in options" v-bind:value="option.id" v-bind:key="option.id">
                        {{ option.text }}
                      </option>
                    </select>
                    <has-error :form="form" field="gender"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Email</label>
                    <input v-model="form.email" type="text" name="email" placeholder="Email"
                      class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                    <has-error :form="form" field="email"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Alamat</label>
                    <textarea v-model="form.address" class="form-control" name="address"
                    :class="{ 'is-invalid': form.errors.has('address') }"></textarea>
                    <has-error :form="form" field="address"></has-error>
                  </div>

                  <div class="form-group">
                    <label>No Handphone</label>
                    <input v-model="form.phone_number" type="text" name="phone_number" placeholder="No Handphone"
                      class="form-control" :class="{ 'is-invalid': form.errors.has('phone_number') }">
                    <has-error :form="form" field="phone_number"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Tahun Masuk</label>
                    <!-- <input v-model="form.year_of_entry" type="text" name="year_of_entry" placeholder="Tahun Masuk"
                      class="form-control" :class="{ 'is-invalid': form.errors.has('year_of_entry') }"> -->
                    <datepicker v-model="form.year_of_entry" placeholder="Tahun Masuk" class="form-control"
                    :class="{ 'is-invalid': form.errors.has('year_of_entry') }" name="year_of_entry"
                     @selected="doSomethingInParentComponentFunction" :format="customFormatter"></datepicker>
                    <has-error :form="form" field="year_of_entry"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Tanggal Lahir</label>
                    <!-- <input v-model="form.year_of_entry" type="text" name="year_of_entry" placeholder="Tahun Masuk"
                      class="form-control" :class="{ 'is-invalid': form.errors.has('year_of_entry') }"> -->
                    <datepicker v-model="form.birth_date" placeholder="Tanggal Lahir" class="form-control"
                    :class="{ 'is-invalid': form.errors.has('birth_date') }" name="birth_date"
                     @selected="doSomethingInParentComponentFunctions" :format="customFormatter"></datepicker>
                    <has-error :form="form" field="birth_date"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Tempat Lahir</label>
                    <input v-model="form.born_at" type="text" name="born_at" placeholder="Tempat Lahir"
                      class="form-control" :class="{ 'is-invalid': form.errors.has('born_at') }">
                    <has-error :form="form" field="born_at"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Agama</label>
                    <select v-model="religionOpt" name="religionOpt" class="form-control">
                      <option v-for="religionOption in religionOptions" v-bind:value="religionOption.id" v-bind:key="religionOption.id">
                        {{ religionOption.text }}
                      </option>
                    </select>
                    <has-error :form="form" field="religion"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Password</label>
                    <input v-model="form.password" type="password" name="password" placeholder="Password"
                      class="form-control" :class="{ 'is-invalid': form.errors.has('password') }">
                    <has-error :form="form" field="password"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Konfirmasi Passord</label>
                    <input v-model="form.password_confirmation" type="password"
                      name="password_confirmation" placeholder="Konfirmasi Passord"
                      class="form-control" :class="{ 'is-invalid': form.errors.has('password_confirmation') }">
                    <has-error :form="form" field="password_confirmation"></has-error>
                  </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button v-show="editMode" type="button" class="btn btn-success" @click="updateTeacher()">Update</button>
                  <button v-show="!editMode" type="button" class="btn btn-primary" @click="createTeacher()">Create</button>
                </div>

                </form>

              </div>
            </div>
          </div>

          <div v-if="!$gate.isAdmin()">
            <h3>Halaman tidak di temukan....!!!!!</h3>
            <not-found></not-found>
          </div>
        </div>
</template>

<script>
import moment from "moment";
import Datepicker from "vuejs-datepicker";

export default {
  data() {
    return {
      editMode: false,
      users: {},
      searchStudentModel : "",
      getParmas : {},
      form: new Form({
        id: "",
        first_name: "",
        last_name: "",
        nig: "",
        gender: "M",
        email: "",
        address: "",
        phone_number: "",
        year_of_entry: "",
        birth_date: "",
        born_at: "",
        religion: "",
        password: "",
        password_confirmation: "",
        userid: this.$route.params.userid,
        type: "T"
      }),

      options: [{ id: "M", text: "Laki-laki" }, { id: "F", text: "Perempuan" }],
      religionOptions: [
        { id: "islam", text: "Islam" },
        { id: "kristen protestan", text: "Kristen Protestan" },
        { id: "katolik", text: "Katolik" },
        { id: "hindu", text: "Hindu" },
        { id: "buddha", text: "Buddha" },
        { id: "kong hu cu", text: "Kong Hu Cu" }
      ],
      selOpt: "M",
      religionOpt: ""
    };
  },
  components: {
    Datepicker
  },
  methods: {
    updateTeacher() {
      this.$Progress.start();
      this.form
        .put("/api/users/" + this.form.id)
        .then(() => {
          Fire.$emit("AfterCreate");
          $("#addNewUser").modal("hide");
          this.form.reset();
          Swal.fire("Updated!", "Teacher data is updated.", "success");
          this.$Progress.finish();
        })
        .catch(() => {
          this.$Progress.fail();
        });
    },
    updateModal(user) {
      console.log('user', user)
      this.form.reset();
      this.religionOpt = user.religion
      this.editMode = true;
      $("#addNewUser").modal("show");
      this.form.fill(user);
      this.form.type = "T";
      this.form.userid = this.$route.params.userid;
    },
    newModal() {
      this.form.reset();
      this.form.year_of_entry = new Date();
      this.form.year_of_entry = this.customFormatter(this.form.year_of_entry);
      this.form.birth_date = new Date();
      this.form.birth_date = this.customFormatter(this.form.birth_date);
      this.editMode = false;
      $("#addNewUser").modal("show");
    },
    deleteTeacher(id) {
      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!"
      }).then(result => {
        if (result.value) {
          // Send request to the server
          this.form
            .delete("/api/users/" + id)
            .then(() => {
              Fire.$emit("AfterCreate");
              Swal.fire("Deleted!", "Your file has been deleted.", "success");
            })
            .catch(() => {
              Swal.fire("Failed!", "There was something wrong.", "warning");
            });
        }
      });
    },
    loadTeachers(page = 1) {
      if (this.$gate.isAdmin) {
        let params = '';
        // if(getParmas != null){
        var newParams = jQuery.param( this.getParmas );
        console.log('newParams', newParams);
        params = '&'+newParams
        // }
        axios.get("/api/users?page="+page+params)
        .then(( data ) => {
          console.log("user", data.data);
          this.users = data.data
        })
        console.log("users", this.users);
      }
    },
    createTeacher() {
      this.$Progress.start();
      this.form.year_of_entry = this.customFormatter(this.form.year_of_entry);
      this.form.birth_date = this.customFormatter(this.form.birth_date);
      this.form
        .post("/api/users")
        .then(({ data }) => {
          console.log(data);
          Fire.$emit("AfterCreate");
          $("#addNewUser").modal("hide");
          toast.fire({
            type: "success",
            title: "Berhasil menginput data guru baru"
          });

          this.form.reset();

          this.$Progress.finish();
        })
        .catch(error => {
          console.log(error);
          this.$Progress.finish();
        });
    },
    doSomethingInParentComponentFunction(date) {
      // alert(date)
      this.form.year_of_entry = this.customFormatter(date);
    },
    doSomethingInParentComponentFunctions(date) {
      this.form.birth_date = this.customFormatter(date);
    },
    customFormatter(date) {
      // return moment(date).format('MMMM Do YYYY, h:mm:ss a');
      return moment(date).format("YYYY-MM-DD");
    }, 
    searchStudent() {
      this.getParmas.q = this.searchStudentModel
      this.loadTeachers(1)
      this.searchStudentModel = ''
    },
    viewPdf() {
      let params = ''
      let newParams = jQuery.param( this.getParmas );
      params = '?'+newParams
      window.open('/user-excel-view'+params, '_blank');
    }
  },
  watch: {
    // whenever question changes, this function will run
    selOpt: function(newQuestion, oldQuestion) {
      this.form.gender = newQuestion;
    },
    religionOpt: function(newQuestion, oldQuestion) {
      this.form.religion = newQuestion;
    }
  },
  mounted() {
    console.log("Component mounted.");
    console.log("userid : " + this.$route.params.userid);
  },
  created() {
    this.$parent.search = "";
    this.form.year_of_entry = new Date();
    this.form.year_of_entry = this.customFormatter(this.form.year_of_entry);
    this.form.birth_date = new Date();
    this.form.birth_date = this.customFormatter(this.form.birth_date);
    this.loadTeachers();
    Fire.$on("AfterCreate", () => {
      this.loadTeachers();
    });
    // Fire.$on("searching", () => {
    //   let query = this.$parent.search;
    //   axios
    //     .get("/api/findUsers?q=" + query)
    //     .then(data => {
    //       this.users = data.data;
    //       // alert(JSON.stringify(data))
    //       console.log(this.users);
    //     })
    //     .catch(() => {
    //       alert("Error when search...!!!!");
    //     });
    // });
    // setInterval( () => this.loadTeachers(), 3000);
  }
};
</script>

<style type="text/css">
input[name="year_of_entry"],
input[name="birth_date"] {
  border: none;
  width: 100%;
}
</style>
