<template>
        <div class="row justify-content-center">

          <div class="col-12 mt-2-n">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Pencarian Data Siswa</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start wedew -->
              <form role="form">
                <div class="card-body">
                  <div class="row">
                    
                    <div class="col-md-6">
                      <div class="form-group input-group">
                        <input type="text" class="form-control" placeholder="Pencarian N.I.S, Nama, atau Email" 
                        v-model="searchStudentModel" @keyup.enter="searchStudent" />
                        <div class="input-group-append">
                          <button class="btn btn-navbar" @click="searchStudent" type="button">
                            <i class="fa fa-search"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                  
                </div>
                <!-- /.card-body -->
              </form>
            </div>
            <!-- /.card -->
          </div>

          <div class="col-12" v-if="$gate.isAdmin()">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Tabel User</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm">
                    <button class="btn btn-success" @click="newModal()" type="button">
                      Tambah Baru <i class="fas fa-user-plus fa-fw"></i>
                    </button>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">

                <table class="table table-hover">
                  <tbody><tr>
                    <th>NIG / NIS</th>
                    <th>Nama</th>
                    <th>Email</th>
                    <th>No Handphone</th>
                    <th>Tanggal Masuk</th>
                    <th>Modify</th>
                  </tr>
                  <tr v-for="user in users.data" :key="user.id">
                    <td v-if="user.nig">{{ user.nig }} (nig)</td>
                    <td v-if="user.nis">{{ user.nis }} (nis)</td>
                    <td>{{ user.first_name | upText }} {{ user.last_name | upText }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone_number }}</td>
                    <td>{{ user.year_of_entry | myDate }}</td>
                    <td>
                        <router-link :to="`/users/view/${user.id}`" data-toggle="tooltip" title="Detail User">
                          <i class="fas fa-eye text-green"></i>
                        </router-link> 
                        ||
                        <a href="#" @click="updateModal(user)" alt="test" data-toggle="tooltip" title="Update Data">
                          <i class="fa fa-edit text-blue"></i>
                        </a> 
                        || 
                        <a href="#" @click="deleteTeacher(user.id)" data-toggle="tooltip" title="Hapus Data">
                          <i class="fa fa-trash text-red"></i>
                        </a>
                    </td>
                  </tr>
                </tbody></table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <pagination :data="users" @pagination-change-page="loadTeachers"></pagination>
              </div>
            </div>
            <!-- /.card -->
          </div>

          <!-- Modal -->
          <div class="modal fade" id="addNewUser" tabindex="-1" role="dialog" aria-labelledby="addNewUserLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 v-show="!editMode" class="modal-title" id="addNewUserLabel">Add New</h5>
                  <h5 v-show="editMode" class="modal-title" id="addNewUserLabel">Update Teacher's info</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                
                <form @submit.prevent="editMode ? updateTeacher() : createTeacher()">

                <div class="modal-body">
                  
                  <div class="form-group">
                    <label>Nama Depan</label>
                    <input v-model="form.first_name" type="text" name="first_name" placeholder="Nama Depan" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('first_name') }">
                    <has-error :form="form" field="first_name"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Nama Belakang</label>
                    <input v-model="form.last_name" type="text" name="last_name" placeholder="Last name" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('last_name') }">
                    <has-error :form="form" field="last_name"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Type</label>
                    <select v-model="form.type" name="type" class="form-control" @change="typeChange($event)">
                      <option v-for="type in typeOptions" v-bind:value="type.id">
                        {{ type.text }}
                      </option>
                    </select>
                    <has-error :form="form" field="gender"></has-error>
                  </div>

                  <div class="form-group" v-if="showT">
                    <label>N.I.G</label>
                    <input v-model="form.nig" type="text" name="nig" placeholder="N.I.G" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('nig') }">
                    <has-error :form="form" field="nig"></has-error>
                  </div>

                  <div class="form-group" v-if="showS">
                    <label>N.I.S</label>
                    <input v-model="form.nis" type="text" name="nis" placeholder="N.I.S" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('nis') }">
                    <has-error :form="form" field="nis"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Jenis Kelamin</label>
                    <select v-model="selOpt" name="selOpt" class="form-control" :options="options">
                      <option v-for="option in options" v-bind:value="option.id">
                        {{ option.text }}
                      </option>
                    </select>
                    <has-error :form="form" field="gender"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Email</label>
                    <input v-model="form.email" type="text" name="email" placeholder="Email" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                    <has-error :form="form" field="email"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Alamat</label>
                    <textarea v-model="form.address" class="form-control" name="address" 
                    :class="{ 'is-invalid': form.errors.has('address') }"></textarea>
                    <has-error :form="form" field="address"></has-error>
                  </div>

                  <div class="form-group">
                    <label>No Handphone</label>
                    <input v-model="form.phone_number" type="text" name="phone_number" placeholder="No Handphone" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('phone_number') }">
                    <has-error :form="form" field="phone_number"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Tahun Masuk</label>
                    <!-- <input v-model="form.year_of_entry" type="text" name="year_of_entry" placeholder="Tahun Masuk" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('year_of_entry') }"> -->
                    <datepicker v-model="form.year_of_entry" placeholder="Tahun Masuk" class="form-control" 
                    :class="{ 'is-invalid': form.errors.has('year_of_entry') }" name="year_of_entry" 
                     @selected="doSomethingInParentComponentFunction" :format="customFormatter"></datepicker>
                    <has-error :form="form" field="year_of_entry"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Password</label>
                    <input v-model="form.password" type="password" name="password" placeholder="Password" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('password') }">
                    <has-error :form="form" field="password"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Konfirmasi Passord</label>
                    <input v-model="form.password_confirmation" type="password" 
                      name="password_confirmation" placeholder="Konfirmasi Passord" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('password_confirmation') }">
                    <has-error :form="form" field="password_confirmation"></has-error>
                  </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button v-show="editMode" type="submit" class="btn btn-success">Update</button>
                  <button v-show="!editMode" type="submit" class="btn btn-primary">Create</button>
                </div>

                </form>

              </div>
            </div>
          </div>

          <div v-if="!$gate.isAdmin()">
            <h3>Halaman tidak di temukan....!!!!!</h3>
            <not-found></not-found>
          </div>
        </div>
</template>

<script>
import moment from 'moment'
import Datepicker from 'vuejs-datepicker';
import Vuetable from 'vuetable-2'

    export default {
        data(){
          return {
            editMode : false,
            getParmas : {},
            showT : true,
            showS : false,
            users : {},
            searchStudentModel : null,
            form : new Form({
                        id: '',
                        first_name: '',
                        last_name: '',
                        nig: '',
                        nis: '',
                        gender: 'M',
                        email: '',
                        address: '',
                        phone_number: '',
                        year_of_entry: '',
                        password: '',
                        password_confirmation: '',
                        // userid : this.$route.params.userid,
                        type : 'T'
                    }),

            options: [
              { id: 'M', text: 'Laki-laki' },
              { id: 'F', text: 'Perempuan' }
            ],
            typeOptions: [
              { id: 'T', text: 'Guru' },
              { id: 'S', text: 'Siswa' }
            ],
            selOpt:'M'
          }
        },
        components: {
          Datepicker,
          Vuetable
        },
        methods: {
          getResults(page = 1){
            axios.get('/api/users-all?page='+page)
            .then(response => {
              this.users = response.data
            });
          },
          updateTeacher() {
            this.$Progress.start()
            this.form.year_of_entry = this.customFormatter(this.form.year_of_entry)
            this.form.put('/api/users/'+this.form.id)
            .then( ()=> {
              Fire.$emit('AfterCreate')
              $('#addNewUser').modal('hide')
              this.form.reset();
              Swal.fire( 'Updated!', 'Teacher data is updated.', 'success' )
              this.$Progress.finish()
            })
            .catch( ()=> {
              this.$Progress.fail()
            })
          },
          updateModal(user) {
            this.form.reset();
            this.editMode = true
            $('#addNewUser').modal('show')
            this.form.fill(user)
            this.form.type = 'T'
            // this.form.userid = this.$route.params.userid
          },
          newModal() {
            this.form.reset();
            this.form.year_of_entry = new Date()
            this.form.year_of_entry = this.customFormatter(this.form.year_of_entry)
            this.editMode = false
            $('#addNewUser').modal('show')
          },
          deleteTeacher(id) {
            Swal.fire({
              title: 'Are you sure?',
              text: "You won't be able to revert this!",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
              if (result.value) {
                // Send request to the server
                this.form.delete('/api/users/'+id)
                .then( () => {
                    Fire.$emit('AfterCreate')
                    Swal.fire(
                      'Deleted!',
                      'Your file has been deleted.',
                      'success'
                    )
                })
                .catch( () => {
                  Swal.fire( 'Failed!', 'There was something wrong.', 'warning' )
                })
              }
            })
          },
          loadTeachers (page = 1, getParmas = null) {
            if(this.$gate.isAdmin){
              let params = '';
              // if(getParmas != null){
                var newParams = jQuery.param( this.getParmas );
                console.log('newParams', newParams);
                params = '&'+newParams
              // }

              axios.get("/api/users-all?page="+page+params)
              .then(( data ) => {
                this.users = data.data
              })
            }
          },
          createTeacher () {
            this.$Progress.start()
            this.form.year_of_entry = this.customFormatter(this.form.year_of_entry)
            this.form.post('/api/users')
              .then(({ data }) => { 
                console.log(data) 
                Fire.$emit('AfterCreate')
                $('#addNewUser').modal('hide')
                toast.fire({
                  type: 'success',
                  title: 'Berhasil menginput data guru baru'
                })

                this.form.reset();
                
                this.$Progress.finish()
              })
              .catch((error)=>{
                  console.log(error)
                  this.$Progress.finish()
              });
          },
          doSomethingInParentComponentFunction(date){
            // alert(date)
            this.form.year_of_entry = this.customFormatter(date)
          },
          customFormatter(date) {
            // return moment(date).format('MMMM Do YYYY, h:mm:ss a');
            return moment(date).format('YYYY-MM-DD');
          },
          typeChange(event){
            if(event.target.value == "T"){
              this.showT = true
              this.showS = false
              this.form.nis = ''
            }else if(event.target.value == "S"){
              this.showT = false
              this.showS = true
              this.form.nig = ''
            }
            this.form.type = event.target.value
          },
          searchStudent(){
            this.getParmas.q = this.searchStudentModel
            this.loadTeachers(1)
            this.searchStudentModel = ''
            // params.q = this.searchStudentModel
            // this.loadTeachers(1, params)
            // axios.get('/api/users-all?q='+this.searchStudentModel)
            // .then((data) => {
            //   this.users = data.data
            //   console.log(this.users);
            // })
            // .catch(() => {
            //   alert("Error when search...!!!!");
            // })
          }
          
        },
        watch: {
          // whenever question changes, this function will run
          selOpt: function (newQuestion, oldQuestion) {
            this.form.gender = newQuestion;
          },
          // type: function (newQuestion, oldQuestion) {
          //   alert(123)
          // }
        },
        mounted() {
            console.log('Component mounted.')
            // console.log('userid : '+this.$route.params.userid)
        },
        created(){
          $('[data-toggle="tooltip"]').tooltip();
          this.$parent.search = ''
          this.form.year_of_entry = new Date()
          this.form.year_of_entry = this.customFormatter(this.form.year_of_entry)
          this.loadTeachers();
          Fire.$on('AfterCreate', () => {
            this.loadTeachers()
          })
          // Fire.$on('searching', () => {
          //   let query = this.$parent.search
          //   axios.get('/api/find-all?q='+query)
          //   .then((data) => {
          //     this.users = data.data
          //     // alert(JSON.stringify(data))
          //     console.log(this.users);
          //   })
          //   .catch(() => {
          //     alert("Error when search...!!!!");
          //   })
          // })
        }
    }
</script>

<style type="text/css">
  input[name="year_of_entry"]{
    border: none;
    width: 100%;
  }
</style>
