<template>
        <div class="row justify-content-center">

          <div class="col-12 mt-2-n">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Pencarian Data Siswa</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start wedew -->
                <div class="card-body">
                  <div class="row">
                    
                    <div class="col-md-6">
                      <div class="form-group input-group">
                        <input type="text" class="form-control" placeholder="Pencarian Nama atau Role" 
                        v-model="searchUserRoleModel" @keyup.enter.prevent="searchUserRole" />
                        <div class="input-group-append">
                          <button class="btn btn-navbar" @click="searchUserRole" type="button">
                            <i class="fa fa-search"></i>
                          </button>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group">
                        <span class="float-left mt-1 mr-2">Tampilkan</span>
                        <v-select :options="$static.dataPerPage()"
                        v-model = "dataPage"
                        placeholder = "Jumlah"
                        @input="setSelectedDataPage" class="w150 float-left mr-2"></v-select>
                        <span class="sjdata">Data</span>
                      </div>
                    </div>
                    
                  </div>
                  
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>

          <div class="col-12">
            <div class="card card-secondary">
              <div class="card-header">
                <h3 class="card-title">User Roles Table</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm">
                    <button class="btn btn-success" @click="newModal()" type="button">
                      Add New <i class="fas fa-user-plus fa-fw"></i>
                    </button>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody><tr>
                    <th>Nama Lengkap</th>
                    <th>Nama Role</th>
                    <th>Tanggal Dibuat</th>
                    <th>Modify</th>
                  </tr>
                  <tr v-for="role in roles.data" :key="role.id">
                    <td>{{ role.first_name | upText }} {{ role.last_name | upText }}</td>
                    <td>{{ role.role_name }}</td>
                    <td>{{ role.created_at | myDate }}</td>
                    <td>
                        <a href="#" @click="updateModal(role)">
                          <i class="fa fa-edit text-blue"></i>
                        </a> 
                        || 
                        <a href="#" @click="deleteRole(role.id)">
                          <i class="fa fa-trash text-red"></i>
                        </a>
                    </td>
                  </tr>
                </tbody></table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <pagination :data="roles" @pagination-change-page="loadRoles"></pagination>
              </div>
            </div>
            <!-- /.card -->
          </div>

          <!-- Modal -->
          <div class="modal fade" id="addNewUser" tabindex="-1" role="dialog" aria-labelledby="addNewUserLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 v-show="!editMode" class="modal-title" id="addNewUserLabel">Add New</h5>
                  <h5 v-show="editMode" class="modal-title" id="addNewUserLabel">Update User Role's info</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                
                <form @submit.prevent="editMode ? updateRole() : createRoles()">

                <div class="modal-body">
                  
                  <div class="form-group">
                    <label>Nama User</label>
                    <v-select :options="usersSel" v-model="selected"
                    :class="{ 'is-invalid': form.errors.has('user_id') }"
                    @input="setSelectedUsers">
                    </v-select>
                    <has-error :form="form" field="user_id"></has-error>
                  </div>

                  <div class="form-group">
                    <label>Role Level</label>
                    <v-select :options="rolesSel" v-model="selectedRole"
                    :class="{ 'is-invalid': form.errors.has('role_id') }"
                    @input="setSelectedRoles">
                    </v-select>
                    <has-error :form="form" field="level"></has-error>
                  </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button v-show="editMode" type="submit" class="btn btn-success">Update</button>
                  <button v-show="!editMode" type="submit" class="btn btn-primary">Create</button>
                </div>

                </form>

              </div>
            </div>
          </div>
        </div>
</template>

<script>
import moment from 'moment'
import Datepicker from 'vuejs-datepicker';
import 'vue-select/dist/vue-select.css';

    export default {
        data(){
          return {
            editMode : false,
            dataPage : 10,
            roles : {},
            masterRoles : [],
            users : [],
            usersSel : [],
            rolesSel : [],
            getParmas : {},
            form : new Form({
                        id: '', 
                        role_id: '',
                        user_id: '',
                        first_name: '',
                        last_name: '',
                        role_name: '',
                    }),
            selOpt:{},
            selected: '',
            selectedRole: '',
            searchUserRoleModel : '',
            // Deselect: {
            //   render: createElement => createElement('span', '❌'),
            // },
          }
        },
        components: {
          Datepicker
        },
        methods: {
          updateRole() {
            this.$Progress.start()
            this.form.put('/api/user-roles/'+this.form.id)
            .then( ()=> {
              Fire.$emit('AfterCreate')
              $('#addNewUser').modal('hide')
              this.form.reset();
              Swal.fire( 'Updated!', 'User Role data sudah updated.', 'success' )
              this.$Progress.finish()
            })
            .catch( ()=> {
              this.$Progress.fail()
            })
          },
          updateModal(role) {
            this.form.reset();
            this.editMode = true
            $('#addNewUser').modal('show')
            this.form.fill(role)
            this.selected = role.first_name+' '+role.last_name;
            this.selectedRole = role.role_name;
          },
          newModal() {
            this.form.reset();
            this.selected = '';
            this.selectedRole = '';
            this.editMode = false
            $('#addNewUser').modal('show')
          },
          deleteRole(id) {
            Swal.fire({
              title: 'Apa anda yakin?',
              text: "Anda tidak dapat mengembalikan data yang sudah di hapus!",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'ya, Hapus Saja!'
            }).then((result) => {
              if (result.value) {
                // Send request to the server
                this.form.delete('/api/user-roles/'+id)
                .then( () => {
                    Fire.$emit('AfterCreate')
                    Swal.fire(
                      'Deleted!',
                      'Data anda sudah terhapus.',
                      'success'
                    )
                })
                .catch( () => {
                  Swal.fire( 'Failed!', 'There was something wrong.', 'warning' )
                })
              }
            })
          },
          loadRoles (page = 1) {
            if(this.$gate.isAdmin){
              let params = '';
              var newParams = jQuery.param( this.getParmas );
              console.log('newParams', newParams);
              params = '&'+newParams

              this.$Progress.start()

              axios.get("/api/user-roles?page="+page+params)
              .then( ( data ) => {
                console.log('roles', data.data)
                this.roles = data.data
                this.$Progress.finish()
              });
            }
          },
          createRoles () {
            this.$Progress.start()
            this.form.post('/api/user-roles')
              .then(({ data }) => { 
                console.log(data) 
                Fire.$emit('AfterCreate')
                $('#addNewUser').modal('hide')
                toast.fire({
                  type: 'success',
                  title: 'Berhasil menginput data role baru'
                })

                this.form.reset();
                
                this.$Progress.finish()
              })
              .catch((error)=>{
                  console.log(error)
                  this.$Progress.finish()
              });
          },
          customFormatter(date) {
            // return moment(date).format('MMMM Do YYYY, h:mm:ss a');
            return moment(date).format('YYYY-MM-DD');
          },
          loadUsers () {
            axios.get("/api/users")
            .then( ({ data }) => {
              console.log('users', data.data)
              this.users = data.data
              for(let i = 0; i < this.users.length ; i++){
                this.usersSel.push({label: this.users[i].first_name+' '+this.users[i].last_name , code: this.users[i].id});
              }
              console.log('selUsers', this.usersSel)
            });
          },
          loadMasterRoles () {
            axios.get("/api/roles")
              .then( ({ data }) => {
                console.log('roles', data.data)
                this.masterRoles = data.data
                for(let i = 0; i < this.masterRoles.length ; i++){
                  this.rolesSel.push({label: this.masterRoles[i].role_name, code: this.masterRoles[i].id});
                }
                console.log('rolesSel', this.rolesSel)
              });
          },
          setSelectedUsers(value) {
            console.log('user_id', value.code)
            this.form.user_id = value.code
            this.selected = value.label
          },
          setSelectedRoles(value) {
            console.log('role_id', value.code)
            this.form.role_id = value.code
            this.selectedRole = value.label
          },
          searchUserRole(){
            this.getParmas.cariNis = this.searchUserRoleModel
            this.loadRoles()
          },
          setSelectedDataPage(){
            this.getParmas.perPage = this.dataPage
            this.loadRoles()
          }
        },
        mounted() {
            console.log('Component mounted.')
        },
        created(){
          this.loadRoles()
          this.loadUsers()
          this.loadMasterRoles();
          Fire.$on('AfterCreate', () => {
            this.loadRoles()
          })
        }
    }
</script>

<style type="text/css">
  input[name="year_of_entry"]{
    border: none;
    width: 100%;
  }
</style>
