<template>
        <div class="row justify-content-center">
          <div class="col-12 mt-2-n" v-if="$gate.isAdmin()">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Data</h3>

                <div class="card-tools" style="top:7px;">
                  <div class="input-group input-group-sm">
                    <button @click="$router.go(-1)" class="btn btn-danger btn-sm">
                      <i class="fas fa-backward"></i> Back
                    </button>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <form class="form-horizontal" @submit.prevent="updateTeacher()">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-sm-12 control-label">Nama Depan</label>
                        <div class="col-sm-12">
                          <input v-model="form.first_name" type="text" class="form-control" placeholder="Nama Depan"
                          :class="{ 'is-invalid': form.errors.has('first_name') }">
                        <has-error :form="form" field="first_name"></has-error>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-12 control-label">Type</label>
                        <div class="col-sm-12">
                          <select v-model="form.type" name="type" class="form-control" @change="typeChange($event)">
                            <option v-for="type in typeOptions" v-bind:value="type.id">
                              {{ type.text }}
                            </option>
                          </select>
                          <has-error :form="form" field="gender"></has-error>
                        </div>
                      </div>

                      <div class="form-group" v-show="showT">
                        <label class="col-sm-12 control-label">N.I.G</label>
                        <div class="col-sm-12">
                          <input v-model="form.nig" type="text" class="form-control" placeholder="N.I.G"
                          :class="{ 'is-invalid': form.errors.has('nig') }">
                          <has-error :form="form" field="nig"></has-error>
                        </div>
                      </div>

                      <div class="form-group" v-show="showS">
                        <label class="col-sm-12 control-label">N.I.S</label>
                        <div class="col-sm-12">
                          <input v-model="form.nis" type="text" class="form-control" placeholder="N.I.S"
                          :class="{ 'is-invalid': form.errors.has('nis') }">
                          <has-error :form="form" field="nis"></has-error>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-12 control-label">Agama</label>
                        <div class="col-sm-12">
                          <select v-model="religionOpt" name="religionOpt" class="form-control" :options="options">
                            <option v-for="religionOption in religionOptions" v-bind:value="religionOption.id">
                              {{ religionOption.text }}
                            </option>
                          </select>
                          <has-error :form="form" field="religion"></has-error>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-12 control-label">Alamat</label>
                        <div class="col-sm-12">
                          <textarea v-model="form.address" class="form-control" name="address" 
                          :class="{ 'is-invalid': form.errors.has('address') }"></textarea>
                          <has-error :form="form" field="address"></has-error>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="inputSkills" class="col-sm-12 control-label">Password</label>
                        <div class="col-sm-12">
                          <input v-model="form.password" type="password" placeholder="Password" value=""
                          class="form-control" :class="{ 'is-invalid': form.errors.has('password') }">
                          <has-error :form="form" field="password"></has-error>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="inputSkills" class="col-sm-12 control-label">Konfirmasi Password</label>
                        <div class="col-sm-12">
                          <input v-model="form.password_confirmation" type="password" name="password" 
                          placeholder="Konfirmasi Password" 
                          class="form-control" :class="{ 'is-invalid': form.errors.has('password_confirmation') }">
                          <has-error :form="form" field="password_confirmation"></has-error>
                        </div>
                      </div>

                    </div>

                    <div class="col-md-6">
                      
                      <div class="form-group">
                        <label class="col-sm-12 control-label">Nama Belakang</label>
                        <div class="col-sm-12">
                          <input v-model="form.last_name" type="text" class="form-control" placeholder="Nama Belakang"
                          :class="{ 'is-invalid': form.errors.has('last_name') }">
                          <has-error :form="form" field="last_name"></has-error>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-12 control-label">Jenis Kelamin</label>
                        <div class="col-sm-12">
                          <select v-model="selOpt" name="selOpt" class="form-control" :options="options">
                            <option v-for="option in options" v-bind:value="option.id">
                              {{ option.text }}
                            </option>
                          </select>
                          <has-error :form="form" field="gender"></has-error>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="inputEmail" class="col-sm-12 control-label">Email</label>
                        <div class="col-sm-12">
                          <input v-model="form.email" type="email" name="email" placeholder="Email"
                          class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                          <has-error :form="form" field="email"></has-error>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="inputName2" class="col-sm-12 control-label">No Handphone</label>
                        <div class="col-sm-12">
                          <input v-model="form.phone_number" type="text" name="phone_number" 
                          placeholder="No Handphone" class="form-control" 
                          :class="{ 'is-invalid': form.errors.has('phone_number') }">
                          <has-error :form="form" field="phone_number"></has-error>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-12 control-label">Tempat Lahir</label>
                        <div class="col-sm-12">
                          <input v-model="form.born_at" type="text" class="form-control" placeholder="Tempat Lahir"
                          :class="{ 'is-invalid': form.errors.has('born_at') }">
                        <has-error :form="form" field="born_at"></has-error>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-12">Tanggal Lahir</label>
                        <div class="col-sm-12">
                          <datepicker v-model="form.birth_date" placeholder="Tanggal Masuk" class="form-control" 
                          :class="{ 'is-invalid': form.errors.has('birth_date') }" name="birth_date" 
                           @selected="doSomethingInParentComponentFunctions" :format="customFormatter"></datepicker>
                          <has-error :form="form" field="birth_date"></has-error>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-12">Tahun Masuk</label>
                        <div class="col-sm-12">
                          <datepicker v-model="form.year_of_entry" placeholder="Tahun Masuk" class="form-control" 
                          :class="{ 'is-invalid': form.errors.has('year_of_entry') }" name="year_of_entry" 
                           @selected="doSomethingInParentComponentFunction" :format="customFormatter"></datepicker>
                          <has-error :form="form" field="year_of_entry"></has-error>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="" class="col-sm-12 control-label">Profil Foto</label>
                        <div class="col-sm-6">
                          <input type="file" name="profile_pic" class="form-input" @change="cprofile_pic">
                        </div>
                        <div class="col-md-6" v-if="showPhoto">
                          <img class="rounded" :src="getProfilePhoto()" alt="User Avatar" style="max-width: 100%;">
                        </div>
                      </div>

                    </div>
                      <!-- <has-error :form="form" field="gender"></has-error>
                    </div> -->
                  </div>

                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /.card-body -->
              <!-- <div class="card-footer">
                <pagination :data="users" @pagination-change-page="getResults"></pagination>
              </div> -->
            </div>
            <!-- /.card -->

            <div class="card" v-if="$gate.isAdmin()">
              <div class="card-header">
                <h3 class="card-title">Role</h3>

                <div class="card-tools">
                  <button class="btn btn-success pull-left mr-2" @click="newModal()" type="button">
                    Add New
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-hover">
                  <tbody><tr>
                    <th>Role Id</th>
                    <th>Role Name</th>
                    <th>Modify</th>
                  </tr>
                  <tr v-for="userrole in userRoles.data" :key="userrole.id">
                    <td>{{ userrole.role_id }}</td>
                    <td>{{ userrole.role_name | upText }}</td>
                    <td>
                        <a href="#" @click="updateRoleModal(userrole)">
                          <i class="fa fa-edit text-blue"></i>
                        </a> 
                        || 
                        <a href="#" @click="deleteUserRole(userrole.id)">
                          <i class="fa fa-trash text-red"></i>
                        </a>
                    </td>
                  </tr>
                </tbody></table>
              </div>

            </div>


            <div class="card" v-if="$gate.isAdmin()">
              <div class="card-header">
                <h3 class="card-title">Company</h3>

                <div class="card-tools">
                  <button class="btn btn-success pull-left mr-2" @click="newModalCompany()" type="button">
                    Add New
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-hover">
                  <tbody><tr>
                    <th>Company Id</th>
                    <th>Company Name</th>
                    <th>Modify</th>
                  </tr>
                  <tr v-for="company in companies" :key="company.id">
                    <td>{{ company.company_id }}</td>
                    <td>{{ company.company_name | upText }}</td>
                    <td>
                        <a @click.prevent="updateCompanyModal(company)">
                          <i class="fa fa-edit text-blue"></i>
                        </a> 
                        || 
                        <a @click.prevent="deleteCompany(company.id)">
                          <i class="fa fa-trash text-red"></i>
                        </a>
                    </td>
                  </tr>
                </tbody></table>
              </div>

            </div>

            <!-- Modal -->
            <div class="modal fade" id="addNewUserRole" tabindex="-1" role="dialog" aria-labelledby="addNewUserLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 v-show="!editMode" class="modal-title" id="addNewUserLabel">Add New</h5>
                    <h5 v-show="editMode" class="modal-title" id="addNewUserLabel">Update User's Role</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  
                  <form @submit.prevent="editMode ? updateUserRole() : createUserRole()">

                  <div class="modal-body">

                    <div class="form-group">
                      <label>Role Level</label>
                      <v-select :options="rolesSel" v-model="selectedRole"
                      :class="{ 'is-invalid': formUserRole.errors.has('role_id') }"
                      @input="setSelectedRoles">
                      </v-select>
                      <has-error :form="formUserRole" field="level"></has-error>
                    </div>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button v-show="editMode" type="submit" class="btn btn-success">Update</button>
                    <button v-show="!editMode" type="submit" class="btn btn-primary">Create</button>
                  </div>

                  </form>

                </div>
              </div>
            </div>


            <div class="modal fade" id="addNewUserCompany" tabindex="-1" role="dialog" aria-labelledby="addNewUserLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 v-show="!editMode" class="modal-title" id="addNewUserLabel">Add New</h5>
                    <h5 v-show="editMode" class="modal-title" id="addNewUserLabel">Update User's Company</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  
                  <form @submit.prevent="editMode ? updateUserCompany() : createUserCompany()">

                  <div class="modal-body">

                    <div class="form-group">
                      <label>Company Name</label>
                      <v-select :options="companiesSel" v-model="selectedCompany"
                      :class="{ 'is-invalid': formUserCompany.errors.has('company_id') }"
                      @input="setSelectedCompanies">
                      </v-select>
                      <has-error :form="formUserCompany" field="company_id"></has-error>
                    </div>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button v-show="editMode" type="submit" class="btn btn-success">Update</button>
                    <button v-show="!editMode" type="submit" class="btn btn-primary">Create</button>
                  </div>

                  </form>

                </div>
              </div>
            </div>



          </div>

          <div v-if="!$gate.isAdmin()">
            <h3>Halaman tidak di temukan....!!!!!</h3>
            <not-found></not-found>
          </div>
        </div>
</template>

<script>
import moment from 'moment'
import Datepicker from 'vuejs-datepicker';
import Vuetable from 'vuetable-2'

    export default {
        data(){
          return {
            editMode : false,
            showT : true,
            showS : false,
            users : {},
            showPhoto : false,
            userRoles : {},
            masterRoles : [],
            masterCompanies : [],
            rolesSel : [],
            companiesSel : [],
            companies : [],
            form : new Form({
                        id: '',
                        first_name: '',
                        last_name: '',
                        nig: '',
                        nis: '',
                        gender: 'M',
                        email: '',
                        address: '',
                        phone_number: '',
                        year_of_entry: '',
                        birth_date: '',
                        born_at: '',
                        religion: '',
                        password: '',
                        password_confirmation: '',
                        profile_pic: '',
                        type : ''
                    }),

            formUserRole : new Form({
                        id: '', 
                        role_id: '',
                        user_id: '',
                    }),
            formUserCompany : new Form({
                        id: '', 
                        company_id: '',
                        company_name: '',
                        user_id: '',
                    }),

            options: [
              { id: 'M', text: 'Laki-laki' },
              { id: 'F', text: 'Perempuan' }
            ],
            typeOptions: [
              { id: 'T', text: 'Guru' },
              { id: 'S', text: 'Siswa' }
            ],
            religionOptions: [
              { id: 'islam', text: 'Islam' },
              { id: 'kristen protestan', text: 'Kristen Protestan' },
              { id: 'katolik', text: 'Katolik' },
              { id: 'hindu', text: 'Hindu' },
              { id: 'buddha', text: 'Buddha' },
              { id: 'kong hu cu', text: 'Kong Hu Cu' },
            ],
            selOpt:'',
            religionOpt:'',
            selectedRole: '',
            selectedCompany: '',
          }
        },
        components: {
          Datepicker,
          Vuetable
        },
        methods: {
          updateCompanyModal(company) {
            console.log('company : ', company)
            this.editMode = true
            this.formUserCompany.fill(company)
            this.selectedCompany = company.company_name
            this.loadMasterCompanies()
            $('#addNewUserCompany').modal('show')
          },
          updateUserCompany(){
            this.$Progress.start()
            // alert(JSON.stringify(this.formUserCompany))
            // return false
            this.formUserCompany.put('/api/update-company-user/'+this.formUserCompany.id)
            .then( ()=> {
              Fire.$emit('AfterCreate')
              $('#addNewUserCompany').modal('hide')
              this.formUserCompany.reset();
              Swal.fire( 'Updated!', 'User Company data sudah updated.', 'success' )
              this.$Progress.finish()
            })
            .catch( ()=> {
              alert('Update user company error')
              this.$Progress.fail()
            })
          },
          updateRoleModal(role) {
            console.log('role update : ', role)
            this.formUserRole.reset();
            this.editMode = true
            $('#addNewUserRole').modal('show')
            this.selectedRole = role.role_name
            // this.formUserRole.role_id = role.role_id
            // this.formUserRole.user_id = this.$route.params.userid
            this.formUserRole.fill(role)
            this.rolesSel = []
            this.companiesSel = []
            this.loadMasterRoles()
          },
          updateUserRole(){
            this.$Progress.start()
            this.formUserRole.put('/api/user-roles/'+this.formUserRole.id)
            .then( ()=> {
              Fire.$emit('AfterCreate')
              $('#addNewUserRole').modal('hide')
              this.formUserRole.reset();
              Swal.fire( 'Updated!', 'User Role data sudah updated.', 'success' )
              this.$Progress.finish()
            })
            .catch( ()=> {
              alert('Update user role error')
              this.$Progress.fail()
            })
          },
          updateTeacher() {
            this.$Progress.start()
            this.form.year_of_entry = this.customFormatter(this.form.year_of_entry)
            this.form.birth_date = this.customFormatter(this.form.birth_date)
            this.form.put('/api/users/'+this.form.id)
            .then( ()=> {
              Fire.$emit('AfterCreate')
              Swal.fire( 'Updated!', 'User data is updated.', 'success' )
              this.$Progress.finish()
            })
            .catch( ()=> {
              this.$Progress.fail()
            })
          },
          deleteUserRole(id) {
            Swal.fire({
              title: 'Are you sure?',
              text: "You won't be able to revert this!",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
              if (result.value) {
                // Send request to the server
                this.formUserRole.delete('/api/user-roles/'+id)
                .then( () => {
                    Fire.$emit('AfterCreate')
                    Swal.fire(
                      'Deleted!',
                      'Your file has been deleted.',
                      'success'
                    )
                })
                .catch( () => {
                  Swal.fire( 'Failed!', 'There was something wrong.', 'warning' )
                })
              }
            })
          },
          deleteCompany(id) {
            Swal.fire({
              title: 'Are you sure?',
              text: "You won't be able to revert this!",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
              if (result.value) {
                // Send request to the server
                this.formUserRole.delete('/api/delete-company-user/'+id)
                .then( () => {
                    Fire.$emit('AfterCreate')
                    Swal.fire(
                      'Deleted!',
                      'Your file has been deleted.',
                      'success'
                    )
                })
                .catch( () => {
                  Swal.fire( 'Failed!', 'There was something wrong.', 'warning' )
                })
              }
            })
          },
          loadTeachers () {
            if(this.$gate.isAdmin){
              axios.get('/api/users/'+this.$route.params.userid)
              .then((data)=>{
                console.log('data', data.data)
                this.selOpt = data.data.gender
                this.religionOpt = data.data.religion
                this.form.fill(data.data)
                this.form.password = ''
                this.getProfilePhoto()
                // console.log(this.form.type)
              })
              .catch(()=>{
                alert("Error load data")
              })
            }
          },
          loadRole () {
            if(this.$gate.isAdmin){
              axios.get('/api/role-by-user/'+this.$route.params.userid)
              .then((data)=>{
                console.log('userRole : ', data.data)
                this.userRoles = data;
              })
              .catch(()=>{
                alert("Error load data")
              })
            }
          },
          doSomethingInParentComponentFunction(date){
            // alert(date)
            this.form.year_of_entry = this.customFormatter(date)
          },
          doSomethingInParentComponentFunctions(date){
            // alert(date)
            this.form.birth_date = this.customFormatter(date)
          },
          customFormatter(date) {
            // return moment(date).format('MMMM Do YYYY, h:mm:ss a');
            return moment(date).format('YYYY-MM-DD');
          },
          typeChange(event){
            if(event.target.value == "T"){
              this.showT = true
              this.showS = false
              this.form.nis = ''
            }else if(event.target.value == "S"){
              this.showT = false
              this.showS = true
              this.form.nig = ''
            }
            this.form.type = event.target.value
          },
          cprofile_pic(e){
            // console.log(e);
            let file = e.target.files[0]
            let reader = new FileReader()
            console.log(file)
            if( file['size'] < 2111775 ){
              reader.onloadend = (file) => {
                console.log('RESULT', reader.result)
                this.form.profile_pic = reader.result
              }
              reader.readAsDataURL(file)
              this.getProfilePhoto()
            }else{
              this.form.profile_pic = ''
              Swal.fire( 'Oppsss...', 'File yang anda upload terlalu besar. File maximal 2MB.', 'error' )
            }
            
          },
          getProfilePhoto(){
            if(this.form.profile_pic != '' && this.form.profile_pic != undefined){
              this.showPhoto = true
              let photo = (this.form.profile_pic.length > 100) ? this.form.profile_pic : "/img/profile/"+this.form.profile_pic
              return photo
            }
          },
          newModal() {
            this.formUserRole.reset();
            this.editMode = false
            this.selectedRole = ''
            this.rolesSel = []
            this.companiesSel = []
            this.loadMasterRoles()
            $('#addNewUserRole').modal('show')
          },
          newModalCompany() {
            this.formUserCompany.reset()
            this.editMode = false
            this.selectedCompany = ''
            // this.companiesSel = []
            this.loadCompanies()
            $('#addNewUserCompany').modal('show')
          },
          loadMasterRoles () {
            axios.get("/api/roles?user_id=" + this.$route.params.userid)
              .then( ({ data }) => {
                console.log('roles', data.data)
                this.masterRoles = data.data
                for(let i = 0; i < this.masterRoles.length ; i++){
                  this.rolesSel.push({label: this.masterRoles[i].role_name, code: this.masterRoles[i].id});
                }
                console.log('rolesSel', this.rolesSel)
              });
          },
          loadMasterCompanies () {
            if(this.$gate.isAdmin){
              axios.get("/api/find-company-by-user?not="+this.$route.params.userid)
              .then( ({ data }) => {
                console.log('companies', data)
                this.companiesSel = [];
                this.masterCompanies = data
                for(let i = 0; i < this.masterCompanies.length ; i++){
                  this.companiesSel.push({label: this.masterCompanies[i].company_name, code: this.masterCompanies[i].id});
                }
                console.log('companiesSel', this.companiesSel)
              })
            }
          },
          setSelectedRoles(value) {
            console.log('role_id', value.code)
            this.formUserRole.role_id = value.code
            this.selectedRole = value.label
          },
          setSelectedCompanies(value) {
            console.log('company_id', value.code)
            this.formUserCompany.company_id = value.code
            this.selectedCompany = value.label
          },
          createUserRole() {
            this.$Progress.start()
            this.formUserRole.user_id = this.$route.params.userid
            this.formUserRole.post('/api/user-roles')
            .then(({ data }) => { 
              console.log(data) 
              Fire.$emit('AfterCreate')
              $('#addNewUserRole').modal('hide')
              toast.fire({
                type: 'success',
                title: 'Berhasil menginput data role baru'
              })

              this.formUserRole.reset();
              
              this.$Progress.finish()
            })
            .catch((error)=>{
                console.log(error)
                alert('Insert User Role Error')
                this.$Progress.finish()
            });
          },
          createUserCompany(){
            this.$Progress.start()
            this.formUserCompany.user_id = this.$route.params.userid
            console.log('userCompany', this.formUserCompany)
            this.formUserCompany.post('/api/store-company-user')
            .then(({ data }) => { 
              console.log(data) 
              Fire.$emit('AfterCreate')
              $('#addNewUserCompany').modal('hide')
              toast.fire({
                type: 'success',
                title: 'Berhasil menginput data role baru'
              })

              this.formUserCompany.reset();
              this.$Progress.finish()
            })
            .catch((error)=>{
                console.log(error)
                alert('Insert User Company Error')
                this.$Progress.finish()
            });
          },
          loadCompanies () {
            if(this.$gate.isAdmin){
              axios.get("/api/find-company-by-user?in="+this.$route.params.userid)
              .then( ({ data }) => (this.companies = data) )
            }
          },
        },
        watch: {
          // whenever question changes, this function will run
          selOpt: function (newQuestion, oldQuestion) {
            this.form.gender = newQuestion;
          },
          religionOpt: function (newQuestion, oldQuestion) {
            this.form.religion = newQuestion;
          },
          // type: function (newQuestion, oldQuestion) {
          //   alert(123)
          // }
        },
        mounted() {
            console.log('Component mounted.')
            // console.log('userid : '+this.$route.params.userid)
        },
        created(){
          this.$parent.search = ''
          this.form.year_of_entry = new Date()
          this.form.year_of_entry = this.customFormatter(this.form.year_of_entry)
          this.form.birth_date = new Date()
          this.form.birth_date = this.customFormatter(this.form.birth_date)
          this.loadTeachers()
          this.loadRole()
          this.loadCompanies()
          this.loadMasterCompanies()
          Fire.$on('AfterCreate', () => {
            this.loadTeachers()
            this.loadRole()
            this.loadCompanies()
          })
          // setInterval( () => this.loadTeachers(), 3000);
        }
    }
</script>

<style type="text/css">
  input[name="year_of_entry"],
  input[name="birth_date"] {
    border: none;
    width: 100%;
  }
</style>
