<template>
        <div class="row justify-content-center">


          <div class="col-12 mt-2-n">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Pencarian Tahun Ajaran</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start wedew -->
                <div class="card-body">
                  <div class="row">
                    
                    <div class="col-md-6">
                      <div class="form-group input-group">
                        <input type="text" class="form-control" placeholder="Pencarian Tahun Ajaran" 
                        v-model="searchYearModel" @keyup.enter.prevent="searchYear" />
                        <div class="input-group-append">
                          <button class="btn btn-navbar" @click="searchYear" type="button">
                            <i class="fa fa-search"></i>
                          </button>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <span class="float-left mt-1 mr-2">Tampilkan</span>
                        <v-select :options="$static.dataPerPage()"
                        v-model = "dataPage"
                        placeholder = "Jumlah"
                        @input="setSelectedDataPage" class="w150 float-left mr-2"></v-select>
                        <span class="sjdata">Data</span>
                      </div>
                    </div>
                    
                  </div>
                  
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>

          <div class="col-12" v-if="$gate.isAdmin()">
            <div class="card card-secondary">
              <div class="card-header">
                <h3 class="card-title">Tabel Tahun Ajaran</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm">
                    <button class="btn btn-success pull-left" @click="newModal()" type="button">
                      Tambah Baru <i class="fas fa-user-plus fa-fw"></i>
                    </button>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody><tr>
                    <th>Nama Year</th>
                    <th>Tanggal Dibuat</th>
                    <th>Aktif</th>
                    <th>Modify</th>
                  </tr>
                  <tr v-for="year in years.data" :key="year.id">
                    <td>{{ year.year_name | upText }}</td>
                    <td>{{ year.created_at | myDate }}</td>
                    <td>{{ year.active }}</td>
                    <td>
                        <a @click="updateModal(year)" class="a-modify">
                          <i class="fa fa-edit text-blue"></i>
                        </a> 
                        || 
                        <a @click="deleteYear(year.id)" class="a-modify">
                          <i class="fa fa-trash text-red"></i>
                        </a>
                    </td>
                  </tr>
                </tbody></table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <pagination :data="years" @pagination-change-page="loadYears"></pagination>
              </div>
            </div>
            <!-- /.card -->
          </div>

          <!-- Modal -->
          <div class="modal fade" id="addNewUser" tabindex="-1" role="dialog" aria-labelledby="addNewUserLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 v-show="!editMode" class="modal-title" id="addNewUserLabel">Add New</h5>
                  <h5 v-show="editMode" class="modal-title" id="addNewUserLabel">Update Year's info</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                
                <form @submit.prevent="editMode ? updateYear() : createYears()">

                <div class="modal-body">
                  
                  <div class="form-group">
                    <label>Nama Year</label>
                    <input v-model="form.year_name" type="text" name="year_name" placeholder="Nama Year" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('year_name') }">
                    <has-error :form="form" field="year_name"></has-error>
                  </div>

                  <div class="form-group" v-if="editMode">
                    <label>Aktif</label>
                    <input v-model="form.active" type="text" name="active" placeholder="Aktif" 
                      class="form-control" :class="{ 'is-invalid': form.errors.has('active') }">
                    <has-error :form="form" field="active"></has-error>
                  </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button v-show="editMode" type="submit" class="btn btn-success">Update</button>
                  <button v-show="!editMode" type="submit" class="btn btn-primary">Create</button>
                </div>

                </form>

              </div>
            </div>
          </div>
        </div>
</template>

<script>
import moment from 'moment'
import Datepicker from 'vuejs-datepicker';

    export default {
        data(){
          return {
            editMode : false,
            years : {},
            searchYearModel : null,
            getParmas : {},
            dataPage : 10,
            form : new Form({
                        id: '', 
                        year_name: '',
                        active: '',
                        insert_by: '',
                        update_by: '',
                    }),
          }
        },
        components: {
          Datepicker
        },
        methods: {
          updateYear() {
            this.$Progress.start()
            this.form.put('/api/years/'+this.form.id)
            .then( ()=> {
              Fire.$emit('AfterCreate')
              $('#addNewUser').modal('hide')
              this.form.reset();
              Swal.fire( 'Updated!', 'Year data sudah updated.', 'success' )
              this.$Progress.finish()
            })
            .catch( ()=> {
              this.$Progress.fail()
            })
          },
          updateModal(year) {
            this.form.reset();
            this.editMode = true
            $('#addNewUser').modal('show')
            this.form.fill(year)
          },
          newModal() {
            this.form.reset();
            this.editMode = false
            $('#addNewUser').modal('show')
          },
          deleteYear(id) {
            Swal.fire({
              title: 'Apa anda yakin?',
              text: "Anda tidak dapat mengembalikan data yang sudah di hapus!",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'ya, Hapus Saja!'
            }).then((result) => {
              if (result.value) {
                // Send request to the server
                this.form.delete('/api/years/'+id)
                .then( () => {
                    Fire.$emit('AfterCreate')
                    Swal.fire(
                      'Deleted!',
                      'Data anda sudah terhapus.',
                      'success'
                    )
                })
                .catch( () => {
                  Swal.fire( 'Failed!', 'There was something wrong.', 'warning' )
                })
              }
            })
          },
          loadYears (page = 1) {
            if(this.$gate.isAdmin){
              let params = '';
              var newParams = jQuery.param( this.getParmas );
              console.log('newParams', newParams);
              params = '&'+newParams

              this.$Progress.start()
              
              axios.get("/api/years?page="+page+params)
              .then( ( data ) => {
                this.years = data.data
                this.$Progress.finish()
              });
            }
          },
          createYears () {
            this.$Progress.start()
            this.form.post('/api/years')
              .then(({ data }) => { 
                console.log(data) 
                Fire.$emit('AfterCreate')
                $('#addNewUser').modal('hide')
                toast.fire({
                  type: 'success',
                  title: 'Berhasil menginput data year baru'
                })

                this.form.reset();
                
                this.$Progress.finish()
              })
              .catch((error)=>{
                  console.log(error)
                  this.$Progress.finish()
              });
          },
          customFormatter(date) {
            // return moment(date).format('MMMM Do YYYY, h:mm:ss a');
            return moment(date).format('YYYY-MM-DD');
          },
          searchYear(){
            this.getParmas.cariThnAjaran = this.searchYearModel
            this.loadYears();
          },
          setSelectedDataPage(){
            this.getParmas.perPage = this.dataPage
            this.loadYears();
          }
        },
        mounted() {
            console.log('Component mounted.')
        },
        created(){
          this.loadYears()
          Fire.$on('AfterCreate', () => {
            this.loadYears()
          })
        }
    }
</script>

<style type="text/css">
  input[name="year_of_entry"]{
    border: none;
    width: 100%;
  }
  .a-modify{
    cursor: pointer;
  }
</style>
